@using prjCoreWantMember.ViewModels
@model CExpertInfoViewModel


@{
    ViewData["Title"] = "AddExpertResume";
    Layout = "~/Views/Member/LayoutForMem.cshtml";

}

<h1>新增專家履歷</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddExpertResume">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<input asp-for="@Model.resume.AccountId" class="form-control" type="hidden" />
            <input asp-for="@Model.resume.ResumeId" class="form-control" type="hidden" />
            <input asp-for="@Model.resume.TownId" class="form-control" type="hidden" />*@
            <div class="form-group">
                <label asp-for="@Model.cityName" class="control-label"></label>
                <input class="form-control" /> @*這裡的cityName因為只有get，所以在設定上可能會有問題*@
                <span asp-validation-for="@Model.cityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.townName" class="control-label"></label>
                <input class="form-control" /> @*這裡的cityName因為只有get，所以在設定上可能會有問題*@
                <span asp-validation-for="@Model.townName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.resume.Address" class="control-label"></label>
                <input class="form-control" />
                <span asp-validation-for="@Model.resume.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.resume.Autobiography" class="control-label"></label>
                <textarea class="form-control"></textarea>
                <span asp-validation-for="@Model.resume.Autobiography" class="text-danger"></span>
            </div>
            @* <div class="form-group">
            <label asp-for="@Model.FirstOrDefault().resume.WorkingHoursId" class="control-label"></label>
            <input asp-for="@Model.FirstOrDefault().resume.WorkingHoursId" class="form-control" />
            <span asp-validation-for="@Model.FirstOrDefault().resume.WorkingHoursId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="@Model.resume.Photo" class="control-label"></label>
                <input class="form-control" />
                <span asp-validation-for="@Model.resume.Photo" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="@Model.FirstOrDefault().resume.OnTop" class="control-label"></label>
            <input asp-for="@Model.FirstOrDefault().resume.OnTop" class="form-control" />
            <span asp-validation-for="@Model.FirstOrDefault().resume.OnTop" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
            <label asp-for="@Model.FirstOrDefault().resume.TaskNameId" class="control-label"></label>
            <input asp-for="@Model.FirstOrDefault().resume.TaskNameId" class="form-control" />
            <span asp-validation-for="@Model.FirstOrDefault().resume.TaskNameId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="@Model.expertResume.Introduction" class="control-label"></label>
                <input class="form-control" />
                <span asp-validation-for="@Model.expertResume.Introduction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.expertResume.WorksUrl" class="control-label"></label>
                <input class="form-control" />
                <span asp-validation-for="@Model.expertResume.WorksUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.expertResume.ServiceMethod" class="control-label"></label>
                <input class="form-control" />
                <span asp-validation-for="@Model.expertResume.ServiceMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.expertResume.PaymentMethod" class="control-label"></label>
                <input class="form-control" />
                <span asp-validation-for="@Model.expertResume.PaymentMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.expertResume.Problem" class="control-label"></label>
                <input class="form-control" />
                <span asp-validation-for="@Model.expertResume.Problem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.expertResume.CommonPrice" class="control-label"></label>
                <input class="form-control" />
                <span asp-validation-for="@Model.expertResume.CommonPrice" class="text-danger"></span>
            </div>
            @*<div class="form-group form-check">
            <label class="form-check-label">
            <input class="form-check-input" asp-for="@Model.FirstOrDefault().resume.IsExpertOrNot" /> @Html.DisplayNameFor(model => model.resume.IsExpertOrNot)
            </label>
            </div>*@
            <div class="form-group">
                <input type="submit" value="儲存" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ExpertMemberPage">返回</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
