@using Microsoft.AspNetCore.Http;
@using PagedList
@using X.PagedList.Mvc.Core

@using X.PagedList.Web.Common;
@using prjCoreWebWantWant.ViewModels;

@model X.PagedList.IPagedList<CExpertSearchViewModel>

@*確定有沒有登入*@
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using System.Text.Json;

@{
    ViewData["Title"] = "ExpertMainPage";
    int CountExpert = 0;
    var httpContext = HttpContextAccessor.HttpContext;
}

@section Styles{
    <style>
        .filter_block{
            background-color: #E5EDF6;
            border: 1px solid #00000026;
            border-radius: 0.375rem;
        padding: 5px;
        margin:10px;
    }

      
    </style>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" rel="stylesheet">
}


<div class="container">
<div class="row justify-content-center">
    <div>
        <h2 class="text-center mt-5 myh2" style="font-weight:bold">
            <span style="color:#9eb9d3">●</span>
            <span style="color:#c0d3e6">●</span>
            <span style="color:#e5edf6">●</span>
            WantWant找專家
            <span style="color:#e5edf6">●</span>
            <span style="color:#c0d3e6">●</span>
            <span style="color:#9eb9d3">●</span>
        </h2>
    </div>
   

    
    <!--Bootstrap 樣式類：用於創建一個水平的「行」容器、於在「行」容器中使內容水平居中對齊。-->
    <div class="col-3 g-0 ps-2 pe-2 me-4">
        <!--左側搜尋(篩選)-->
        <!--Bootstrap：創建一個佔據父容器 25% 寬度的列，並在左側和右側添加內邊距，同時在右側添加外邊距。-->
        <div class="filter_block ">
            <!--白色的框框，但好像沒套到-->
            <div class="flex-column">
                @* 自訂 ：應該是為了包住搜尋的標籤&搜尋框框，但好像沒套到*@
                <label class="fs-4 pl-2 pt-2">搜尋專家</label>
                <!-- 添加 form 元素並設定 action 屬性 -->
        <form action="@Url.Action("ExpertMainPage", "Expert")" method="get">
                <div class="d-flex align-items-center search_container position-relative">
                    <!--為了製作搜尋的輸入框(包含前方小圖&按鈕)-->
                    <!--Bootstrap 樣式：d-flex：啟用 Flexbox 佈局，這將使元素的子元素能夠使用 Flexbox 屬性進行排列。-->
                    <!--Bootstrap 樣式：align-items-center：用於在 Flexbox 容器中將子元素垂直居中對齊。-->
                    <!--自訂 樣式：search_container：但好像沒套到-->
                    <!--Bootstrap 樣式：position-relative：用於將元素的 position 屬性設置為 relative，從而創建相對定位的容器。這允許你在容器內使用絕對定位來放置其他元素。-->
                    <!--實現 Flexbox 佈局、垂直居中對齊，同時創建了一個相對定位的容器-->
                    <i class="fa-solid fa-magnifying-glass me-2"></i>
                    <input type="text" id="inputKeyword" name="txtKeyword" class="search-input" placeholder="搜尋專家">
                    @* 自訂 ：可能要做Form才會送出&好像沒套到*@
                        <button type="submit" class="btn btn-outline-primary ms-2">查詢</button>
                </div>
                </form>
            </div>
        </div>
        <!--左側工具列先不要管他-->
        <!--左側技能類別-->
        <div class="filter_block">
            <label class="fs-4 pl-2 pt-2">所有專長類別</label>
            @using (Html.BeginForm())
            {

                <select name="selectCategory" id="skilltypeselect" class="form-select form-select-lg mb-3" aria-label="Large select example">
                </select>
                <select name="selectCategory" id="skillselect" class="form-select form-select-lg mb-3" aria-label="Large select example">
                    <option value=''>請先選擇專長</option>
                </select>
            }
        </div>
        <!--左側證照類別-->
        <div class="filter_block">
            <label class="fs-4 pl-2 pt-2">所有證照類別</label>
            <div class="controls-display-row category-click">
                @using (Html.BeginForm())
                {

                    <select id="certificatetypeselect" class="form-select form-select-lg mb-3" aria-label="Large select example">
                    </select>
                    <select id="certificateselect" class="form-select form-select-lg mb-3" aria-label="Large select example">
                        <option value=''>請先選擇證照</option>
                    </select>
                }



            </div>
            </div>
        <!--價格篩選-->@*請教亞芝姐怎麼變成同一條的，或是小C叫我用noUiSlider*@
        <div class="filter_block">
            <label class="fs-4 pt-1 form-label" for="customRange1">篩選價格</label>
            <div class="mt-4">
                <section class="range-slider range-container pb-3 ">
                    <input id="rangeOne" name="ranvgeOne" value="@ViewBag.MaxPrice" min="0" max="@ViewBag.MaxPrice" step="1" type="range" class="col-md-10 d-flex justify-content-center">
                    <span >最高價：</span> <!-- 用來顯示範圍值的元素 -->
                    <span id="rangeValue">@((int)ViewBag.MaxPrice)</span> <!-- 用來顯示範圍值的元素 -->
                    <span>元</span> <!-- 用來顯示範圍值的元素 -->
                </section>
                <div class="d-flex justify-content-center">
                    <input id="btn_filter_price" class="btn btn-outline-secondary" type="button" value="搜尋" />
                </div>
            </div>
        </div>
    </div><!--左側工具列結尾-->
    <!--先來做右側工具列-->
    <div class="col-8 g-0 justify-content-end">
        <!--右側的區塊(佔據2/3)-->
        <!--Bootstrap ：g-0：用於在列之間添加間距（gutter），此時無間距-->
        <!--Bootstrap ：justify-content-end：用於對 Flexbox 容器中的內容進行水平對齊。此時對齊到容器的右側-->
        <div class="row g-0">
            <!--目前第一區橫條-->
            <div class="col-12 filter_block ms-0">
                @*filter_block好像沒套到*@
                <div class="divide-line pl-3">
                    <!--專門顯示數字的第一行-->
                    @*divide-line好像沒套到*@
                    <!--Bootstrap ：pl-3：在元素的左側添加內邊距（padding-left），3單位-->
                    <span id="CountExpert" class="fs-3 fw-bolder ms-2 me-2">@ViewBag.TotalCount</span>
                    <!--Bootstrap ：me-2：用於在元素的右側添加外邊距（margin end）-->
                    @*fs-3 fw-bolder好像沒套到*@
                    <span class="fs-5 my-text-primary">
                        @*fs-5 my-text-primary好像沒套到*@
                        @*<img src="~/icons/icons8-rhombus-loader.gif" class="d-none loading-icon" />如果沒跑出來時的動畫，需要配合jQuery寫法*@
                        位專家，即刻為您報價
                    </span>
                    <div id="selected-checkboxes">
                        <!--這裡在放被選取的類別-->
                        <input type="button" class="btn btn-secondary d-none cleanAll mr-1" value="清除全部" onclick="clearAllFiltered()" />
                        <!--點擊後產生clearAllFiltered()事件-->
                        <!--btn-secondary：這個樣式類表示按鈕的次要風格，通常是灰色或其他次要顏色。
                        d-none：這個樣式類將元素設置為不可見，即隱藏元素。這可能是根據某些條件來動態顯示或隱藏按鈕。
                        cleanAll：這可能是自定義的樣式類，用於定義按鈕的其他風格屬性，通常在 CSS 中定義。
                        mr-1：這個樣式類表示按鈕的右邊外邊距（margin right）為 1 單位（可能是像素或其他度量單位）。-->
                    </div>
                </div>
                <div class="sort d-flex align-items-center fs-6 my-text-primary pl-3">
                    <!--sort：這可能是自定義的樣式類，用於定義元素的特定風格，可能在你的 CSS 樣式表中進行了定義。
                    d-flex：這是 Bootstrap 樣式類，用於將元素的 display 屬性設置為 flex，啟用 Flexbox 佈局。這將使元素的子元素能夠使用 Flexbox 屬性進行排列。
                    align-items-center：這是 Bootstrap 樣式類，用於在 Flexbox 容器中將子元素垂直居中對齊。這將應用 Flexbox 的 align-items 屬性，並將對齊方式設置為 center。
                    fs-6：這可能是一個用於設定文字字號（font size）的樣式類。fs-6 可能表示較小的文字字號，具體的數字可能會因所使用的框架或自定義樣式而有所不同。
                    my-text-primary：這可能是自定義的樣式類，用於定義文字顏色。通常，my-text-primary 意味著它會設定文字為主要的文本顏色，這可能在你的 CSS 樣式表中進行了定義。
                    pl-3：這是 Bootstrap 樣式類，用於在元素的左側添加內邊距（padding-left）。pl-3 表示左側內邊距為 3 單位，具體的單位可能是像素或其他度量單位，這也會因框架或自定義樣式而有所不同。
                    -->
                    <span class="fw-bolder ms-2">排序 : </span>
                    <span>　</span>
                    <a id="sortByHot" href="#" class=" fw-bolder" name="status">熱門程度</a>
                    <span>　|　</span>
                    <a id="sortByCommet" href="#" class=" fw-bolder" name="status">用戶評價</a>
                    <span>　|　</span>
                    <a id="sortByPrice" href="#" class=" fw-bolder" name="status">價格排序(低到高)</a>
                </div>

            </div>
            @*載不出來的話會有載入中的gif，要做嗎？*@
            <!--<div class="alert alert-light d-none">
                <img src="~/icons/icons8-rhombus-loader.gif" class="loading-icon" />
            </div>-->
        </div>
        <!--第一區橫條結束-->
        <div id="filterBody">
            <div id="sortBody">
                @*接下來開始做很多個區塊*@
                    @* asp-action="Product" asp-controller="Program" asp-route-id="@item.productID" *@
                    <!--=======================================================================-->

                  
                @{
                        string starId = "";
                       
                    foreach (var item in Model)
                    {

                        CountExpert += 1;
                        starId = "star" + item.ResumeId;

                                                                            <div class="card mb-3 col-12 p-0" style="background:#E5EDF6	">
                                                                                        <div class="row g-0">
                                                                                            <div class="col-md-4 pr-0 ">
                                                                                                <!--放圖片-->
                                                                                                    @if (item.Photo != null)
                                        {
                                                                                                        <div class="overflow-hidden my-rounded-start d-flex justify-content-center">
                                                                                                            <img src="data:image/jpg;base64,@Convert.ToBase64String(item.Photo)" height="250" />
                                                                                                    </div>
                                    }
                                    else
                                    {
                                                                                                    <div class="overflow-hidden my-rounded-start my-bg-primary d-flex justify-content-center">
                                                                                                        <img src="~/Images/LOGO.png" height="250" />
                                                                                                    </div>
                                    }
                                                                                            </div>
                                                                                            <div class="col-md-6 pl-0">
                                                                                                <div class="card-body d-flex justify-content-around row">
                                                                                                    <div class="pl-4 pr-4">
                                                                                                        <span class="card-title">@item.Name  @item.ResumeTitle</span>
                                                                                                        <p class="card-text  mb-2">專家介紹： @item.Introduction </p>
                                                                                                        <p class="card-text">
                                                                                                            <small class="text-body-secondary"> @item.PaymentMethod |</small>
                                                                                                            <small class="text-body-secondary">@item.ContactMethod</small>
                                                                                                            <small class="text-body-secondary">
                                                                                                                |
                                                                                                                <i class="fa-solid fa-location-dot"></i>@item.cityName @item.townName 
                                                                                                            </small>
                                                                                                        </p>
                                                                                                        <p class="card-text">
                                                                                                            <small class="text-body-secondary" id="@starId"></small>
                                                                                                        </p>
                                                                                                        <div class="row position-absolute bottom-0">
                                                                                                            @*<div class="col">*@
                                                                                                        <p class="card-text fs-5 fw-bolder text-end"><span>最後修改日期 ：</span>@item.DataModifyDate.Substring(0,10)</p>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-md-2 pl-0">
                                                                                                <div class="row g-0 mx-2 my-2">
                                            <a href="@Url.Content("~/ExpertResumes/Resume")?id=@item.ResumeId" class="btn btn-outline-primary me-2" id="btnEdit" style="float:right">詳細資訊</a>
                                                                                                </div>
                                                                                                <div class="row g-0 mx-2 my-2">
                                                    <a class="btn btn-outline-primary me-2" style="float:right" onclick="ChatElert('@Url.Content("~/Chat/Chatsingle")?id=@item.AccountId')">聯絡專家</a>
                                                                                                </div>
                                                                                                <div class="row position-absolute bottom-0 end-0 mx-2 my-2">
                                                                                                    @*<div class="col">*@
                                            <p class="card-text fs-5 fw-bolder text-end"><span>TWD @(item.CommonPrice.Value.ToString("N0"))</span><span class="fs-6 fw-normal">起</span></p>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                           </div>


                                    <script>

                                        //下面是星星API
                                (function () {
                                    let score = 0;
                                    let count = 0;
                                    let averagescore = 0;
                                    let elementId = "@starId";

                                    fetch(`@Url.Content("~/ExpertResumesApi/StarRatingAPI")?resumesid=${@item.ResumeId}`)
                                        .then(response => response.json())
                                        .then(data => {
                                            if (data != null && data["評分資料"].length > 0) {
                                                data["評分資料"].forEach(item => {
                                                    score += Number(item.分數);
                                                    count++;
                                                });
                                                averagescore = score / count;
                                                let averageStars = generateStars(averagescore);
                                                let average = averagescore.toFixed(1);
                                                document.querySelector("#" + elementId).innerHTML = `${average}分 ${averageStars} --${count} 筆評論`;
                                            } else {
                                                let averageStars = generateStars(0);
                                                document.querySelector("#" + elementId).innerHTML = `0分 ${averageStars} -- 0 筆評論`;
                                            }
                                        });
                                })();
                                    </script>

                    }
                    
                }

                    <!--=======================================================================-->
                

                    
            </div>
            <!--製作頁數-->
            <div class="d-flex justify-content-center bg-transparent border-0">
                <div class="col-7 d-flex justify-content-around">
                    @Html.PagedListPager(
                    Model,
                    page => Url.Action("ExpertMainPage", new { page }),
                    new PagedListRenderOptions {
                    LiElementClasses = new string[] { "page-item" },
                    PageClasses = new string[] { "page-link" },   // 設定頁碼的 CSS 類別
                    UlElementClasses = new string[] { "pagination" }  // 設定 ul 元素的 CSS 類別
                    }
                    )
                </div>
            </div>
        </div>

    </div>
</div>
</div>  
@section Scripts{
    
        @*將選取價格的滑塊連在一起*@
        <script>
        //專長：載入下拉式選單
        const skilltypeselect = document.querySelector('#skilltypeselect');
        const skillselect = document.querySelector('#skillselect');
        const certificatetypeselect = document.querySelector('#certificatetypeselect');
        const certificateselect = document.querySelector('#certificateselect');

        document.addEventListener('DOMContentLoaded', function () {

            Loadskilltype();
            Loadcertificatetype();

            skilltypeselect.addEventListener('change', function () {
                Loadskill();
            });

            certificatetypeselect.addEventListener('change', function () {
                Loadcertificate();
            });

            //顯示專家總數
            //const CountExpert = document.querySelector('#CountExpert');
            //CountExpert.textContent = CountExpert;

            //顯示價格
            const rangeInput = document.getElementById('rangeOne');
            const rangeValue = document.getElementById('rangeValue');

            rangeInput.addEventListener('input', function () {
                var newValue = rangeInput.value; // 取得 input 的新值
                rangeValue.textContent = newValue; // 更新顯示範圍值的元素的內容
            });
        });

        //專長大項資料來
        function Loadskilltype() {
            fetch('@Url.Content("~/ApiForExpert/SkillTyptAPI")')
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    let options = "<option>請選擇專長</option>";
                    options += data.map(skilltype => `<option value="1">${skilltype}</option>`).join('');

                    skilltypeselect.innerHTML = options;
                });  //then最後一個THEN
        };

            function Loadskill() {
                const skilltypeselecttext = skilltypeselect.options[skilltypeselect.selectedIndex].text;

                console.log(skilltypeselecttext);
                if (skilltypeselecttext == "請選擇專長" || skilltypeselecttext == null) {
                    skillselect.innerHTML = "<option value=''>請先選擇專長</option>";
                    return;
                }

                fetch(`@Url.Content("~/ApiForExpert/SkillAPI")?skilltype=${skilltypeselecttext}`)
                    .then(response => response.json())
                    .then(datas => {

                        let options = ""
                        options += datas.map(skill => `<option value="1">${skill}</option>`).join('');
                        // let options = "";
                        // options += datas.map(skill => {

                        //  // 從先前創建的全局變數中查找技能的計數
                        //     let count = skillCounts.find(s => s.SkillName == skill).Count || 0;
                        // return `<option value="1">${skill}(${count})</option>`;
                        // }).join('');

                        skillselect.innerHTML = options;
                    });  //then最後一個THEN
            };
        /*Loadskilltype();*///使用載入資料

            //證照大項資料來
            function Loadcertificatetype() {
                fetch('@Url.Content("~/ApiForExpert/CertificateTypeAPI")')
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                    let options = "<option>請選擇證照</option>";
                    options += data.map(certificatetype => `<option value="1">${certificatetype}</option>`).join('');

                        certificatetypeselect.innerHTML = options;
                    });  //then最後一個THEN
            };


        
            function Loadcertificate() {
                const certificatetypeselecttext = certificatetypeselect.options[certificatetypeselect.selectedIndex].text;
                console.log(certificatetypeselecttext);
            if (certificatetypeselecttext == "請選擇證照" || certificatetypeselecttext == null) {
                certificateselect.innerHTML = "<option value=''>請先選擇證照</option>";
                    return;
                }
           
            fetch(`@Url.Content("~/ApiForExpert/CertificateAPI")?certificatetype=${certificatetypeselecttext}`)
                    .then(response => response.json())
                    .then(datas => {
                        let options = ""
                        options += datas.map(certificate => `<option value="1">${certificate}</option>`).join('');
                        certificateselect.innerHTML = options;
                    });  //then最後一個THEN
            };
            
        
                                /*Loadcertificatetype();*///使用載入證照資料

       
        // 製作專家聊聊的跳轉&sweetalert事件
        function ChatElert(href) {
            const isLogin = @httpContext.Session.Keys.Contains(CDictionary.SK_LOGINED_USER).ToString().ToLower();

            if (!isLogin) {
                Swal.fire({
                    icon: 'warning',
                    title: '請先登入會員',
                    showCloseButton: true,
                    confirmButtonText: '馬上登入'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = href;  // 跳轉到新的頁面
                    }
                });
            } else {
                // 如果已經登入，直接跳轉
                window.location.href = href;
            }
        }

        //星星評價
        function generateStars(score) {
            var starfill = '<i class="bi bi-star-fill lablestar"></i>';
            var starhelf = '<i class="bi bi-star-half lablestar" > </i>';
            var starnull = '<i class="bi bi-star "></i>';
            let arr = [];
            for (let i = 1; i <= 5; i++) {
                if (score >= i) {
                    arr.push(starfill);
                } else if (score > i - 1 && score < i) {
                    arr.push(starhelf);
                } else {
                    arr.push(starnull);
                }
            }
            return arr.join("");
        }

    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>
}

