@using prjCoreWantMember.ViewModels
@model IEnumerable<CExpertInfoViewModel>

@{
    ViewData["Title"] = "ExpertMemberPage";
    Layout = "~/Views/Member/LayoutForMem.cshtml";
    int ResumeCount = 0;
    if (Model.FirstOrDefault().resume == null)
    {
        ResumeCount = 0;
    }
    else
    {
        ResumeCount = Model.Count();
    }
}

@section subTitle{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">會員專區</li>
            <li class="breadcrumb-item">會員資料</li>
            <li class="breadcrumb-item " aria-current="page">專家履歷管理</li>
        </ol>
    </nav>
}

<!--左上新增按鍵&右上計數顯示-->
<div class="container">
    <p style="text-align: right">
        <a href="@Url.Content("~/ExpertResumes/Insert")?id=@Model.FirstOrDefault().memberAccount.AccountId" class="btn btn-outline-info" style="float:left" id="CreateResume">新增專家履歷+</a>
        您已使用 @ResumeCount/3 份履歷 
    </p>
</div>

<!--若無履歷，提醒使用者新增履歷-->
<div class="container">
    <p style="text-align: center" id="ResumeList"></p>
</div>

<!--履歷區塊-->

<div class="container">
    @{
        if (Model.FirstOrDefault().resume != null)
        {
            int count = 0;
            @foreach (var item in Model)
            {

                count++;

                <div class="row">
                    <div class="col">
                        <div class="card mb-4">
                            <div class="card-body">

                                <h5 class="card-title">@item.resume.ResumeTitle</h5>

                                @if (item.expertResume.Introduction == null)
                                {
                                    <p class="card-text" style="color:#527eaf">您還沒有自傳內容</p>
                                }
                                else if (item.expertResume.Introduction.Length <= 120)
                                {
                                    <p class="card-text">@item.expertResume.Introduction</p>
                                }
                                else
                                {
                                    <p class="card-text">@item.expertResume.Introduction.Substring(0,120)... </p>  @*秀出自傳的部分內容*@
                                }
                                <a href="@Url.Content("~/ExpertResumes/Details")?id=@item.resume.ResumeId" class="btn btn-outline-info" id="btnEdit">編輯</a>
                                <a href="@Url.Content("~/ExpertResumes/Details")?id=@item.resume.ResumeId" title="檢視" class="btn btn-outline-success">檢視</a>
                                <a href="@Url.Action("ExpertResumeDelete", "Expert", new { id = item.resume.ResumeId })" class="btn btn-outline-danger" onclick="return confirm('確定要刪除嗎?')">刪除</a>
                                <a class="btn btn-outline-secondary" style="color:black"><i class="fa-regular fa-file-pdf fa-xl"></i></a>
                                @if (@item.resume.DataModifyDate!=null)
                                {
                                    <span style="display: block; text-align: end;">最後修改日期：@item.resume.DataModifyDate.Substring(0,9)</span>

                                }



                            </div>
                        </div>
                    </div>
                </div>
            }
        }
       
    }
</div>

@section Scripts{
    <script>
//如果沒有履歷的狀況
        if (@ResumeCount == 0) {
            const ResumeList = document.querySelector('#ResumeList');
            ResumeList.textContent = '您尚未建立履歷，請點選左上角新增履歷表';
        }
        @*TODO 履歷已達三份的狀況*@
        if (@ResumeCount== 3) {
            const CreateResume = document.querySelector('#CreateResume')
            CreateResume.addEventListener('click', () => {
                CreateResume.href = '#';
                Swal.fire({
                    icon: 'warning',
                    title: '注意',
                    text: '您的履歷數量已達上限，無法新增履歷',
                })
            });
        }
    </script>
}