@using prjCoreWantMember.ViewModels
@model IEnumerable<CExpertInfoViewModel>

@{
    ViewData["Title"] = "ExpertMemberPage";
    Layout = "~/Views/Member/LayoutForMem.cshtml";
    int ResumeCount = 0;
    if (Model.FirstOrDefault().resume == null)
    {
        ResumeCount = 0;
    }
    else
    {
        ResumeCount = Model.Count();
    }
}

@section subTitle{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">會員專區</li>
            <li class="breadcrumb-item">找專家</li>
            <li class="breadcrumb-item " aria-current="page">專家履歷管理</li>
        </ol>
    </nav>
}

<!--左上新增按鍵&右上計數顯示-->
<div class="container">
    <p style="text-align: right">
        <a href="@Url.Content("~/ExpertResumes/Insert")?id=@Model.FirstOrDefault().memberAccount.AccountId" class="btn btn-outline-info" style="float:left" id="CreateResume">新增專家履歷+</a>
        您已使用 @ResumeCount/3 份履歷 
    </p>
</div>

<!--若無履歷，提醒使用者新增履歷-->
<div class="container">
    <p style="text-align: center" id="ResumeList"></p>
</div>

<!--履歷區塊-->
<div class="container">
    @{
        int count = 0;
        if (Model.FirstOrDefault().resume != null)
        {
            foreach (var item in Model)
            {
                count++;
                string ServiceInfo = (item.expertResume.ServiceMethod).ToString().Substring(0, 10) + "...";

                    <div class="card mb-3 col-12 p-0">
                        <div class="row g-0">
                            <div class="col-md-4 pr-0 ">
                                <!--放圖片-->
                                <div class="overflow-hidden my-rounded-start d-flex justify-content-center" style="background:#408080	">
                                    <img src="~/img/任務曝光.png" height="250" />
                                </div>
                               
                            </div>
                            <div class="col-md-8 pl-0">
                                <div class="card-body d-flex justify-content-around row">
                                    <div class="p-0">
                                        <h5 class="card-title">
                                            @Html.DisplayFor(modelItem => item.memberAccount.Name)                                        

                                            
                                        </h5>

                                        <p class="card-text  mb-2">服務項目：@item.expertResume.ServiceMethod</p>
                                         <p class="card-text  mb-2">專家簡介：@item.expertResume.Introduction</p>
                                        <p class="card-text">
                                            <small class="text-body-secondary">@item.expertResume.PaymentMethod</small>
                                            <small class="text-body-secondary"> | <i class="fa-solid fa-location-dot"></i> @Html.DisplayFor(modelItem => item.cityName)</small></p>

                                        <p class="card-text  mb-2"><span>TWD </span>@((int)item.expertResume.CommonPrice)<span class="fs-6 fw-normal">起</span>

                                        <a href="@Url.Content("~/Backstage/ResumeEdit")?id=@item.resume.AccountId" class="btn btn-primary btn-sm me-2" id="btnEdit" style="float:right">編輯</a>
                                        <a href="@Url.Action("", "", new { id = item.resume.AccountId })" class="btn btn-danger btn-sm me-2" style="float:right" onclick="return confirm('確定要刪除嗎?')">刪除</a>
                                    </p>
                                    </div>
                                    
                                </div>

                            </div>
                        </div>
                    </div>
            }
        }
    }
</div>

@section Scripts{
    <script>
//如果沒有履歷的狀況
        if (@ResumeCount == 0) {
            const ResumeList = document.querySelector('#ResumeList');
            ResumeList.textContent = '您尚未建立履歷，請點選左上角新增履歷表';
        }
        @*TODO 履歷已達三份的狀況*@
        if (@ResumeCount== 3) {
            const CreateResume = document.querySelector('#CreateResume')
            CreateResume.addEventListener('click', () => {
                CreateResume.href = '#';
                Swal.fire({
                    icon: 'warning',
                    title: '注意',
                    text: '您的履歷數量已達上限，無法新增履歷',
                })
            });
        }
    </script>
}