<head>
    <!--== Icofont Icon CSS ==-->
    <link rel="stylesheet" href="~/Mstyles/icofont.css" />

    <!--== CSS Styles ==-->
    <link rel="stylesheet" href="~/Mstyles/Mbootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Mstyles/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Mstyles/Mstyle.css" asp-append-version="true" />
</head>


<body>
    @*抓登入者的名字*@
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
    @using System.Text.Json;

    @{
        var httpContext = HttpContextAccessor.HttpContext;
        string loginUserName = "";
        int nowLoginId = 0;
        if (httpContext != null && httpContext.Session.Keys.Contains(CDictionary.SK_LOGINED_USER))
        {
            string userDataJson = HttpContextAccessor.HttpContext.Session.GetString(CDictionary.SK_LOGINED_USER);
            MemberAccount loggedInUser = JsonSerializer.Deserialize<MemberAccount>(userDataJson);
            loginUserName = loggedInUser.Name;
            nowLoginId = loggedInUser.AccountId;
        }

    }
    <div id="getChatUseInfo" 
        data-login-id="@nowLoginId" 
        data-userList-api="@Url.Content("~/ChatApi/UserList/")"
        data-chatdetail-api="@Url.Content("~/ChatApi/ChatDetail")"
        data-loginUserAva-api="@Url.Content("~/ChatApi/UserAvatar?id=")@nowLoginId"
        data-chatUnreadCount-api="@Url.Content("~/ChatApi/IsReadCount")"></div>
    <!--== header start ==-->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid" style="background-color: #e3eff3;">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/Images/LOGO.png" class="img-fluid" alt="Logo">
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark nav-a-link" asp-area="" asp-controller="Home" asp-action="Index" style="font-size:20px;font-weight: bold;">首頁</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark nav-a-link" asp-area="" asp-controller="Task" asp-action="ListNew" style="font-size:20px;font-weight: bold;">找工作</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark nav-a-link" asp-area="" asp-controller="Expert" asp-action="ExpertMainPage" style="font-size:20px;font-weight: bold;">找專家</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark nav-a-link" asp-area="" asp-controller="Forum" asp-action="CategoryList" style="font-size:20px;font-weight: bold;">討論區</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto pe-5">
                        <li class="nav-item d-flex align-items-center">
                            @{
                                if (httpContext != null && httpContext.Session.Keys.Contains(CDictionary.SK_LOGINED_USER))
                                {
                                // 登入狀態，顯示小人
                                    <i class="fa-solid fa-user" style="color: #528eaf;"></i>
                                }
                            }
                            <span class="nav-link text-dark">@loginUserName</span>
                        </li>
@*                         <li class="nav-item">
                            <a class="nav-link text-dark ps-3" asp-area="" asp-controller="BackstageManagement" asp-action="Index">後台</a>
                        </li> *@
                        <li class="nav-item">
                            <a class="nav-link text-dark ps-3" asp-area="" asp-controller="Member" asp-action="MemberAccount">會員專區</a>
                        </li>
                        <li class="nav-item">
                                @*判斷是否有登入*@
							@{
                                if (httpContext != null && httpContext.Session.Keys.Contains(CDictionary.SK_LOGINED_USER))
                                {
                                    // 登入狀態，顯示登出按鈕
                                    <a class="btn btn-outline-primary me-md-2" asp-area="" asp-controller="Member" asp-action="Logout">登出</a>
                                }
                                else
                                {
                                    // 未登入狀態，顯示登入按鈕
                                    <a class="btn btn-outline-primary me-md-2" asp-area="" asp-controller="Member" asp-action="Login">登入/註冊</a>
                                }
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    @if (nowLoginId!=0)
    {
    @await Html.PartialAsync("~/Views/Chat/_ChatPartial.cshtml")

    }

    <!--== header end ==-->
    <!--== Javascript ==-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/7fb42f8196.js" crossorigin="anonymous"></script>
</body>                  