@* @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using System.Text.Json;
@{
    var httpContext = HttpContextAccessor.HttpContext;
    string loginUserName = "";
    if (httpContext != null && httpContext.Session.Keys.Contains(CDictionary.SK_LOGINED_USER))
    {
        string userDataJson = HttpContextAccessor.HttpContext.Session.GetString(CDictionary.SK_LOGINED_USER);
        MemberAccount loggedInUser = JsonSerializer.Deserialize<MemberAccount>(userDataJson);
        loginUserName = loggedInUser.Name;
    }

} *@

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4 flex-fill">
    <!-- Brand Logo -->
    <a href="@Url.Content("~/BackstageManagement/List")" class="brand-link">
        <img src="~/Images/LOGO.png" alt="Logo" class="brand-image" style="opacity: .8">
        <span class="brand-text font-weight-light">WantWant</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
@*         <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/adminlte/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Alexander Pierce</a>
            </div>
        </div> *@

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="@Url.Content("~/BackstageManagement/List")" class="nav-link">
                        <i class="fa-solid fa-user-group"></i>
                        <p>
                            會員狀態列表
                        </p>
                    </a>
                </li>                
                <li class="nav-item">
                    <a href="@Url.Content("~/ServiceContacts/List")" class="nav-link">
                        <i class="fa-solid fa-envelopes-bulk"></i>
                        <p>
                            客服訊息管理                         
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa-solid fa-paste"></i>
                        <p>
                            報表分析                            
                        </p>
                    </a>
                </li>
                
                <li class="nav-item">
                    <a href="@Url.Content("~/Product/List")" class="nav-link">
                        <i class="fa-solid fa-cart-shopping"></i>                        
                        <p>
                            商品列表
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Content("~/Order/List")" class="nav-link">
                        <i class="fa-regular fa-rectangle-list"></i>
                        <p>
                            訂單列表
                        </p>
                    </a>
                </li>
            </ul>
@*             <div class="nav-item">
           
                @{
                    if (httpContext != null && httpContext.Session.Keys.Contains(CDictionary.SK_LOGINED_USER))
                    {                       
                        <a class="nav-link" asp-area="" asp-controller="Member" asp-action="Logout">
                            <i class="fa-regular fa-rectangle-list"></i>登出
                        </a>
                    }
                    else
                    {
                        <a class="nav-link" asp-area="" asp-controller="Member" asp-action="Login">
                            <i class="fa-regular fa-rectangle-list"></i>登入
                        </a>
                    }
                }
            </div> *@
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>