
@{
    ViewData["Title"] = "Login";

}



<!-- RenderBody() Placeholder -->
<div class="container">
    <div class="row align-items-start" style="height:660px;">@* 粗暴修改登入頁的高度 *@
        <div class="col-8">
            @* One of three columns *@
            <div class="row">
                <div class="col-4">
                    <div class="card mt-5">
                        <div class="card-body">
                            <h5 class="card-title">夏宇(聊天室)Demo</h5>
                            <button class="btn btn-outline-primary" id="LoginDemo1">Demo</button>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card mt-5">
                        <div class="card-body">
                            <h5 class="card-title">陳昊月(會員)Demo</h5>
                            <button class="btn btn-outline-primary" id="LoginDemo2">Demo</button>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="card mt-5">
                        <div class="card-body">
                            <h5 class="card-title">董思妤(客服)Demo</h5>
                            <button class="btn btn-outline-primary" id="LoginDemo3">Demo</button>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card mt-5">
                        <div class="card-body">
                            <h5 class="card-title">林愛琳(會員)Demo</h5>
                            <button class="btn btn-outline-primary" id="LoginDemo4">Demo</button>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                </div>
            </div>
            
        </div>
        <div class="col-4">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="signIn-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">登入</button>
        </li>
        <li class="nav-item" role="presentation">
                    @*<button class="nav-link" id="signUp-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">註冊</button>*@
                    <a class="nav-link" id="signUp-tab" href="/Member/Register" role="tab" aria-controls="profile" aria-selected="false" target="_blank">註冊</a>

        </li>

    </ul>
    <div class="tab-content" id="myTabContent">
        @*"登入"要顯示的內容*@
        <div class="tab-pane fade show active m-3" id="home" role="tabpanel" aria-labelledby="signIn-tab">
            <h1 class ="m-3">登入</h1>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group m-3">
                        帳號 (註冊時的Email)
                        <div class="col-md-10">
                                    @Html.TextBox("txtAccount", "aaa123@abc.com", new { htmlAttributes = new { @class = "form-control" , id = "txtAccount"} })
                        </div>
                    </div>
                    <div class="form-group m-3">
                        密碼
                        <div class="col-md-10">
                                    @Html.TextBox("txtPassword", "123", new { htmlAttributes = new { @class = "form-control", id = "txtPassword" } })
                        </div>
                    </div>
                    <div class="form-group m-3">
                        <div class="col-md-offset-0 col-md-10">
                                    <input type="submit" value="登入" class="btn  btn-outline-primary" id="btnLogin" />
                        </div>
                    </div>
                </div>
            }
        </div>
        @*"註冊"要顯示的內容*@
				@*  <div class="tab-pane fade m-3" id="profile" role="tabpanel" aria-labelledby="signUp-tab">
            <h1 class="m-3">註冊</h1>
            <div class="m-3">請輸入您的個人資料</div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group m-3">
                        帳號 (電子郵件)
                        <div class="col-md-10">
                            @Html.TextBox("txtAccount", "marco@gmail.com", new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group m-3">
                        密碼(6-12個英數字，大小寫不同)
                        <div class="col-md-10">
                            @Html.TextBox("txtPassword", "", new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-check m-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                        <label class="form-check-label" for="flexCheckIndeterminate">
                            我已詳閱並同意遵守WantWant會員規約與隱私權政策
                        </label>
                    </div>
                    <div class="form-group m-3">
                        <div class="col-md-offset-0 col-md-10">
                            <input type="submit" value="註冊" class="btn btn-primary"  />
                        </div>
                    </div>
                </div>
                    }
				</div>*@
    </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        const LoginDemo1 = document.querySelector('#LoginDemo1');
        const LoginDemo2 = document.querySelector('#LoginDemo2');
        const LoginDemo3 = document.querySelector('#LoginDemo3');
        const LoginDemo4 = document.querySelector('#LoginDemo4');
        const txtAccount = document.querySelector('#txtAccount');
        const txtPassword = document.querySelector('#txtPassword');

        LoginDemo1.addEventListener('click', () => {
            txtAccount.value = "sora@com"
            txtPassword.value = "123"
        })
        LoginDemo2.addEventListener('click', () => {
            txtAccount.value = "aaa6868@abc.com"
            txtPassword.value = "6868"
        })
        LoginDemo3.addEventListener('click', () => {
            txtAccount.value = "emmachen@want.com"
            txtPassword.value = "0000"
        })
        LoginDemo4.addEventListener('click', () => {
            txtAccount.value = "Eileen@abc.com"
            txtPassword.value = "0000"
        })
    </script>
}