@using System;
@using System.Text.Json;
@model MemberAccount

@{
    ViewBag.Title = "MemberAccount";
    Layout = "~/Views/Member/LayoutForMem.cshtml";
    // Layout = "~/Views/Shared/LayoutForMem.cshtml";
    // 使用 ToString 方法將日期格式化為 "yyyy/M/d" 字串
    string formattedDate = string.Format("{0:yyyy/M/d}", Model.BitrhDay);
    string formattedPassword = new string(Model.Password.Select(c => '*').ToArray());
    string formattedIDCardNo = Model.IdcardNo.Substring(0, 3) + // 保持前三個字元不變
                         new string('*', Model.IdcardNo.Length - 6) + // 中間的字元轉換為星號(減去的數字 = 前面留的字數+後面留的字數
                         Model.IdcardNo.Substring(Model.IdcardNo.Length - 3); // 保持最後三個字元不變
}
@*抓登入者的名字*@
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    string userDataJson = HttpContextAccessor.HttpContext.Session.GetString(CDictionary.SK_LOGINED_USER);
    MemberAccount loggedInUser = JsonSerializer.Deserialize<MemberAccount>(userDataJson);
    string loginUserName = loggedInUser.Name;

}
@section subTitle{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">會員專區</li>
            <li class="breadcrumb-item">會員資料</li>
            <li class="breadcrumb-item " aria-current="page">會員資料管理</li>
        </ol>
    </nav>
}


@* <p>
    @Html.ActionLink("Create New", "Create")
</p> *@

<table class="table table-hover mt-3">
    <tr>
        <th width="120px">
            會員相片：
        </th>
        <td id='userPhoto'>
            @* <img src="/MemberApi/{@Model.AccountId}/photo" alt="Member Photo"> *@
            <img class="w-25 img-thumbnail" src="@Url.Action("GetMemberPhoto", "MemberApi", new { id = Model.AccountId })" alt="Member Photo">
        </td>
    </tr>
    <tr>
        <th width="120px">
            會員姓名：
        </th>
        <td id='username'>
            @Html.DisplayFor(model => model.Name)
        </td>
    </tr>

    <tr>
        <th>
            電子郵件：
        </th>
        <td>
            @Html.DisplayFor(model => model.Email)
        </td>
    </tr>
    <tr>
        <th>
            密碼：
        </th>
        <td>
            @Html.DisplayFor(model => formattedPassword)
        </td>
    </tr>
    <tr>
        <th>
            身分證字號：
        </th>
        <td>
            @Html.DisplayFor(model => formattedIDCardNo)
        </td>
    </tr>

    <tr>
        <th>
            性別：
        </th>
        <td>
            @Html.DisplayFor(model => model.Gender)
        </td>
    </tr>
    <tr>
        <th>
            討論區暱稱：
        </th>
        <td>
            @Html.DisplayFor(model => model.UserName)
        </td>
    </tr>
    <tr>
        <th>
            生日：
        </th>
        <td>
            @Html.DisplayFor(model => formattedDate)
        </td>
    </tr>
    <tr>
        <th>
            電話號碼：
        </th>
        <td>
            @Html.DisplayFor(model => model.PhoneNo)
        </td>
    </tr>
    <tr>
        <td colspan="2">
           @*  @Html.ActionLink("編輯", "EditMemberInfo","Member", new {  id=Model.AccountId  },null)  *@
            <a href="@Url.Content("~/Member/EditMemberInfo")?id=@Model.AccountId" class="btn btn-outline-primary">編輯</a>@* |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) *@
        </td>
    </tr>
</table>



@{
    //識別從哪個頁面跳轉過來的
    Uri referrer = Context.Request.Headers["Referer"].Count > 0 ? new Uri(Context.Request.Headers["Referer"][0]) : null;
    string referrerPath = referrer != null ? referrer.AbsolutePath : null;
}

@*如果是從登入頁面跳過來的，我就要給他一個歡迎光臨的提示*@
@if (referrerPath != null && referrerPath.Contains("/Login"))
{
    @section Scripts{
       
    <script>
        
        window.addEventListener('load', () => {
            const username = '@loginUserName'
            Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: `${username}，歡迎登入`,
                showConfirmButton: false,
                timer: 1500
            })
        })


    </script>
    <!--Sweet Alert-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
}
}