@model IEnumerable<prjCoreWebWantWant.Models.Order>
@{
    //ViewData["Title"] = "Order";
    Layout = "~/Views/Member/LayoutForMem.cshtml";
}
@{
    var orderFilter = ViewBag.OrderFilter as string;
}

@section subTitle{


    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">會員專區</li>
            <li class="breadcrumb-item">商城</li>
            <li class="breadcrumb-item " aria-current="page">曝光紀錄</li>
        </ol>
    </nav>
}
<div id="pview">

</div>


<div class="header-container">
   
        <h2>訂單紀錄</h2>
        </div>
        <div class="container mt-4">
            <div class="row align-items-center">


                <div id="filterButtons" class="d-flex">
                    <button type="button" class="btn btn-outline-primary" onclick="location.href='@Url.Action("Order", new { filter = "all" })'">全部訂單</button>
                    <button type="button" class="btn btn-outline-primary" onclick="location.href='@Url.Action("Order", new { filter = "today" })'">今日訂單</button>
                    <button type="button" class="btn btn-outline-primary" onclick="location.href='@Url.Action("Order", new { filter = "7days" })'">過去7天</button>
                    <button type="button" class="btn btn-outline-primary" onclick="location.href='@Url.Action("Order", new { filter = "31days" })'">過去31天</button>
                </div>


            </div>
  
        <table id="table" class="table table-striped table-hover" mt-5">
            <thead align="center">
                <tr>
                    <td></td>
                    <td>訂單編號</td>
                    <td>日期</td>
                    <td>名稱</td>
                    <td>類別</td>
                    <td>回饋紅利</td>     
                    <td>商品金額</td>
                    <td>使用紅利</td>
                    <td>訂單金額</td>


                </tr>
            </thead>

            <tbody align="center">
                @foreach (var order in Model)
                {

                    <tr>

                        <td>
                            <a data-bs-toggle="collapse" data-bs-target="#orderDetails_@(
                    order.OrderId
)" class="accordion-toggle">
                                <i class="bx bxs-show"></i>
                            </a>
                        </td>
                        <td>@order.OrderId</td>
                        <td>@order.CreateTime</td> 
                        <td>
                            @if (order.OrderDetails.Any())
                            {
                                var firstOrderDetail = order.OrderDetails.First();
                                @if (firstOrderDetail.CaseId != null)
                                {
                                    <span>@firstOrderDetail.Case.TaskTitle</span>
                                }
                                else if (firstOrderDetail.ResumeId != null)
                                {
                                    <span>@firstOrderDetail.Resume.ResumeTitle</span>
                                }
                            }
                        </td>
                        <td>@order.Category.CategoryName</td>
                        <td>@order.OrderGetPoint</td>
                        <td>@order.OrderPrice</td>
                        <td>@order.OrderUsePoint</td>
                        <td>@order.PaidAmount</td>
                    </tr>
                    <!-- 可展開/收起的內容 -->
                    <tr>
                        <td colspan="12" class="hiddenRow">
                            <div class="collapse" id="orderDetails_@(order.OrderId)" data-bs-parent="#table">
                                <!-- 在這裡填入訂單明細內容 -->
                                <table class="table table-bordered">
                                    <thead class="table-dark">

                                        <tr>
                                            <th>商品名稱</th>
                                            <th>數量</th>
                                            <th>單價</th>
                                            <th>小計</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var detail in order.OrderDetails)
                                        {
                                            <tr>
                                                <td>@detail.Product.ProductName</td>
                                                <td>@detail.Quantity</td>
                                                <td>@detail.UnitPrice</td>
                                                <td>@(
                                        detail.UnitPrice * detail.Quantity
                                    )</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
            </table>
            
        </div>
    

@section Styles {
    <!--box icons-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
        /* 將外層容器設置為相對定位 */
        .header-container {
            position: relative;
        }

      

        .bx {
            font-size: 1.5rem;
        }
    </style>
}

@section SCripts{
<script>
        $(document).ready(function () {
            // 使用jQuery的load方法加载部分视图内容到指定的<div>容器中
            $('#pview').load('@Url.Action("onTop", "Shop")');
        });
</script>
}

