@{
    ViewData["Title"] = "CheckOut";
    Layout = "~/Views/Member/LayoutForMem.cshtml";
}
@model IEnumerable<prjCoreWebWantWant.Models.Order>
<div class="container text-center">
    <p>　</p>
    <ul class="progressbar d-flex justify-content-center">
        <li class="active">購物車</li>
        <li class="active">結帳</li>
        <li>完成</li>
    </ul>
    <p>　</p>
    <p>　</p>
</div>

<div class="container d-flex justify-content-center align-items-center">
 @{
        int tax = 0;



    <div class="col-md-4 summary">

            @foreach (var item in Model)
            {
                tax = (int)(item.OrderPrice / 20);
                <div>
                    <h5><b>結帳金額</b></h5>
                </div>
                <hr>
                <div class="row">
                    <div class="col" style="padding-left: 0;">商品總計</div>
                    <div class="col text-right">@item.OrderPrice</div>
                </div>
                <div class="row">
                    <div class="col" style="padding-left: 0;">稅額</div>
                    <div class="col text-right">@tax</div>
                </div>
                <div class="row">
                    <div class="col" style="padding-left: 0;">預估可獲得紅利</div>
                    <div class="col text-right">@item.OrderGetPoint</div>
                </div>
                <hr>
                <div class="row"  padding: 2vh 0;">
                    <div class="col" style="padding-left: 0;color: brown;"><strong>紅利折抵</strong></div>
                    <div class="col text-right" style="color: brown;"><strong>@item.OrderUsePoint</strong></div>
                </div>
                <div class="row">
                    <div class="col" style="padding-left: 0;"><strong>應付金額</strong></div>
                    <div class="col text-right" id="order-details" data-paid-amount="@item.PaidAmount">@item.PaidAmount</div>
                </div>
                <br />
                }
                
            //    <div id="payment-button"></div>
            //    <div class="back-to-shop"><a href="@Url.Content("~/shop/casecart")" style="color:black" onclick="history.back(); return false;">&leftarrow;</a><span class="text-muted">回去購物車</span></div>
            //</div>
        }
        </div>
        
    

@section Styles
    {

    <!--box icons-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
    

        .body {
            background: #fffdfd;
            min-height: 100vh;
            vertical-align: middle;
            display: flex;
            font-family: sans-serif;
            font-size: 0.8rem;
            font-weight: bold;
        }

        .title {
            margin-bottom: 5vh;
        }

        .table-container {
            margin-top: 10vh;
            /*margin: auto;*/
            max-width: 1200px;
            width: 90%;
            box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 1rem;
            border: transparent;
        }

            .table-container .cart {
                background-color: #fff;
                padding: 4vh 5vh;
                border-bottom-left-radius: 1rem;
                border-top-left-radius: 1rem;
            }

            .table-container .summary {
                background-color: #528EAF;
                border-top-right-radius: 1rem;
                border-bottom-right-radius: 1rem;
                padding: 4vh;
                color: white;
            }

            .table-container .col-2 {
                padding: 0;
            }

            .table-container .col-10 {
                padding: 0;
            }

        .row {
            margin: 0;
        }

        .title b {
            font-size: 1.5rem;
        }

        .main {
            margin: 0;
            padding: 2vh 0;
            width: 100%;
        }

        .col-2,
        .col {
            padding: 0 1vh;
        }

        a {
            padding: 0 1vh;
        }

        .close {
            margin-left: auto;
            font-size: 0.7rem;
        }

        img {
            width: 50px;
        }

        .back-to-shop {
            margin-top: 4.5rem;
            color: black;
        }

        h5 {
            margin-top: 4vh;
        }

        hr {
            margin-top: 1.25rem;
        }

        form {
            padding: 2vh 0;
        }

        select {
            border: 1px solid rgba(0, 0, 0, 0.137);
            padding: 1.5vh 1vh;
            margin-bottom: 4vh;
            outline: none;
            width: 100%;
            background-color: rgb(247, 247, 247);
        }

        input {
            border: 1px solid rgba(0, 0, 0, 0.137);
            padding: 1vh;
            margin-bottom: 4vh;
            outline: none;
            width: 100%;
            background-color: rgb(247, 247, 247);
        }

            input:focus::-webkit-input-placeholder {
                color: transparent;
            }

        .btn1 {
            background-color: #000;
            border-color: #000;
            color: white;
            width: 100%;
            font-size: 0.7rem;
            margin-top: 4vh;
            padding: 1vh;
            border-radius: 0;
        }

            .btn1:focus {
                box-shadow: none;
                outline: none;
                box-shadow: none;
                color: white;
                -webkit-box-shadow: none;
                transition: none;
            }

            .btn1:hover {
                color: white;
            }

        a {
            color: black;
        }

            a:hover {
                color: black;
                text-decoration: none;
            }

        #code {
            background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185));
        }

        img.img-fluid {
            width: 50px;
            height: 50px;
        }

        h4 > b {
            color: black
        }

        h5 > b {
            color: black
        }

        .back-to-shop a {
            color: black
        }

        .progressbar {
            counter-reset: step;
        }

            .progressbar li {
                list-style-type: none;
                width: 25%;
                float: left;
                font-size: 12px;
                position: relative;
                text-align: center;
                text-transform: uppercase;
                color: lightgray;
            }

                .progressbar li:before {
                    width: 30px;
                    height: 30px;
                    content: counter(step);
                    counter-increment: step;
                    line-height: 30px;
                    border: 2px solid lightgray;
                    display: block;
                    text-align: center;
                    margin: 0 auto 10px auto;
                    border-radius: 50%;
                    background-color: white;
                }

                .progressbar li:after {
                    width: 100%;
                    height: 2px;
                    content: '';
                    position: absolute;
                    background-color: lightgray;
                    top: 15px;
                    left: -50%;
                    z-index: -1;
                }

                .progressbar li:first-child:after {
                    content: none;
                }

                .progressbar li.active {
                    color: #528EAF;
                }

                    .progressbar li.active:before {
                        border-color: #528EAF;
                    }

                    .progressbar li.active + li:after {
                        background-color: #528EAF;
                    }
    </style>
}
@section Scripts
{
    <script src="https://www.paypal.com/sdk/js?client-id=AbrSu-FGlAsOrX4UoMHw2RS-cXYKXXUQQ29-B678GKwbEruMJvjvB4m07HwimyYP26lbyKIARJlHWlls&currency=TWD"></script>


    <script>
        var paidAmount = document.getElementById('order-details').getAttribute('data-paid-amount');
        paypal.Buttons({
            style: {
                shape: 'rect',
                size: 'small',
            },
            createOrder: function (data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: paidAmount,
                            currency_code: 'TWD',
                            breakdown: {
                                item_total: { value: paidAmount, currency_code: 'TWD' } //訂單金額
                            }
                        }
                        //,
                        //items: [{                                              //商品項目
                        //    name: 'Hafer',
                        //    unit_amount: { value: '3', currency_code: 'TWD' },
                        //    quantity: '1',
                        //    sku: 'haf001'
                        //}, {
                        //    name: 'Discount',
                        //    unit_amount: { value: '4', currency_code: 'TWD' },
                        //    quantity: '1',
                        //    sku: 'dsc002'
                        //}]
                    }]
                });
            },
            //付款成功後重導向
            onApprove: function (data, actions) {
                return actions.order.capture().then(function (details) {
                    console.log(details);
                    window.location.replace("@Url.Content("~/Shop/OrderCompleted")");
                })
            },
            //付款取消後重導向
            //onCancel: function (data) {
            //    window.location.replace("@Url.Content("~/Shop/OrderCompleted")");
            //}
        }).render('#payment-button');
    </script>
   
}