@using Microsoft.AspNetCore.Mvc;
@using System.Text.Json;

@* @model prjCoreWebWantWant.Models.Resume *@
@model prjCoreWebWantWant.ViewModels.CResumeViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Member/LayoutForMem.cshtml";
}

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    string userDataJson = HttpContextAccessor.HttpContext.Session.GetString(CDictionary.SK_LOGINED_USER);
    CLoginUser loggedInUser = JsonSerializer.Deserialize<CLoginUser>(userDataJson); //loggedInUser的資料型態為MemberAccount這個資料表                                                                                   // 现在 loggedInUser 对象包含了从会话中取出的用户信息
    int id = loggedInUser.AccountId; //抓登入者的id
}

<head>
    <style>
        #Cancel:hover {
            background-color: #528EAF;
        }
        <link href="~/backstage1/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" >
        <link href="~/backstage1/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet"  >
        <!-- Template Stylesheet -->
        <link href="~/backstage1/css/style.css" rel="stylesheet" >
        <!-- CSS here -->
        <link rel="stylesheet" href="~/backstage1/css/price_rangs.css" >

        
    </style>

</head>

<h3>新增履歷</h3>

<hr />
@* <div class="row">
    <div class="col-md-4"> *@
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <div class="form-group">                  
                <label asp-for="AccountId" class="control-label"></label>
                <input asp-for="AccountId" class="form-control" />
                <span asp-validation-for="AccountId" class="text-danger"></span>
            </div>  *@

            @*<a class="btn btn-outline-secondary" id="Demo">Demo</a>*@
            <a class="btn btn-outline-secondary" id="Demo2">Demo</a>

            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">

                    <!--履歷照片-->
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <h5 class="mb-4" style="color:#528EAF">履歷標題</h5>
                            <div class="form-group">
                                @*<label asp-for="ResumeTitle" class="control-label"></label>*@
                                <input asp-for="ResumeTitle" class="form-control" id="ResumeTitle"/>
                                <span asp-validation-for="ResumeTitle" class="text-danger"></span>
                            </div>
                            <p></p>
                            <h5 class="mb-4" style="color:#528EAF">履歷照片</h5>
                            <div class="form-group">
                                 @*<label asp-for="Photo" class="control-label"></label>*@
                                  <input id="photoInput" asp-for="Photo" class="form-control" type="file" name="imageFile"/>
                                  <span asp-validation-for="Photo" class="text-danger"></span>
                        
                                  <span id="photoError" class="text-danger"></span>
                                  
                                 <div id="photoPreview"></div>
                            </div>
                        </div>
                    </div>

                     <input type="hidden" id="hiddenPhotoInput" name="selectedPhoto" />

                    <!--任務地點-->
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <h5 class="mb-4" style="color:#528EAF">居住地點</h5>
                            <div class="form-floating mb-3">
                                <select class="form-select" id="selCity">
                                    <!-- <option selected>請選擇縣市</option> -->
                                    <option></option>
                                </select>
                                <label for="floatingSelectCity">請選擇縣市</label>
                            </div>
                            <div class="form-floating mb-3">
                                <select class="form-select" id="selTown" @* asp-for="TownId" *@>
                                    <!-- <option selected>請選擇區域</option> -->
                                    <option></option>
                                </select>
                                <label for="floatingSelectTown">請選擇區域</label>
                            </div>

                            <input type="hidden" id="hiddenTownIdInput" name="selectedTownId" />

                            <div class="form-group">
                                <label asp-for="Address" class="control-label"></label>
                                <input asp-for="Address" class="form-control" id="Address"/>
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>
                   </div>

                    <!--技能-->
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <h5 class="mb-4" style="color:#528EAF">履歷技能</h5>
                            <div class="form-floating mb-3">
                                <select class="form-select" id="SelSkillBigOne">
                                    <option></option>
                                </select>
                                <label for="floatingSelectCity">請選擇技能分類1</label>
                            </div>

                            <div class="form-floating mb-3">
                                <select class="form-select" id="SelSkillSmallOne">
                                    <option></option>
                                </select>
                                <label for="floatingSelectCity">請選擇技能1</label>
                            </div>

                            <div class="form-floating mb-3">
                                <select class="form-select" id="SelSkillBigTwo">
                                    <option></option>
                                </select>
                                <label for="floatingSelectCity">請選擇技能分類2</label>
                            </div>

                            <div class="form-floating mb-3">
                                <select class="form-select" id="SelSkillSmallTwo">
                                    <option></option>
                                </select>
                                <label for="floatingSelectCity">請選擇技能2</label>
                            </div>

                            <div class="form-floating mb-3">
                                <select class="form-select" id="SelSkillBigThree">
                                    <option></option>
                                </select>
                                <label for="floatingSelectCity">請選擇技能分類3</label>
                            </div>

                            <div class="form-floating mb-3">
                                <select class="form-select" id="SelSkillSmallThree">
                                    <option></option>
                                </select>
                                <label for="floatingSelectCity">請選擇技能3</label>
                            </div>

                            <input type="hidden" id="hiddenSkillIdInput1" name="selectedSkillId1" />
                            <input type="hidden" id="hiddenSkillIdInput2" name="selectedSkillId2" />
                            <input type="hidden" id="hiddenSkillIdInput3" name="selectedSkillId3" />

                            <input type="hidden" id="hiddenCerIdInput1" name="selectedCerId1" />
                            <input type="hidden" id="hiddenCerIdInput2" name="selectedCerId2" />
                            <input type="hidden" id="hiddenCerIdInput3" name="selectedCerId3" />

                        </div>
                    </div>

                    <!--證照-->
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                        <h5 class="mb-4" style="color:#528EAF">履歷專長</h5>
                            <div class="form-floating mb-3">
                                <select class="form-select" id="SelCerBigOne">
                                    <option></option>
                                </select>
                                <label for="floatingSelectCity">請選擇證照分類1</label>
                            </div>

                            <div class="form-floating mb-3">
                                <select class="form-select" id="SelCerSmallOne">
                                    <option></option>
                                </select>
                                <label for="floatingSelectCity">請選擇證照1</label>
                            </div>

                            <div class="form-floating mb-3">
                                <select class="form-select" id="SelCerBigTwo">
                                    <option></option>
                                </select>
                                <label for="floatingSelectCity">請選擇證照分類2</label>
                            </div>

                            <div class="form-floating mb-3">
                                <select class="form-select" id="SelCerSmallTwo">
                                    <option></option>
                                </select>
                                <label for="floatingSelectCity">請選擇證照2</label>
                            </div>

                            <div class="form-floating mb-3">
                                <select class="form-select" id="SelCerBigThree">
                                    <option></option>
                                </select>
                                <label for="floatingSelectCity">請選擇證照分類3</label>
                            </div>

                            <div class="form-floating mb-3">
                                <select class="form-select" id="SelCerSmallThree">
                                    <option></option>
                                </select>
                                <label for="floatingSelectCity">請選擇證照3</label>
                            </div>
                        </div>
                    </div>

                    <!--自傳-->
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                        <h5 class="mb-4" style="color:#528EAF">履歷自傳</h5>
                            <div class="form-group">
                                @*<label asp-for="Autobiography" class="control-label"></label>*@
                                <textarea asp-for="Autobiography" class="form-control" style="height:300px;resize:none" id="Autobiography"> </textarea>
                                <span asp-validation-for="Autobiography" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <!--送出+取消並返回-->
           
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                    <div class="bg-light rounded h-100 p-4  d-flex justify-content-center align-items-center">
                                <div class="form-group">
                            <input type="submit" value="送出並新增" class="btn btn-outline-success"id="New"/>
                            <a asp-action="ResumeList" class="btn btn-outline-secondary" id="Cancel">取消並返回</a>
                                </div>
                           </div>
                        </div>
                    </div>
           




            <div class="form-group" >                @*帶入真實帳號並隱藏欄位*@
                @* <label asp-for="AccountId"  class="control-label"></label> *@
                <input asp-for="AccountId" type="hidden" value="@id" />
                <span asp-validation-for="AccountId" class="text-danger"></span>
            </div>


            
           @*  <div class="form-group form-floating mb-3">
                <label asp-for="AccountId" class="control-label"></label>
                <input asp-for="AccountId" class="form-control" />
                <span asp-validation-for="AccountId" class="text-danger"></span>
            </div> *@

           
          
            @* <div class="form-group">
                <label asp-for="TownId" class="control-label"></label>
                <input asp-for="TownId" class="form-control" />
                <span asp-validation-for="TownId" class="text-danger"></span>
            </div> *@
           
          @*  <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>*@
        
            @* <div class="form-group">
                <label asp-for="TaskNameId" class="control-label"></label>
                <input asp-for="TaskNameId" class="form-control" />
                <span asp-validation-for="TaskNameId" class="text-danger"></span>
            </div> *@

            <div class="form-group form-check">  @*隱藏的欄位 預設值為False*@
                <label class="form-check-label">
                   @* <input class="form-check-input" asp-for="IsExpertOrNot" /> *@
                   @Html.HiddenFor(model => model.IsExpertOrNot, new { @Value = false })
                </label>
            </div>

            
            </div>
          </div>
        </form>
      
   @* </div>
</div>*@
@* 
<div class="row">
    <div class="col-md-4">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            開啟表單
        </button>

        <!-- 模態框 -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">表單</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div> 

         <div class="modal-body">
                        <div class="card">
                            <div class="card-body">
                                <form asp-action="Create">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                    <!-- 第一個區塊 -->
                                    <div class="form-group">
                                        <label asp-for="AccountId" class="control-label"></label>
                                        <input asp-for="AccountId" class="form-control" />
                                        <span asp-validation-for="AccountId" class="text-danger"></span>
                                    </div>

                                    <!-- 第二個區塊 -->
                                    <div class="form-group">
                                        <label asp-for="TownId" class="control-label"></label>
                                        <input asp-for="TownId" class="form-control" />
                                        <span asp-validation-for="TownId" class="text-danger"></span>
                                    </div>

                                    <!-- ... 其他區塊 ... -->

                                    <div class="form-group">
                                        <input type="submit" value="送出並新增" class="btn btn-primary" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div> 


                </div>
            </div>
        </div>
    </div>
</div> *@




@section Scripts {}
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    <script src = "https://cdn.jsdelivr.net/npm/sweetalert2@11" ></script>
    }

    <script>
        const selCity = document.querySelector('#selCity');
        const selTown = document.querySelector('#selTown');
        const hiddenTownIdInput = document.querySelector('#hiddenTownIdInput');

        


        //select的城市
        async function loadCity() {
            const response = await fetch('@Url.Content("~/BackstageTask/Cities")')
            const datas = await response.json()
            // datas.sort();
            const cities = datas.map(City => `<option value="${City}">${City}</option>`);
            document.querySelector('#selCity').innerHTML = cities.join("");

            loadDistrict();
        }

        loadCity();

        //select的區域
        async function loadDistrict() {
            const response = await fetch(`@Url.Content("~/BackstageTask/Districts")?City=${selCity.value}`);
            const datas = await response.json()
            // datas.sort();
            const districts = datas.map(Town => `<option value='${Town}'>${Town}</option>`);
            selTown.innerHTML = districts.join("");
            getTownId();
        }

        async function getTownId() {
            const response = await fetch(`@Url.Content("~/Backstage/GetTownId")?City=${selCity.value}&District=${selTown.value}`);
            const data = await response.json();
            const selectedTownId = data[0]; // 由於後端程式碼回傳的是 IEnumerable<TownId>，這裡選取第一個元素
            hiddenTownIdInput.value = selectedTownId;
        }
       
   
        // loadDistrict();

        selCity.addEventListener('change', () => {
            loadDistrict();
        });

        selTown.addEventListener('change', () => {
            getTownId();
        });


        const SelSkillBigOne = document.querySelector('#SelSkillBigOne');
        const SelSkillSmallOne = document.querySelector('#SelSkillSmallOne');

        //select的技能分類
        async function loadSelSkillBigOne() {
            const response = await fetch('@Url.Content("~/BackstageTask/SkillBig")')
            const datas = await response.json()
            const skillBig = datas.map(SkillTypeName => `<option value="${SkillTypeName}">${SkillTypeName}</option>`);
            document.querySelector('#SelSkillBigOne').innerHTML = skillBig.join("");

            loadSelSkillSmallOne();
        }

        loadSelSkillBigOne();

        //select的技能小項
        async function loadSelSkillSmallOne() {
            const response = await fetch(`@Url.Content("~/BackstageTask/SkillSmall")?SkillBig=${SelSkillBigOne.value}`);
            const datas = await response.json()
            const skillSmall = datas.map(SkillName => `<option value='${SkillName}'>${SkillName}</option>`);
            SelSkillSmallOne.innerHTML = skillSmall.join("");
            getSkillIdOne();
        }

        SelSkillBigOne.addEventListener('change', () => {
            loadSelSkillSmallOne();
        });

        SelSkillSmallOne.addEventListener('change', () => {
            getSkillIdOne();
        });


        const SelSkillBigTwo = document.querySelector('#SelSkillBigTwo');
        const SelSkillSmallTwo = document.querySelector('#SelSkillSmallTwo');

        //select的技能分類
        async function loadSelSkillBigTwo() {
            const response = await fetch('@Url.Content("~/BackstageTask/SkillBig")')
            const datas = await response.json()
            const skillBig = datas.map(SkillTypeName => `<option value="${SkillTypeName}">${SkillTypeName}</option>`);
            document.querySelector('#SelSkillBigTwo').innerHTML = skillBig.join("");

            loadSelSkillSmallTwo();
        }

        loadSelSkillBigTwo();

        //select的技能小項
        async function loadSelSkillSmallTwo() {
            const response = await fetch(`@Url.Content("~/BackstageTask/SkillSmall")?SkillBig=${SelSkillBigTwo.value}`);
            const datas = await response.json()
            const skillSmall = datas.map(SkillName => `<option value='${SkillName}'>${SkillName}</option>`);
            SelSkillSmallTwo.innerHTML = skillSmall.join("");
            getSkillIdTwo();
        }

        SelSkillBigTwo.addEventListener('change', () => {
            loadSelSkillSmallTwo();
        });

        SelSkillSmallTwo.addEventListener('change', () => {
            getSkillIdTwo();
        });



        const SelSkillBigThree = document.querySelector('#SelSkillBigThree');
        const SelSkillSmallThree = document.querySelector('#SelSkillSmallThree');

        //select的技能分類
        async function loadSelSkillBigThree() {
            const response = await fetch('@Url.Content("~/BackstageTask/SkillBig")')
            const datas = await response.json()
            const skillBig = datas.map(SkillTypeName => `<option value="${SkillTypeName}">${SkillTypeName}</option>`);
            document.querySelector('#SelSkillBigThree').innerHTML = skillBig.join("");

            loadSelSkillSmallThree();
        }

        loadSelSkillBigThree();

        //select的技能小項
        async function loadSelSkillSmallThree() {
            const response = await fetch(`@Url.Content("~/BackstageTask/SkillSmall")?SkillBig=${SelSkillBigThree.value}`);
            const datas = await response.json()
            const skillSmall = datas.map(SkillName => `<option value='${SkillName}'>${SkillName}</option>`);
            SelSkillSmallThree.innerHTML = skillSmall.join("");
            getSkillIdThree();
        }

        SelSkillBigThree.addEventListener('change', () => {
            loadSelSkillSmallThree();
        });

        SelSkillSmallThree.addEventListener('change', () => {
            getSkillIdThree();
        });



        //證照的標籤
        const SelCerBigOne = document.querySelector('#SelCerBigOne');
        const SelCerSmallOne = document.querySelector('#SelCerSmallOne');

        //select的證照分類
        async function loadSelCerBigOne() {
            const response = await fetch('@Url.Content("~/BackstageTask/CerBig")')
            const datas = await response.json()
            const CerBig = datas.map(CertificateTypeName => `<option value="${CertificateTypeName}">${CertificateTypeName}</option>`);
            document.querySelector('#SelCerBigOne').innerHTML = CerBig.join("");

            loadSelCerSmallOne();
        }

        loadSelCerBigOne();

        //select的證照小項
        async function loadSelCerSmallOne() {
            const response = await fetch(`@Url.Content("~/BackstageTask/CerSmall")?CerBig=${SelCerBigOne.value}`);
            const datas = await response.json()
            const CerSmall = datas.map(CertificateName => `<option value='${CertificateName}'>${CertificateName}</option>`);
            SelCerSmallOne.innerHTML = CerSmall.join("");
            getCerIdOne()
        }

        loadSelCerSmallOne();

        SelCerBigOne.addEventListener('change', () => {
            loadSelCerSmallOne();
        });

        SelCerSmallOne.addEventListener('change', () => {
            getCerIdOne();
        });


        //證照的標籤
        const SelCerBigTwo = document.querySelector('#SelCerBigTwo');
        const SelCerSmallTwo = document.querySelector('#SelCerSmallTwo');

        //select的證照分類
        async function loadSelCerBigTwo() {
            const response = await fetch('@Url.Content("~/BackstageTask/CerBig")')
            const datas = await response.json()
            const CerBig = datas.map(CertificateTypeName => `<option value="${CertificateTypeName}">${CertificateTypeName}</option>`);
            document.querySelector('#SelCerBigTwo').innerHTML = CerBig.join("");

            loadSelCerSmallTwo();
        }

        loadSelCerBigTwo();

        //select的證照小項
        async function loadSelCerSmallTwo() {
            const response = await fetch(`@Url.Content("~/BackstageTask/CerSmall")?CerBig=${SelCerBigTwo.value}`);
            const datas = await response.json()
            const CerSmall = datas.map(CertificateName => `<option value='${CertificateName}'>${CertificateName}</option>`);
            SelCerSmallTwo.innerHTML = CerSmall.join("");
            getCerIdTwo();
        }

        loadSelCerSmallTwo();

        SelCerBigTwo.addEventListener('change', () => {
            loadSelCerSmallTwo();
        });

        SelCerSmallTwo.addEventListener('change', () => {
            getCerIdTwo();
        });


        //證照的標籤
        const SelCerBigThree = document.querySelector('#SelCerBigThree');
        const SelCerSmallThree = document.querySelector('#SelCerSmallThree');

        //select的證照分類
        async function loadSelCerBigThree() {
            const response = await fetch('@Url.Content("~/BackstageTask/CerBig")')
            const datas = await response.json()
            const CerBig = datas.map(CertificateTypeName => `<option value="${CertificateTypeName}">${CertificateTypeName}</option>`);
            document.querySelector('#SelCerBigThree').innerHTML = CerBig.join("");
            loadSelCerSmallThree();
        }

        loadSelCerBigThree();

        //select的證照小項
        async function loadSelCerSmallThree() {
            const response = await fetch(`@Url.Content("~/BackstageTask/CerSmall")?CerBig=${SelCerBigThree.value}`);
            const datas = await response.json()
            const CerSmall = datas.map(CertificateName => `<option value='${CertificateName}'>${CertificateName}</option>`);
            SelCerSmallThree.innerHTML = CerSmall.join("");
            getCerIdThree();
        }

        loadSelCerSmallThree();

        SelCerBigThree.addEventListener('change', () => {
            loadSelCerSmallThree();
        });

        SelCerSmallThree.addEventListener('change', () => {
            getCerIdThree();
        });

        const hiddenSkillIdInput1 = document.querySelector('#hiddenSkillIdInput1');
        const hiddenSkillIdInput2 = document.querySelector('#hiddenSkillIdInput2');
        const hiddenSkillIdInput3 = document.querySelector('#hiddenSkillIdInput3');

        const hiddenCerIdInput1 = document.querySelector('#hiddenCerIdInput1');
        const hiddenCerIdInput2 = document.querySelector('#hiddenCerIdInput2');
        const hiddenCerIdInput3 = document.querySelector('#hiddenCerIdInput3');

        async function getSkillIdOne() {
            const response = await fetch(`@Url.Content("~/Backstage/GetSkillId")?skillType=${SelSkillBigOne.value}&skillName=${SelSkillSmallOne.value}`);
            const data = await response.json();
            const selectedSkillId1 = data[0]; // 由於後端程式碼回傳的是 IEnumerable<TownId>，這裡選取第一個元素
            hiddenSkillIdInput1.value = selectedSkillId1;
            console.log(hiddenSkillIdInput1.value);
        }

        async function getSkillIdTwo() {
            const response = await fetch(`@Url.Content("~/Backstage/GetSkillId")?skillType=${SelSkillBigTwo.value}&skillName=${SelSkillSmallTwo.value}`);
            const data = await response.json();
            const selectedSkillId2 = data[0]; // 由於後端程式碼回傳的是 IEnumerable<TownId>，這裡選取第一個元素
            hiddenSkillIdInput2.value = selectedSkillId2;
            console.log(hiddenSkillIdInput2.value);
        }

        async function getSkillIdThree() {
            const response = await fetch(`@Url.Content("~/Backstage/GetSkillId")?skillType=${SelSkillBigThree.value}&skillName=${SelSkillSmallThree.value}`);
            const data = await response.json();
            const selectedSkillId3 = data[0]; // 由於後端程式碼回傳的是 IEnumerable<TownId>，這裡選取第一個元素
            hiddenSkillIdInput3.value = selectedSkillId3;
            console.log(hiddenSkillIdInput3.value);
        }

        async function getCerIdOne() {
            const response = await fetch(`@Url.Content("~/Backstage/GetCerId")?cerType=${SelCerBigOne.value}&cerName=${SelCerSmallOne.value}`);
            const data = await response.json();
            const selectedCerId1 = data[0]; // 由於後端程式碼回傳的是 IEnumerable<TownId>，這裡選取第一個元素
            hiddenCerIdInput1.value = selectedCerId1;
            console.log(hiddenCerIdInput1.value);
        }

        async function getCerIdTwo() {
            const response = await fetch(`@Url.Content("~/Backstage/GetCerId")?cerType=${SelCerBigTwo.value}&cerName=${SelCerSmallTwo.value}`);
            const data = await response.json();
            const selectedCerId2 = data[0]; // 由於後端程式碼回傳的是 IEnumerable<TownId>，這裡選取第一個元素
            hiddenCerIdInput2.value = selectedCerId2;
            console.log(hiddenCerIdInput2.value);
        }

        async function getCerIdThree() {
            const response = await fetch(`@Url.Content("~/Backstage/GetCerId")?cerType=${SelCerBigThree.value}&cerName=${SelCerSmallThree.value}`);
            const data = await response.json();
            const selectedCerId3 = data[0]; // 由於後端程式碼回傳的是 IEnumerable<TownId>，這裡選取第一個元素
            hiddenCerIdInput3.value = selectedCerId3;
            console.log(hiddenCerIdInput3.value);
        }

    const photoInput = document.getElementById('photoInput');
    const photoPreview = document.getElementById('photoPreview');

    // 當使用者選擇檔案時觸發事件
    photoInput.addEventListener('change', function () {
        const selectedFile = photoInput.files[0];

        if (selectedFile) {
            // 檢查是否是圖片類型
            if (selectedFile.type.startsWith('image/')) {
                // 創建一個圖片元素，設置其 src 屬性為選擇的圖片
                const img = document.createElement('img');
                img.src = URL.createObjectURL(selectedFile);
                const New = document.querySelector('#New');
                New.disabled = false;
               /*  img.style.maxWidth = '100%';
                img.style.height = 'auto'; */

                img.width = 360;
                img.height = 360;
                // 清空預覽元素的內容，然後添加新的圖片
                photoPreview.innerHTML = '';
                photoPreview.appendChild(img);

                // 清除可能的錯誤訊息
                const photoError = document.getElementById('photoError');
                photoError.textContent = '';
            } else {
                // 如果選擇的檔案不是圖片，顯示錯誤訊息
                const photoError = document.getElementById('photoError');

                photoError.textContent = '請選擇有效的圖片檔案。';
                photoPreview.innerHTML = '';

                const New = document.querySelector('#New');
                New.disabled = true;

                Swal.fire({
                    icon: 'error',
                    title: '警告',
                    text: '您選擇的檔案不是圖片，請選擇有效的圖片檔案',
                    confirmButtonText: '確認',
                })
                /* New.style.backgroundColor = 'red'; */
                /* New.textContent = '請選擇正確的圖片'; */
            }
        } else {
            // 如果未選擇檔案，清空預覽元素
            photoPreview.innerHTML = '';
            const photoError = document.getElementById('photoError');
            photoError.textContent = '';
        }
    });

    const Demo = document.querySelector('#Demo');
    const Autobiography = document.querySelector('#Autobiography');
    const ResumeTitle = document.querySelector('#ResumeTitle');
    const Address = document.querySelector('#Address');

    const Demo2 = document.querySelector('#Demo2');
    Demo2.addEventListener('click', () => {
        Autobiography.value = '我是一名具有熱情和多年經驗的軟體工程師，專注於C#和其他程式語言的軟體開發。我堅信良好的程式設計是創建高品質軟體的關鍵，並一直致力於不斷提升我的技能和知識。C# 開發：我精通C#語言，並能夠設計和實現高效、可擴展的應用程式。我使用C#來開發各種應用，包括桌面應用、Web應用和服務。.NET框架：我熟練使用.NET框架，包括ASP.NET和WPF，以構建現代的Web應用和桌面應用。資料庫設計：我具有豐富的資料庫設計和管理經驗，包括SQL Server和Entity Framework。我能夠優化查詢，確保數據庫效能。前端技術：我熟悉HTML、CSS和JavaScript，能夠協助前端團隊實現互動性和優雅的用戶界面。版本控制：我使用Git來管理代碼，並熟悉常用的版本控制工作流程。單元測試：我寫單元測試來確保程式碼的穩定性和可靠性。過去的項目線上購物平台：我參與開發了一個基於ASP.NET的線上購物平台，該平台處理數百萬用戶的訂單並提供領先的用戶體驗。金融應用程式：我設計了一個C#應用程式，用於自動化金融數據分析和報告生成，提高了工作效率並降低了錯誤率。物聯網應用：我參與開發了一個基於.NET Core的物聯網應用，用於監控和控制智能設備，實現了實時數據收集和分析。 我是一名具有豐富經驗的C#和其他程式語言工程師，熱衷於創建高品質的軟體和解決複雜的技術挑戰。我積極學習新技術，並善於團隊合作。我期待著為您的項目帶來價值並實現卓越的技術解決方案。如果您對我的履歷感興趣，請隨時聯絡我以進一步討論，vu,4vu,4sup6。'
        ResumeTitle.value = '程式相關'
        Address.value = '復興南路一段390號3樓';
    })


    Demo.addEventListener('click', () => {
        Autobiography.value = '我是一名充滿熱情和專業知識的金融業專業人士，熱切地追求在這個挑戰性和動態的領域中發展和貢獻。從我開始學習金融知識的那一刻起，我就深深被這個領域的複雜性和影響力所吸引，並始終保持著學習和成長的態度。我在大學主修金融學，並在學業過程中獲得了紮實的理論基礎。我的學習重點包括投資管理、財務分析和風險管理等領域，這些知識讓我深入了解了金融市場的運作和機制。我在學校內外積極參與金融相關的社團和比賽，並在模擬交易比賽中表現優異，進一步鞏固了我的金融知識和實踐技能。 畢業後，我進入了一家知名的金融公司擔任金融分析師。在這個角色中，我負責評估公司的財務狀況、分析市場趨勢並提供投資建議。我運用數據分析技能，幫助客戶做出明智的投資決策，同時也與團隊密切合作，確保我們的投資策略與市場保持同步。我的工作經驗使我更加確信，金融業是一個需要不斷學習和適應的領域。我定期關注國際金融新聞，參加行業研討會和培訓課程，以保持對市場的深刻理解和洞察力。我也意識到了風險管理的重要性，並積極參與風險管理工作，以確保投資的穩健性。我對金融業的熱情和專業知識，以及對持續學習和自我提升的承諾，使我有信心能夠為貴公司帶來價值。我渴望加入您的團隊，與優秀的同事共同努力，推動金融領域的發展。謝謝您撥冗考慮我的申請。'
        ResumeTitle.value = '金融業';
        Address.value = '復興南路一段390號3樓';

       
       /*  selCity.selectedIndex = 19;
        selTown.selectedIndex = 2;
        hiddenTownIdInput.value = 5; */


       /* SelSkillBigOne.selectedIndex = 3;
        SelSkillSmallOne.selectedIndex = 0;
        hiddenSkillIdInput1.value = 35;

        SelSkillBigTwo.selectedIndex = 1;
        SelSkillSmallTwo.selectedIndex = 2;
        hiddenSkillIdInput2.value = 19;

        SelSkillBigThree.selectedIndex = 1;
        SelSkillSmallThree.selectedIndex = 3;
        hiddenSkillIdInput3.value = 23;*/
    })

        
     </script>  
     

