@using System.Text.Json;
@model IEnumerable<prjCoreWebWantWant.ViewModels.CMemberCollectionViewModel>






@section Styles{
    <style>
        .table {
            text-align: center;
        }

        .gap-2 {
            justify-content: center;
        }

        .badge {
            background-color: #528EAF;
            display: block;
        }

        tr:hover {
            background-color: gray;
        }

    </style>
}
@section Scripts{
    <script>
        const selTaskNamePublish = document.querySelector('#selTaskNamePublish');
        const txtKeyword = document.querySelector('#txtKeyword');


        //selTaskNamePublish.addEventListener('change', () => {
        //    txtKeyword.value = "";
        //    const xhr = new XMLHttpRequest();
        //    xhr.open('POST', '@Url.Content("~/Backstage/PartialCollection")');
        //    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        //    xhr.send(`category=${selTaskNamePublish.value}`);
        //    xhr.addEventListener('load', () => {
        //        const Publish = document.querySelector('#Publish')
        //        Publish.innerHTML = xhr.responseText;
        //         ('#collection').DataTable({
        //            language: {
        //                url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/zh-HANT.json',
        //            },
        //        });
        //    })
        //})

        $(document).ready(function () {
            $('#selTaskNamePublish').change(function () {
                $('#txtKeyword').val("");
                var selectedCategory = $(this).val();
                $.ajax({
                    url: '@Url.Action("PartialCollection", "Backstage")',
                    type: 'POST',
                    data: { category: selectedCategory },
                    success: function (data) {
                        $('#Publish').html(data);
                    }
                });
            });
        });

    </script>
}

<body>
                <div class="row" id="Collect">
                    <div class="col">
                        <div class="table-responsive mb-4">
                            <table id="collection" class="table align-middle datatable dt-responsive table-check nowrap table table-hover"
                                   style="border-collapse: collapse;
                                          border-spacing: 0 8px;
                                          width: 100%; ">

                                @*  @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
                                @{
                                string userDataJson = HttpContextAccessor.HttpContext.Session.GetString(CDictionary.SK_LOGINED_USER);
                                CLoginUser loggedInUser = JsonSerializer.Deserialize<CLoginUser>(userDataJson); //loggedInUser的資料型態為MemberAccount這個資料表                                                                                   // 现在 loggedInUser 对象包含了从会话中取出的用户信息
                                int id = loggedInUser.AccountId; //抓登入者的id
                                } *@

                                <thead>
                                    <tr>
                                        <th scope="col" style="width:30px">
                                            <div class="form-check font-size-16" style="width: 30px; text-align: center">序號</div>
                                        </th>
                                        <th scope="col" style="width: 30px; text-align: center">任務名稱</th>
                                        <th scope="col" style="width: 30px; text-align: center">任務內容</th>
                                        <th scope="col" style="width: 30px; text-align: center">任務報酬</th>
                                        <th scope="col" style="width: 30px; text-align: center">證照</th>
                                        <th scope="col" style="width: 30px; text-align: center">技能</th>
                                        <th scope="col" style="width: 30px; text-align: center">收藏日期</th>
                                        <th scope="col" style="width: 30px; text-align: center">詳細內容</th>
                                        <th style="width: 30px; text-align: center">動作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int count = 0;
                                        @foreach (var item in Model)
                                        {
                                            count++;
                                            string TaskDetail = item.TaskDetail;
                                            if(item.TaskDetail != null)
                                            {
                                                if (TaskDetail.Length > 10)
                                                {
                                                    TaskDetail = $"{TaskDetail.Substring(0, 10)}...";
                                                }
                                             }
                                            <tr>
                                                <td data-field="id" style="width: 30px; text-align: center">@count</td>
                                                <td style="width: 30px; text-align: center"> <a href="#" class="text-body">@item.TaskTitle</a> </td>
                                                <td style="width: 30px; text-align: center">@TaskDetail</td>
                                                <td style="width: 30px; text-align: center">@item.PayFrom</td>
                                                <td style="width: 30px; text-align: center">
                                                    <div class="d-flex gap-2">
                                                        @*<a href="#" class="badge badge-soft-primary font-size-11">Php</a>
                                                        <a href="#" class="badge badge-soft-primary font-size-11">Java</a>
                                                        <a href="#" class="badge badge-soft-primary font-size-11">Python</a>*@

                                                        @foreach (var certificate in item.Certificate)
                                                        {
                                                            <a href="#" class="badge badge-soft-primary">@certificate</a>
                                                        }
                                                    </div>
                                                </td>
                                                <td style="text-align: left;width:50px">
                                                    <div class="d-flex gap-2;width:50px">
                                                        @if (item.Skill != null)
                                                        {
                                                            @foreach (var skill in item.Skill)
                                                            {
                                                                <a href="#" class="badge badge-soft-primary">@skill</a>
                                                            }
                                                        }
                                                    </div>
                                                </td>
                                                <td style="text-align: left">@item.CollectionDate</td>
                                                <td><a href="@Url.Content("~/Backstage/JobDetail")?id=@item.CaseId" class="btn btn-outline-secondary" style="color:#528EAF">查看</a></td>
                                                <th>
                                                    <div class="btn-group" role="group" aria-label="Basic example">
                                                        <a href="@Url.Content("~/BackStage/DeleteCollection")?id=@item.CaseId" class="btn btn-outline-danger">取消收藏</a>
                                                        @*<a href="@Url.Content("~/BackStage/Apply")?caseId=@item.CaseId" class="btn btn-outline-success">應徵</a>*@
                                                        @*<a href="#" data-bs-toggle="modal" data-bs-target="#myModal" id="Apply" class="btn btn-outline-success" >應徵</a>*@
                                                        <button data-bs-toggle="modal" data-bs-target="#myModal" id="Apply" class="Apply btn btn-outline-success" value="@item.CaseId">應徵</button>
                                                        @*<a href="@Url.Content("~/BackStage/Apply")?id=@item.CaseId" class="btn btn-outline-success">應徵</a>*@
                                                    </div>
                                                </th>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            <!-- end table-->
                            @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
                            @{
                                string userDataJson = HttpContextAccessor.HttpContext.Session.GetString(CDictionary.SK_LOGINED_USER);
                                CLoginUser loggedInUser = JsonSerializer.Deserialize<CLoginUser>(userDataJson); //loggedInUser的資料型態為MemberAccount這個資料表                                                                                   // 现在 loggedInUser 对象包含了从会话中取出的用户信息
                                int id = loggedInUser.AccountId; //抓登入者的id
                            }
                            @{
                                NewIspanProjectContext db = new NewIspanProjectContext();
                                var resumes = db.Resumes
                                .Where(r => r.IsExpertOrNot == false && r.AccountId == id && r.CaseStatusId != 22);
                            }

                            <div class="modal" tabindex="-1" id="myModal">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">請選擇履歷</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">

                                            @foreach (var item in resumes)
                                            {
                                                @*履歷一*@
                                                <div class="col">
                                                    <div class="card h-100">
                                                        <div class="card-body" width="300px">
                                                            <h4 class="card-title text-center" style="color:#528EAF">@item.ResumeTitle</h4>
                                                            <hr />
                                                            @if(item.Autobiography != null)
                                                            {
                                                                @if (item.Autobiography.Length <= 70)
                                                                {
                                                                <p class="card-text">@item.Autobiography</p>
                                                                }
                                                            else
                                                                {
                                                                <p class="card-text">@item.Autobiography.Substring(0,70)... </p>  @*秀出自傳的部分內容*@
                                                                }
                                                            }
                                                            
                                                            <div class="card-footer text-center">
                                                                <form action="@Url.Content("~/Backstage/apply")" method="post">
                                                                    <!-- 使用表單元素包裹 -->
                                                                    <input onclick="Alert()"
                                                                           class="btn btn-primary"
                                                                           style="background-color: #528EAF"
                                                                           type="submit"
                                                                           value="以此履歷應徵" />
                                                                    <input type="hidden" name="resumeId" value="@item.ResumeId">
                                                                    <input type="hidden" id="selectedCaseId" name="caseId" />

                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <p></p>
                                            }
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消應徵</button>
                                                @*<button type="button" class="btn btn-primary">立即應徵</button>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--點選tab切換表格-->
                <!-- <script>
                  function showCollect() {
                    //先取得要操作的標籤
                    let Collect = document.querySelector("#Collect");
                    let Applied = document.querySelector("#Applied");

                    //再對標籤做操作
                    Collect.style.display = "block";
                    Applied.style.display = "none";
                  }

                  function showApplied() {
                    //先取得要操作的標籤
                    let Collect = document.querySelector("#Collect");
                    let Applied = document.querySelector("#Applied");

                    //再對標籤做操作
                    Collect.style.display = "none";
                    Applied.style.display = "block";
                  }
                </script> -->
            </div>
        </div>
    </div>

 

    <script>
       


        const selectedCaseId = document.querySelector('#selectedCaseId');
        const Apply = document.querySelector('#Apply');
        Apply.addEventListener('click',() => {
            selectedCaseId.value = Apply.value;
            console.log(selectedCaseId.value)
        })

        //const selectedCaseId = document.querySelector('#selectedCaseId');
        //const Apply = document.querySelectorAll('.Apply');
        //Apply.forEach(button => {
        //    button.addEventListener('click', () => {
        //        selectedCaseId.value = button.value;
        //        //console.log(selectedCaseId.value);
        //    })
        //})
    </script>
</body>
