

            <div class="row" id="Applied">
                <div class="col">
                    <div class="table-responsive mb-4">
                        <table id="applicationRecord" class="table align-middle datatable dt-responsive table-check nowrap table table-hover"
                               style="
                  border-collapse: collapse;
                  border-spacing: 0 8px;
                  width: 100%;
                ">
                            <thead>
                                <tr>
                                    <th scope="col" style="width:50px">
                                        <div class="form-check font-size-16" style="width: auto; text-align: center">序號</div>
                                    </th>
                                    <th scope="col" style="width: auto; text-align: center">任務名稱</th>
                                    <th scope="col" style="width: auto; text-align: center">任務內容</th>
                                    <th scope="col" style="width: auto; text-align: center">任務報酬</th>
                                    <th scope="col" style="width: auto; text-align: center">需求技能</th>
                                    <th scope="col" style="width: auto; text-align: center">應徵時間</th>
                                    <th style="width: auto; text-align: center">詳細內容</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int count = 0;
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        string TaskDetail = item.TaskDetail;
                                        if (TaskDetail.Length > 15)
                                        {
                                            TaskDetail = $"{TaskDetail.Substring(0, 15)}...";
                                        }
                                        <tr>
                                            <td data-field="id" style="text-align: left">@count</td>
                                            <td style="text-align: left"> <a href="#" class="text-body">@item.TaskTitle</a> </td>
                                            <td style="text-align: left">@TaskDetail</td>
                                            <td style="text-align: center">@item.PayFrom</td>
                                            <td style="text-align: left">
                                                <div class="d-flex gap-2">
                                                    <a href="#" class="badge badge-soft-primary">Photoshop</a>
                                                    <a href="#" class="badge badge-soft-primary">illustrator</a>
                                                    <a href="#" class="badge badge-soft-primary font-size-11">Python</a>
                                                </div>
                                            </td>
                                            <td style="text-align: left">@item.ApplicationDate</td>
                                            <th>
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                    <a href="@Url.Content("~/Backstage/JobDetail")?id=@item.CaseId" class="btn btn-outline-secondary" style="color:#528EAF">查看</a>
                                                </div>
                                            </th>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        <!-- end table-->
                    </div>
                </div>
            </div>

           
 