@* @model prjCoreWebWantWant.Models.Resume

@{
    ViewData["Title"] = "ResumeEditNew";
} *@

@* <div class="row">
    <div class="col-md-4">
        <form asp-action="ResumeEditNew">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Autobiography" class="control-label"></label>
                <input asp-for="Autobiography" class="form-control" />
                <span asp-validation-for="Autobiography" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ResumeTitle" class="control-label"></label>
                <input asp-for="ResumeTitle" class="form-control" />
                <span asp-validation-for="ResumeTitle" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div> *@

@* <div>
    <a asp-action="Index">Back to List</a>
</div> *@

@* @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} *@



@using System.Text.Json;
@*@model IEnumerable<prjCoreWebWantWant.Models.Resume>*@
@model prjCoreWebWantWant.Models.Resume

@{
    ViewData["Title"] = "ResumeUneditable";
    // Layout = "~/Views/Shared/_LayoutBackstage.cshtml";
    Layout = "~/Views/Member/LayoutForMem.cshtml";
}

@*抓登入者的名字*@
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    string userDataJson = HttpContextAccessor.HttpContext.Session.GetString(CDictionary.SK_LOGINED_USER);
    MemberAccount loggedInUser = JsonSerializer.Deserialize<MemberAccount>(userDataJson);
    string loginUserName = loggedInUser.Name;

    NewIspanProjectContext context = new NewIspanProjectContext();
    CExperTaskFactory factory = new CExperTaskFactory(context);

    List<int> skillIds;
    List<int> certificateIds;

    skillIds = Model.ResumeSkills.Select(ts => ts.SkillId).ToList();
    certificateIds = Model.ResumeCertificates.Select(tc => tc.CertificateId).ToList();
}

@section Scripts{
    <script>
        const Back = document.querySelector('#Back');
        Back.addEventListener('click', () => {
            window.history.back();
        })

        const selCity = document.querySelector('#selCity');
        const selTown = document.querySelector('#selTown');

        //select的城市
        async function loadCity() {
            const response = await fetch('@Url.Content("~/BackstageTask/Cities")')
            const datas = await response.json()
            const cities = datas.map(City => `<option value="${City}">${City}</option>`);
            cities.unshift('<option value="0">請選擇城市</option>');
            document.querySelector('#selCity').innerHTML = cities.join("");

            loadDistrict();
        }

        loadCity();

        //select的區域
        async function loadDistrict() {
            const response = await fetch(`@Url.Content("~/BackstageTask/Districts")?City=${selCity.value}`);
            const datas = await response.json()
            const districts = datas.map(Town => `<option value='${Town}'>${Town}</option>`);
            districts.unshift('<option value="0">請選擇地區</option>');
            selTown.innerHTML = districts.join("");
            getTownId();
        }

        async function getTownId() {
            const response = await fetch(`@Url.Content("~/Backstage/GetTownId")?City=${selCity.value}&District=${selTown.value}`);
            const data = await response.json();
            const selectedTownId = data[0]; // 由於後端程式碼回傳的是 IEnumerable<TownId>，這裡選取第一個元素
            hiddenTownIdInput.value = selectedTownId;
        }

        selCity.addEventListener('change', () => {
            loadDistrict();
        });

        selTown.addEventListener('change', () => {
            getTownId();
        });
    </script>
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>履歷編輯</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="Premium Multipurpose Admin &amp; Dashboard Template"
          name="description" />
    <meta content="Themesbrand" name="author" />
    <style>

        .badge-soft-primary {
            background-color: #528EAF;
            color: #fff;
        }

        #Back:hover {
            background-color: #528EAF;
        }

        .vertical-divider {
            border-left: 1px solid #ccc; /* 垂直分隔線樣式 */
            height: 330px; /* 與照片相同高度 */
            margin: auto 0; /* 垂直置中 */
        }

        #BacktoResumeList:hover{
            background-color: #528EAF;
        }

    </style>
</head>

<body>

      <form asp-action="ResumeEdit" enctype="multipart/form-data" method="post">
        <input asp-for="ResumeId" class="form-control" type="hidden" />
    <!-- <body data-layout="horizontal"> -->
    <!-- Begin page -->
    <div id="layout-wrapper">
        <header id="page-topbar">
        </header>


        <!-- Start right Content here -->
        <!-- ============================================================== -->
        @* <div class="main-content"> *@
        @* <div class="page-content"> *@
        @*   <div class="container-fluid"> *@
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="container-fluid d-flex justify-content-end">
                    <a id="Back" class="btn btn-outline-secondary">返回上一頁</a>
                    <p></p>
                </div>
                <p></p>

                
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    @* <div class="card-body"> *@
                        <div class="card-header">
                            <h5 class="card-title mb-0">個人資料</h5>
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="@Url.Content(Model.PhotoPath)" style="height: 330px; width: 280px;" />

                                    <div class="col">
                                        <div class="form-group">
                                            <input id="photoInput" asp-for="Photo" class="form-control" type="file" name="imageFile" />
                                            <span asp-validation-for="Photo" class="text-danger"></span>
                                        </div>
                                    </div>                                    
                                </div>
                               

                                @*  <div class="col-md-1 vertical-divider"></div> <!-- 垂直分隔線 --> *@

                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-12">

                                            <p></p>
                                            <p></p>
                                            <p></p>

                                            <h4 class="font-size-15">姓名：@loginUserName</h4>
                                             @* <h4 class="font-size-15">性別：女</h4> *@

                                             @* <h4 class="font-size-15">城市：@Model.Town.City.City1</h4>
                                            <div class="form-floating mb-3">
                                                <select class="form-select" id="selCity">
                                                    <!-- <option selected>請選擇縣市</option> -->
                                                    <option></option>
                                                </select>
                                                <label for="floatingSelectCity">請選擇縣市</label>
                                            </div> *@
                                            @* <div class="row"> *@
                                                <div class="col-md-6 d-flex align-items-center">
                                                <h4 class="font-size-15" style="margin-right:80px">城市：@Model.Town.City.City1</h4>
                                                <div class="col-md-6">                                                    
                                                    <div class="form-floating mb-3">
                                                        <select class="form-select " id="selCity">
                                                            <!-- <option selected>請選擇縣市</option> -->
                                                            <option></option>
                                                        </select>
                                                        <label for="floatingSelectCity">請選擇縣市</label>
                                                    </div>
                                                </div>
                                                </div>

                                              <div class="col-md-6 d-flex align-items-center" >                                                    
                                                    <h4 class="font-size-15" style="margin-right:80px">區域：@Model.Town.Town1</h4>                                                    
                                                        <div class="col-md-6">
                                                            <div class="form-floating mb-3">
                                                                <select class="form-select" id="selTown">
                                                                    <!-- <option selected>請選擇區域</option> -->
                                                                    <option></option>
                                                                </select>
                                                                <label for="floatingSelectTown">請選擇區域</label>
                                                            </div>
                                                        </div>
                                                     </div>
                                           @* </div> *@

                                            <input type="hidden" id="hiddenTownIdInput" name="selectedTownId" />

                                            <div class="row">
                                                 <div class="col-md-6 d-flex align-items-center">
                                                    <h4 class="font-size-15" style="margin-right:80px">詳細地址：@(Model.Address != null ? Model.Address : "您未填寫地址")</h4>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <input asp-for="Address" class="form-control" />
                                                            <span asp-validation-for="Address" class="text-danger"></span>
                                                        </div>
                                                    </div>


                                            </div>

                                          

                                        </div>
                                    </div>
                                       
                                   
                                    <p></p>
                                    <p></p>
                                        <hr />
                              
                                    <div class="row">
                                        <div class="col-md-6">
                                           @*語言能力*@
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="card">
                                                    <h5 class="card-header">
                                                        <div class="d-flex justify-content-end">
                                                            <div class="flex-grow-1">
                                                                <h5 class="card-title mb-0">履歷技能</h5>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <div class="row">
                                                               
                                                            </div>
                                                            <!-- end row -->
                                                        </div>
                                                    </h5>
                                                    <div class="card-body">
                                                        <div class="d-flex flex-wrap gap-2 font-size-16">
                                                                @if (skillIds != null)
                                                                {
                                                                    @foreach (var item in skillIds)
                                                                    {
                                                                        <li>
                                                                            <a href="#" class="badge badge-soft-primary">@factory.SkillIDtoName(@item)</a>
                                                                        </li>
                                                                    }
                                                                }
                                                            @*<a class="badge badge-soft-primary">Photoshop</a>
                                                            <a class="badge badge-soft-primary">illustrator</a>*@
                                                            @*< a class="badge badge-soft-primary">HTML</a>
                                                            <a class="badge badge-soft-primary">CSS</a>
                                                            <a class="badge badge-soft-primary">Javascript</a>
                                                            <a class="badge badge-soft-primary">Php</a>
                                                            <a class="badge badge-soft-primary">Python</a> *@
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="card">
                                                    <h5 class="card-header">
                                                        <div class="d-flex justify-content-end">
                                                            <div class="flex-grow-1">
                                                                <h5 class="card-title mb-0">履歷證照</h5>
                                                            </div>
                                                        </div>
                                                    </h5>
                                                    <div class="card-body">
                                                        <div>
                                                            <div class="row">
                                                                <div class="d-flex flex-wrap gap-2 font-size-16">
                                                                    @if (certificateIds != null)
                                                                    {
                                                                        @foreach (var item in certificateIds)
                                                                        {
                                                                            <li>
                                                                                <a href="#" class="badge badge-soft-primary">@factory.CertificateDtoName(@item)</a>
                                                                            </li>
                                                                        }
                                                                    }
                                                                    @*<a class="badge badge-soft-primary">室內設計技術士</a>*@
                                                                    @* <a class="badge badge-soft-primary">律師</a> *@
                                                                </div>
                                                               
                                                            </div>
                                                            <!-- end row -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                </div>



                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div class="tab-content">
                <div class="tab-pane active show"
                     id="overview"
                     role="tabpanel">
               

                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex">
                                <div class="flex-grow-1">
                                    <h5 class="card-title mb-0">自傳</h5>
                                </div>

                                <div></div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                <div class="row">
                                    <div class="form-group">
                                        @* <label asp-for="Autobiography" class="control-label"></label> *@
                                        <textarea asp-for="Autobiography" class="form-control" style="resize:none;height:480px;border:none;color:black"></textarea>
                                        <span asp-validation-for="Autobiography" class="text-danger"></span>
                                    </div>
                                    @* <textarea  style="resize:none;height:480px;background-color:white;border:none">@Model.Autobiography</textarea> *@
                                    <!-- end col -->
                                </div>
                                <!-- end row -->

                             
                            </div>

                        </div>
                        <!-- end card body -->
                    </div>
                    <!-- end card -->
                </div>
                <!-- end tab pane -->

                    <input type="submit" value="送出並修改" class="btn btn-outline-success" />
                    <a asp-action="ResumeList" class="btn btn-outline-secondary" id="BacktoResumeList" >取消並返回</a>

                <div class="tab-pane active show" id="about" role="tabpanel">
                    <!-- end card -->
                </div>
                <!-- end tab pane -->

                <div class="tab-pane active show" id="post" role="tabpanel">
                    <!-- end card -->
                </div>
                <!-- end tab pane -->
            </div>
        </div>
    </form>
        <!-- end col -->
        <!-- end col -->
    </div>
    <!-- end row -->
    @*   </div> *@
    <!-- container-fluid -->
    @* </div> *@
    <!-- End Page-content -->
    @*  </div> *@
    <!-- end main content-->
    </div>
    <!-- END layout-wrapper -->

</body>
</html>

@section subTitle{


    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">會員專區</li>
            <li class="breadcrumb-item">會員資訊</li>
            <li class="breadcrumb-item " aria-current="page">求職履歷管理</li>
        </ol>
    </nav>
}


