@model IEnumerable<prjCoreWebWantWant.Models.Product>

@{
    ViewData["Title"] = "List";
    //Layout = "~/Views/Member/LayoutForMem.cshtml";
    Layout = "~/Views/Shared/_LayoutForBackstage.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">垃圾桶</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">              
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="container mt-4">

        <div class="row mt-3">
            <div class="d-flex">
                <form asp-action="DeleteSelected" method="post">
                    <button type="submit" id="deleteButton" class="btn btn-outline-danger">永久刪除</button>
                </form>

                <form asp-action="DeleteAll" method="post">
                    <button type="submit" class="btn btn-outline-danger" onclick="return confirmDeleteAll()">清空垃圾桶</button>
                </form>

                <form asp-action="GoBackSelect" method="post">
                    <button type="submit" id="restoreButton" class="btn btn-outline-warning">復原</button>
                </form>
  
                <a class="btn btn-outline-primary" href="@Url.Content("~/product/list")">回到商品列表</a>
            </div>
        </div>

        <br>
        @if (Model == null || !Model.Any())
        {
            <p class="text-center text-dark">您的垃圾桶沒有東西。</p>
        }
        else{
        <table id="table" class="table table-striped mt-3">
            <thead align="center">
                <tr>
                    <td><i class='bx bx-checkbox-minus' style="font-size: 1.3rem;"></i></td>
                    <td></td>
                    <td>商品</td>
                    <td>類別</td>
                    <td>復原</td>
                    <td>永久刪除</td>
                </tr>
            </thead>
            <tbody align="center">
               
                
                @foreach (var item in Model)
                {
                    <tr>

                        <td><input type="checkbox" name="selectedProducts" value="@item.ProductId"></td>
                        <td>
                            <div class="image-container">
                                <div class="image-wrapper">
                                    <img src="~/shopimg/@item.CoverPhoto" alt="Image 1" class="small-image">
                                </div>
                                <div class="hover-overlay">
                                    <img src="~/shopimg/@item.CoverPhoto" alt="Image 1" class="large-image">
                                </div>
                            </div>
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Category.CategoryName)</td>
                        <td><a class='bx bx-reply bx-tada' style="font-size: 2rem; color:black" asp-action="GoBack" asp-route-id="@item.ProductId" onclick="return confirmGoBack(@item.ProductId);"></a></td>
                        <td><a class='bx bx-trash bx-tada' style='color:#ea0b0b ; font-size: 2rem' asp-action="RealDelete" asp-route-id="@item.ProductId" onclick="return confirmRealDelete(@item.ProductId);"></a></td>
                    </tr>
                    }  
            </tbody>
            </table>
        }
    </div>
              
           
    </div> <!-- /content-wrapper-->


<!-- 新增按鈕區域 -->


@section Styles{
    @*box icons*@
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <style>
        td > a {
            text-decoration: none;
        }

        /*設定滑鼠過去就變大圖*/
        .image-container {
            position: relative;
            display: inline-block;
        }

        .image-wrapper {
            position: relative;
        }

        .large-image {
            width: 120px;
            height: 120px;
        }

        .small-image {
            width: 40px;
            height: 40px;
        }

        .hover-overlay {
            display: none;
            position: absolute;
            top: -80px; /* 將 top 設置為負的大圖高度，這樣它就會出現在小圖的上方 */
            left: 0;
            width: 80px;
            height: 80px;
            background-color: rgba(0, 0, 0, 0.7);
            z-index: 1;
            opacity: 0;
            transition: opacity 0.3s;
        }

        .image-wrapper:hover + .hover-overlay {
            display: block;
            opacity: 1;
        }
    </style>
}
    @section Scripts{
    <script>
        //選擇刪除或復原
        document.addEventListener('DOMContentLoaded', function () {
            const restoreButton = document.querySelector('#restoreButton');
            const deleteButton = document.querySelector('#deleteButton');
            const selectedProducts = document.querySelectorAll('input[name="selectedProducts"]');

            restoreButton.addEventListener('click', function (event) {
                event.preventDefault();
                updateProductStatus('Restore');
            });

            deleteButton.addEventListener('click', function (event) {
                event.preventDefault(); // 阻止按钮的默认提交行为
                updateProductStatus('Delete');
            });

            function updateProductStatus(action) {
                const selectedIds = [];
                selectedProducts.forEach(function (checkbox) {
                    if (checkbox.checked) {
                        selectedIds.push(checkbox.value);
                    }
                });

                if (selectedIds.length > 0) {
                    Swal.fire({
                        title: '確定要' + (action === 'Restore' ? '復原' : '刪除') + '選定的商品嗎?',
                        text: '確定要將商品' + (action === 'Restore' ? '復原' : '刪除') ,
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: '確定',
                        cancelButtonText: '取消'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            
                            const form = document.createElement('form');
                            form.method = 'post';
                            form.action = action === 'Restore' ? '@Url.Action("GoBackSelect", "Product")' : '@Url.Action("DeleteSelected", "Product")';

                            selectedIds.forEach(function (id) {
                                const input = document.createElement('input');
                                input.type = 'hidden';
                                input.name = 'selectedIds';
                                input.value = id;
                                form.appendChild(input);
                            });

                            document.body.appendChild(form);
                            form.submit();
                        } 
                    });
                } else {
                    Swal.fire({
                        icon: 'info',
                        title: '請選擇要' + (action === 'Restore' ? '復原' : '刪除') + '的商品。',
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
            }
        });


        //單一返回的ALERT
        function confirmGoBack(productId) {
            Swal.fire({
                title: '確定要返回商品嗎?',
                text: '返回後默認為下架狀態。',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '確定',
                cancelButtonText: '取消'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: '商品已離開垃圾桶',
                        showConfirmButton: false,
                        timer: 1500,
                        timerProgressBar: true,
                    }).then(() => {
                    // 在用户确认后执行页面跳转操作
                    const goBackUrl = '@Url.Content("~/product/GoBack/")' + productId;
                    window.location.href = goBackUrl;
                    });
                }
            });

            //
            return false;
        }
        //單一刪除的ALERT
        function confirmDeleteSelect() {
            Swal.fire({
                title: '確定要刪除商品嗎?',
                text: '刪除即無法復原。',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '確定',
                cancelButtonText: '取消'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: '商品已永久刪除',
                        showConfirmButton: false,
                        timer: 1500,
                        timerProgressBar: true,
                    }).then(() => {
                        // 在用户确认后执行页面跳转操作
                        const RealDelete = '@Url.Content("~/product/RealDelete/")' + productId;
                        window.location.href = RealDelete;
                    });
                }
            });

            //
            return false;
        }

      //全部刪除
        //單一刪除的ALERT
        function confirmDeleteAll() {
            Swal.fire({
                title: '確定要清空垃圾車嗎?',
                text: '刪除即無法復原。',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '確定',
                cancelButtonText: '取消'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: '商品已永久刪除',
                        showConfirmButton: false,
                        timer: 1500,
                        timerProgressBar: true,
                    }).then(() => {
                        // 在用户确认后执行页面跳转操作
                        const RealDelete = '@Url.Content("~/product/deleteAll")';
                        window.location.href = RealDelete;
                    });
                }
            });

            //
            return false;
        }
    </script>
}

