@model prjCoreWebWantWant.Models.CTaskWrap
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout_Task.cshtml";
}

<main>

    
    <!-- job post company Start -->
    <div class="job-post-company pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-between">
                <!-- Left Content -->
                <div class="col-xl-7 col-lg-8">
                    <div class="job-tittle mb-50">
                        <div class="small-section-tittle">
                        <h4>任務名稱</h4>
                        </div>
                        <p>@Model.FTitle</p>
                    </div>

                    <div class="job-post-details">
                        <div class="post-details1 mb-50">
                            <!-- Small Section Tittle -->
                            <div class="small-section-tittle">
                                <h4>任務詳細資料</h4>
                            </div>
                            <p>@Model.FDetail</p>
                        </div>
                        <div class="post-details2  mb-50">
                            <!-- Small Section Tittle -->
                            <div class="small-section-tittle">
                                <h4>Required Knowledge, Skills, and Abilities</h4>
                            </div>
                            <ul>
                                <li>System Software Development</li>
                                <li>Mobile Applicationin iOS/Android/Tizen or other platform</li>
                                <li>Research and code , libraries, APIs and frameworks</li>
                                <li>Strong knowledge on software development life cycle</li>
                                <li>Strong problem solving and debugging skills</li>
                            </ul>
                        </div>
                        <div class="post-details2  mb-50">
                            <!-- Small Section Tittle -->
                            <div class="small-section-tittle">
                                <h4>Education + Experience</h4>
                            </div>
                            <ul>
                                <li>3 or more years of professional design experience</li>
                                <li>Direct response email experience</li>
                                <li>Ecommerce website design experience</li>
                                <li>Familiarity with mobile and web apps preferred</li>
                                <li>Experience using Invision a plus</li>
                            </ul>
                        </div>
                    </div>

                </div>
                <!-- Right Content -->
                <div class="col-xl-4 col-lg-4">
                    <div class="post-details3  mb-50">
                        <!-- Small Section Tittle -->
                        <div class="small-section-tittle">
                            <h4>Job Overview</h4>
                        </div>
                        <ul>
                            <li>刊登日期：<span>@Model.FPublishStart</span></li>
                            <li>Location : <span>New York</span></li>
                            <li>需求人數<span>@Model.FRequiredNum</span></li>
                            <li>Job nature : <span>Full time</span></li>
                            <li>任務報酬：<span>@Model.FPayFrom</span></li>
                            <li>Application date : <span>12 Sep 2020</span></li>
                        </ul>
                        <div class="apply-btn2" style="display: flex; justify-content: center; align-items: center; width:200px; height:35px; border-radius: 50px;background-color:#528EAF;color:white">
                            @*<a href="#" class="btn">立即應徵</a>*@
                            @*  <a href="@Url.Action("Apply", new { id=Model.FId })" target="_blank">詳細資訊</a>*@
                            <a href="@Url.Action("Apply", new { id = Model.FId })" target="_blank">立即應徵</a>
                        </div>
                    </div>
                    <div class="post-details4  mb-50">
                        <!-- Small Section Tittle -->
                        <div class="small-section-tittle">
                            <h4>Company Information</h4>
                        </div>
                        <span>Colorlib</span>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                        <ul>
                            <li>Name: <span>Colorlib </span></li>
                            <li>Web : <span> colorlib.com</span></li>
                            <li>Email: <span>carrier.colorlib@gmail.com</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- job post company End -->

</main>

