@using System.Text.Json;
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;


@model IEnumerable<prjCoreWebWantWant.Models.TaskList>
@inject NewIspanProjectContext _context

@*@model IPagedList<TaskList>*@
@*@model IEnumerable<prjWantWant_yh_CoreMVC.Models.CTask>     匿名型別*@

@{
    ViewData["Title"] = "ListNew";
    Layout = "~/Views/Shared/_Layout_Task.cshtml";
    // Layout = "~/Views/Shared/_Layout_Task.cshtml";
}


@section Styles{
    <style>
        .card /*:hover*/ {
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        }

            .card:hover {
                transform: scale(1.01);
            }

        #list {
            background-color: initial;
            border: 1px solid #ccc;
            box-shadow: none;
            transform: none;
        }

        label {
            pointer-events: none;
        }

        #scrollToTopBtn {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 20px;
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
}

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

@section Scripts{
    <script>
        const selCategory = document.querySelector('#selectCategory');

        selCategory.addEventListener('change', () => {
            txtKeyword.value = '';                                  @*切換類別時將關鍵字清空*@
            const xhr = new XMLHttpRequest();
            xhr.open('POST', '@Url.Content("~/Task/Partial1")');
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.send(`Category=${selCategory.value}&txtKeyword=${txtKeyword.value}`);
            xhr.addEventListener('load', () => {
                const Result = document.querySelector('#Result');
                Result.innerHTML = xhr.responseText;
            })
        })

        const txtKeyword = document.querySelector('#txtKeyword');

        txtKeyword.addEventListener('input', () => {
            const xhr = new XMLHttpRequest();
            xhr.open('POST', '@Url.Content("~/Task/Partial1")');
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.send(`txtKeyword=${txtKeyword.value}&Category=${selCategory.options[selCategory.selectedIndex].value}`);
            xhr.addEventListener('load', () => {
                const Result = document.querySelector('#Result');
                Result.innerHTML = xhr.responseText;
            })
        })

        const selCity = document.querySelector('#selCity');
        const selTown = document.querySelector('#selTown');

        async function loadCity() {
            const response = await fetch('@Url.Content("~/BackstageTask/Cities")')
            const datas = await response.json()
            // datas.sort();
            const cities = datas.map(City => `<option value="${City}">${City}</option>`);
            document.querySelector('#selCity').innerHTML = cities.join("");

            loadDistrict();
        }

        loadCity();

        //select的區域
        async function loadDistrict() {
            const response = await fetch(`@Url.Content("~/BackstageTask/Districts")?City=${selCity.value}`);
            const datas = await response.json()
            // datas.sort();
            const districts = datas.map(Town => `<option value='${Town}'>${Town}</option>`);
            selTown.innerHTML = districts.join("");
            getTownId();
        }

        selCity.addEventListener('change', () => {
            loadDistrict();
        });


        // selTown.addEventListener('change', () => {
        //     getTownId();
        // });

        // async function getTownId() {
        //     const response = await fetch(`@Url.Content("~/Backstage/GetTownId")?City=${selCity.value}&District=${selTown.value}`);
        //     const data = await response.json();
        //     const selectedTownId = data[0]; // 由於後端程式碼回傳的是 IEnumerable<TownId>，這裡選取第一個元素
        //     hiddenTownIdInput.value = selectedTownId;
        // }

        // 等待文檔完全載入後執行
        document.addEventListener("DOMContentLoaded", function () {
            var scrollToTopBtn = document.getElementById("scrollToTopBtn");

            // 監聽卷軸事件
            window.addEventListener("scroll", function () {
                // 顯示或隱藏按鈕
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    scrollToTopBtn.style.display = "block";
                } else {
                    scrollToTopBtn.style.display = "none";
                }
            });

            // 點選按鈕時回到頂部
            scrollToTopBtn.addEventListener("click", function () {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            });
        });

    </script>
}

<body>
    <div>
    <h2 class="text-center mt-5 myh2" style="font-weight:bold">
        <span style="color:#9eb9d3">●</span>
        <span style="color:#c0d3e6">●</span>
        <span style="color:#e5edf6">●</span>
        WantWant找工作
        <span style="color:#e5edf6">●</span>
        <span style="color:#c0d3e6">●</span>
        <span style="color:#9eb9d3">●</span>
    </h2>
    </div>



    <!--nav bar-->
   @* <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
        </nav>
    </div>*@

    <div class="container-fluid">

         <div class="p-3 mt-2 mb-2">

            <p class="fs-3 divide-line fw-bold"><i class="fa-solid fa-fire fa-beat" style="color: #e01010;"></i>  熱門任務</p>
                <div class="row g-0 column-gap-5 justify-content-center pt-3 pb-3">
                    <div id="carouselExampleIndicators" class="carousel slide">
                        <div class="carousel-inner ">
                        @{
                            NewIspanProjectContext _context = new NewIspanProjectContext();
                            var TOP = _context.TaskLists.Where(t => t.OnTop > DateTime.Now);
                        }

                        @foreach (var item in TOP)
                        {
                            <div class="carousel-item active">
                                <div class="d-flex row g-0 justify-content-center">
                                    <div class="topTen border rounded p-3 me-4 col-5">
                                    

                                    
                                        <a class="text-secondary" href="/Forum/ArticleView">
                                       
                                       
                                            <p class="fs-4 text-black">@item.TaskTitle</p>
                                            <p>@item.PayFrom 元</p>
                                            <div class="d-flex align-items-end">


                                                <div>
                                                    <small class="text-body-secondary d-block">

                                                        <span>姓名</span><span> | 發文時間 : @item.DataModifyDate</span><span> | </span>
                                                    </small>
                                                    <small class="text-body-secondary d-block">
                                                        @*<img src="/icons/icons8-tag-16.png">*@
                                                       @* <span>#水上活動</span>
                                                        <span>#多日遊</span>
                                                        <span>#遊船觀光</span>
                                                        <span>#景點門票</span>*@

                                                    </small>
                                                </div>
                                            </div>
                                        
                                        </a>
                                    </div>
                                </div>
                            </div>
                                        }
                           @*  <div class="carousel-item">
                                <div class="d-flex row g-0 justify-content-center">
                                    <div class="topTen border rounded p-3 me-4 col-5">
                                        
                                            </div>
                                        </a>
                                    </div>
                                    <div class="topTen border rounded p-3 col-5">

                                        <a class="text-secondary" href="/Forum/ArticleView">
                                            <p class="fs-4 text-black">
                                                基隆登島找旅伴
                                            </p>
                                            <p>totalPrice : 4700</p>
                                            <div class="d-flex align-items-end">
                                                <img src="/icons/icons8-person-female-100.png" width="64" height="64">
                                                <div>
                                                    <small class="text-body-secondary d-block">

                                                        <span>羽葳</span><span> | 發文時間 : 2023/09/25</span><span> | 回覆數 : 1</span>
                                                    </small>
                                                    <small class="text-body-secondary d-block">
                                                        <img src="/icons/icons8-tag-16.png">
                                                        <span>#水上活動</span>
                                                        <span>#多日遊</span>
                                                        <span>#遊船觀光</span>
                                                        <span>#景點門票</span>
                                                    </small>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="d-flex row g-0 justify-content-center">
                                    <div class="topTen border rounded p-3 me-4 col-5">
                                        <a class="text-secondary" href="/Forum/ArticleView">
                                            <p class="fs-4 text-black">
                                                我們去澎湖潛水吧
                                            </p>
                                            <p>totalPrice : 4600</p>
                                            <div class="d-flex align-items-end">
                                                <img src="/icons/icons8-person-100.png" width="64" height="64">


                                                <div>
                                                    <small class="text-body-secondary d-block">

                                                        <span>彥豪</span><span> | 發文時間 : 2023/08/24</span><span> | 回覆數 : 1</span>
                                                    </small>
                                                    <small class="text-body-secondary d-block">
                                                        <img src="/icons/icons8-tag-16.png">
                                                        <span>#多日遊</span>
                                                        <span>#遠足&amp;登山</span>
                                                        <span>#飯店</span>

                                                    </small>
                                                </div>
                                            </div>
                                        </a>
                                    </div> 
                                    <div class="topTen border rounded p-3 col-5">

                                        <a class="text-secondary" href="/Forum/ArticleView">
                                            <p class="fs-4 text-black">
                                                找旅伴 太平山兩日一夜
                                            </p>
                                            <p>totalPrice : 4600</p>
                                            <div class="d-flex align-items-end">
                                                <div>
                                                    <small class="text-body-secondary d-block">

                                                        <span>瑋倫</span><span> | 發文時間 : 2023/08/21</span><span> | 回覆數 : 1</span>
                                                    </small>
                                                    <small class="text-body-secondary d-block">
                                                        <img src="/icons/icons8-tag-16.png">
                                                        <span>#多日遊</span>
                                                        <span>#遠足&amp;登山</span>
                                                        <span>#飯店</span>
                                                    </small>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="d-flex row g-0 justify-content-center">
                                    <div class="topTen border rounded p-3 me-4 col-5">
                                        <a class="text-secondary" href="/Forum/ArticleView">
                                            <p class="fs-4 text-black">
                                                拉拉山一日遊 找旅友
                                            </p>
                                            <p>totalPrice : 4600</p>
                                            <div class="d-flex align-items-end">
                                                <img src="/icons/icons8-person-female-100.png" width="64" height="64">


                                                <div>
                                                    <small class="text-body-secondary d-block">

                                                        <span>家玟</span><span> | 發文時間 : 2023/08/28</span><span> | 回覆數 : 1</span>
                                                    </small>
                                                    <small class="text-body-secondary d-block">
                                                        <img src="/icons/icons8-tag-16.png">
                                                        <span>#多日遊</span>
                                                        <span>#遠足&amp;登山</span>
                                                        <span>#飯店</span>

                                                    </small>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="topTen border rounded p-3 col-5">

                                        <a class="text-secondary" href="/Forum/ArticleView">
                                            <p class="fs-4 text-black">
                                                一起去霧峰林家宮保第園區
                                            </p>
                                            <p>totalPrice : 4500</p>
                                            <div class="d-flex align-items-end">
                                                <img src="/icons/icons8-person-100.png" width="64" height="64">
                                                <div>
                                                    <small class="text-body-secondary d-block">

                                                        <span>宗佑</span><span> | 發文時間 : 2023/09/04</span><span> | 回覆數 : 1</span>
                                                    </small>
                                                    <small class="text-body-secondary d-block">
                                                        <img src="/icons/icons8-tag-16.png">
                                                        <span>#多日遊</span>
                                                        <span>#遠足&amp;登山</span>
                                                        <span>#飯店</span>
                                                    </small>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="d-flex row g-0 justify-content-center">
                                    <div class="topTen border rounded p-3 me-4 col-5">
                                        <a class="text-secondary" href="/Forum/ArticleView">
                                            <p class="fs-4 text-black">
                                                雪霸國家公園輕旅行
                                            </p>
                                            <p>totalPrice : 4500</p>
                                            <div class="d-flex align-items-end">
                                                <img src="/icons/icons8-person-female-100.png" width="64" height="64">


                                                <div>
                                                    <small class="text-body-secondary d-block">

                                                        <span>家玟</span><span> | 發文時間 : 2023/08/28</span><span> | 回覆數 : 1</span>
                                                    </small>
                                                    <small class="text-body-secondary d-block">
                                                        <img src="/icons/icons8-tag-16.png">
                                                        <span>#多日遊</span>
                                                        <span>#遠足&amp;登山</span>
                                                        <span>#飯店</span>

                                                    </small>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="topTen border rounded p-3 col-5">

                                        <a class="text-secondary" href="/Forum/ArticleView">
                                            <p class="fs-4 text-black">
                                                深澳鐵道自行車 體驗遊
                                            </p>
                                            <p>totalPrice : 4500</p>
                                            <div class="d-flex align-items-end">
                                                <img src="/icons/icons8-person-female-100.png" width="64" height="64">
                                                <div>
                                                    <small class="text-body-secondary d-block">

                                                        <span>于婷</span><span> | 發文時間 : 2023/09/27</span><span> | 回覆數 : 1</span>
                                                    </small>
                                                    <small class="text-body-secondary d-block">
                                                        <img src="/icons/icons8-tag-16.png">
                                                        <span>#水上活動</span>
                                                        <span>#多日遊</span>
                                                        <span>#遊船觀光</span>
                                                        <span>#景點門票</span>
                                                    </small>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                </div>
                            </div> *@
                        </div>

                        <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="align-items-center row my-bg-primary my-img-circle  my-w50-h50"><span class="carousel-control-prev-icon col" aria-hidden="true"></span></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span class="align-items-center row my-bg-primary my-img-circle  my-w50-h50"><span class="carousel-control-next-icon col" aria-hidden="true"></span></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div> 
        <div class="row">
            <!--select任務類型-->
            <div class="col-xl-3 col-lg-3 col-md-4">
                <div class="card" id="list">

                    <div class="card-body">
                        <label style="text-align: center; display: block;font-size:20px;color:#4f9d9d">關鍵字搜尋</label>
                        <input type="text" id="txtKeyword" name="txtKeyword" style="width:266px" />
                        @* <i class="fa-solid fa-magnifying-glass"></i> *@
                    </div>

                    @{
                        var q = from tn in _context.TaskNameLists
                                join tl in _context.TaskLists on tn.TaskNameId equals tl.TaskNameId
                                where tl.PublishOrNot == "立刻上架"
                                group tl by tn.TaskName into Group
                                select new
                                {
                                    taskName = Group.Key,
                                    taskCount = Group.Count()
                                };
                    }

                    <div class="card-body">
                        <label style="text-align: center; display: block;font-size:20px;color:#4f9d9d">任務類型</label>
                        <select class="custom-select" multiple id="selectCategory" name="selectCategory" style="height:300px;overflow-y: hidden;">
                            <option selected>所有任務</option>
                           
                            @foreach (var item in q)
                            {
                                 <option value="@item.taskName">@item.taskName  (@item.taskCount) </option> 
                            }
                           
                        </select>

                        <div class="card-body">
                            <label style="text-align: center; display: block;font-size:20px;color:#4f9d9d">任務地點</label>
                            <div class="form-floating mb-3">
                                <select class="form-select" id="selCity">
                                    <!-- <option selected>請選擇縣市</option> -->
                                    <option></option>
                                </select>
                                <label for="floatingSelectCity">請選擇縣市</label>
                            </div>
                            <div class="form-floating mb-3">
                                <select class="form-select" id="selTown" @* asp-for="TownId" *@>
                                    <!-- <option selected>請選擇區域</option> -->
                                    <option></option>
                                </select>
                                <label for="floatingSelectTown">請選擇區域</label>
                            </div>
                        </div>

                        @* <label style="text-align: center; display: block;font-size:20px;color:#4f9d9d">任務類型</label>
                        <select class="custom-select" multiple>
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select> *@

                       @*  <div class="card-body">
                            <label style="text-align: center; display: block;font-size:20px;color:#4f9d9d">任務類型</label>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        選項一
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        選項二
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        選項三
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        選項四
                                    </label>
                                </div>
                        </div> *@

                       @*  <div class="card-body">
                            <label style="text-align: center; display: block;font-size:20px;color:#4f9d9d">薪資級距</label>
                        <label for="customRange2" class="form-label">Example range</label>
                        <input type="range" class="form-range" min="0" max="5" id="customRange2">
                        </div> *@

                    </div>
                </div>
            </div>
            

            @*@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
            @{
                string userDataJson = HttpContextAccessor.HttpContext.Session.GetString(CDictionary.SK_LOGINED_USER);
                CLoginUser loggedInUser = JsonSerializer.Deserialize<CLoginUser>(userDataJson); //loggedInUser的資料型態為MemberAccount這個資料表                                                                                   // 现在 loggedInUser 对象包含了从会话中取出的用户信息
                int id = loggedInUser.AccountId; //抓登入者的id
            }
            @{
                NewIspanProjectContext _context = new NewIspanProjectContext();
                var q2 = from mc in _context.MemberCollections
                                where mc.AccountId == id && mc.CaseId!=null
                                select mc.CaseId;
            }*@


        <div class="col-8 forum-block">
                


                 <div class="p-2 mt-2 mb-2">
                    <div class="divide-line pl-3">
                        <span id="total" class="fs-3 fw-bolder me-2">@ViewBag.TotalCount @ViewBag.Count</span><span class="fs-5 my-text-primary">
                            <img src="/icons/icons8-rhombus-loader.gif" class="d-none loading-icon">
                            筆任務
                        </span>
                        <div id="selected-checkboxes"><input type="button" class="btn btn-secondary d-none cleanAll mr-1" value="清除全部" onclick="clearAllFiltered()"></div>

                    </div>
                    <div class="sort d-flex align-items-center fs-6 my-text-primary pl-3">
                        <span class=" fw-bolder ">排序 :  </span>
                        <span>　</span>
                        <a href="#" class=" fw-bolder">更新時間(新到舊)</a>
                        <span>　|　</span>
                        <a href="#" class=" fw-bolder">更新時間(舊到新)</a>
                        <span>　|　</span>
                        <a href="#" class=" fw-bolder">薪資(高到低)</a>
                        <span>　|　</span>
                        <a href="#" class=" fw-bolder">薪資(低到高)</a>
                    </div>
                </div> 

                @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
                @{
                    //    if (HttpContextAccessor.HttpContext.Session.Keys.Contains(CDictionary.SK_LOGINED_USER))
                    //    {
                    //string userDataJson = HttpContextAccessor.HttpContext.Session.GetString(CDictionary.SK_LOGINED_USER);
                    //CLoginUser loggedInUser = JsonSerializer.Deserialize<CLoginUser>(userDataJson); //loggedInUser的資料型態為MemberAccount這個資料表                                                                                   // 现在 loggedInUser 对象包含了从会话中取出的用户信息
                    //int id = loggedInUser.AccountId; //抓登入者的id
                    //    }
                }

                @*@{
                    var q2 = from mc in db.MemberCollections
                             join tl in db.TaskLists on mc.CaseId equals tl.CaseId
                             where mc.AccountId == 66 && mc.CaseId != null
                             select new
                             {
                                 mc.CaseId,
                                 isCollected = true
                             };
                    var result = q2.ToList();

                    @foreach (var item in result)
                    {
                        
                    }
                }*@
                    <div class="p-3 mt-2 mb-2" id="Result">
                    @foreach (var item in Model)
                    {
                        @*                 <div class="card text-center">
                    <div class="card-header" style="background-color:#e5edf6;color:black">@item.TaskTitle</div>
                    <div class="row">
                    <div class="card-body col-9">
                    <h5 class="card-body">任務內容： @item.TaskDetail</h5>

                    </div>
                    <div class="row">
                    <div class="row">
                    <p class="card-text col-3">需求證照： </p>
                    <p class="card-text col-3">需求技能： </p>
                    <p class="card-text col-3">其他需求： </p>
                    </div>

                    <div class="row">
                    <p class="card-text col-3">地點： @Html.DisplayFor(modelItem => item.Town.City.City1) @Html.DisplayFor(modelItem => item.Town.Town1)</p>
                    <p class="card-text col-3">需求人數： @item.RequiredNum</p>
                    <p class="card-text col-3">任務金額： @item.PayFrom</p>
                    @*<p class="card-text col-3">收藏任務的愛心放這</p>*@
                        @*          </div>

                    <div class="row">
                    <div class="card-body col-md-3 d-flex flex-column justify-content-end align-items-end">
                    <a href="#" class="btn btn-outline-primary mb-2">應徵工作</a>
                    <a href="#" class="btn btn-outline-primary">收藏工作</a>
                    </div>
                    </div>
                    </div>
                    </div>
                    <div class="card-footer text-muted">
                    最後修改日期： @item.PublishStart
                    </div>
                    </div>
                    <div>
                    <p></p>
                    </div>  *@

                        <div class="card text-center">
                            <div class="card-header" style="background-color:#e5edf6;color:#005ab5;font-size:24px">@item.TaskTitle</div>
                            <div class="row">
                                <div class="card-body col-9">
                                    <h5 class="card-body" style="text-align:left;padding:12px">任務內容：</h5>
                                    <p style="text-align:left;padding:12px">@item.TaskDetail</p>
                                </div>

                                <div class="card-body col-md-3 d-flex flex-column justify-content-end">
                                    @*<a href="#" class="btn btn-outline-primary mb-2">應徵工作</a>*@
                                    <a href="@Url.Action("Detail", new { id=item.CaseId })" class="btn btn-outline-primary">詳細資訊</a>
                                    <a href="@Url.Content("~/Backstage/AddCollection")?id=@item.CaseId" class="btn btn-outline-primary"><i class="fa-regular fa-heart fa-beat" style="color: #ef4006;"></i>收藏工作</a>
                                    @* <a href="@Url.Action("Chatsingle", "Chat", new { id = @item })" target="_blank" class="btn btn-outline-primary me-2" style="float:right">聯絡發案者</a> *@
                                    @* <a href="#" style="float:right"> <img src="~/Backstage/img/bubble-chat (1).png"></a> *@
                                    <a href="@Url.Action("Chatsingle", "Chat", new { id = @item.AccountId })" target="_blank"><img src="~/Backstage/img/bubble-chat (1).png"></a>
                                    
                                    @*@foreach(var item1 in q2)
                                {
                                if (item1.HasValue)
                                {
                                <a href="@Url.Content("~/Backstage/AddCollection")?id=@item.CaseId" class="btn btn-outline-primary">取消收藏</a>
                                }
                                else
                                {
                                <a href="@Url.Content("~/Backstage/AddCollection")?id=@item.CaseId" class="btn btn-outline-primary">收藏工作</a>
                                }
                                }*@
                                </div>

                                <div class="row">
                                    <p class="card-text col-3"><i class="fa-solid fa-location-dot"></i> 地點： @Html.DisplayFor(modelItem => item.Town.City.City1) @Html.DisplayFor(modelItem => item.Town.Town1)</p>
                                    <p class="card-text col-3">需求人數： @item.RequiredNum 人</p>

                                    @{
                                        if (item.PayFrom > 1500)
                                        {
                                            <p class="card-text col-3">任務金額：<strong style="color:#ff7575">@item.PayFrom</strong> 元</p>
                                        }
                                        else if (item.PayFrom > 500)
                                        {
                                            <p class="card-text col-3">任務金額：<span style="color:#c07ab8">@item.PayFrom</span> 元</p>
                                        }
                                        else
                                        {
                                            <p class="card-text col-3">任務金額：<span>@item.PayFrom</span> 元</p>
                                        }
                                    }

                                    @*<p class="card-text col-3">收藏任務的愛心放這</p>*@
                                </div>

                            </div>
                            <div class="card-footer text-muted">
                                最後修改日期： @item.DataModifyDate
                            </div>
                        </div>

                        <div>
                            <p></p>
                        </div>
                    }
                    <div class="d-flex justify-content-center bg-transparent border-0">
                        <div class="col-7 d-flex justify-content-around">
                            @Html.PagedListPager(
                            (IPagedList)Model,
                            page => Url.Action("ListNew", new { page }),
                            new PagedListRenderOptions {
                            LiElementClasses = new string[] { "page-item" },
                            PageClasses = new string[] { "page-link" },   // 設定頁碼的 CSS 類別
                            UlElementClasses = new string[] { "pagination" }  // 設定 ul 元素的 CSS 類別
                            }
                            )
                        </div>
                    </div>
                </div>
        </div>
          

            <!--card工作列表-->
         

            <!--頁數-->
            @*<div class="card-body d-flex justify-content-center">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>*@
            

        </div>

    </div>

    @*<div class="pagination">
        @Html.PagedListPager(Model, page => Url.Action("ListNew", new { page, pageSize = Model.PageSize }))
    </div>*@

    <button id="scrollToTopBtn">回到頂部</button>
</body>

@section subTitle{

    @*<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">找工作</li>
            <li class="breadcrumb-item">工作列表</li>
            @* <li class="breadcrumb-item " aria-current="page">任務名稱</li> *@
        @*</ol>
    </nav>*@
  

}