@model prjCoreWebWantWant.ViewModels.CExpertTaskListViewModel

@{
    ViewData["Title"] = "成案紀錄管理";
    Layout = "~/Views/Member/LayoutForMem.cshtml";
    
  
}
@section subTitle{
   
   
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">會員專區</li>
            <li class="breadcrumb-item">找專家</li>
            <li class="breadcrumb-item " aria-current="page">專家成案紀錄管理</li>
        </ol>
    </nav>
}

<div id="layout-wrapper">
    <div class="container-fluid">
        <!-- start page title -->
      
        <!-- end page title -->
        <!--已上架未上架 任務類型 關鍵字-->
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header">

                        <div class="row">
                            <div class="card-body col-12">

                                <!--給出的評論 我收到的評價-->
                                <ul class="nav nav-tabs nav-tabs-custom nav-justified row" role="tablist">
                                    <li class="text-center col-6">
                                        <p class="nav-link active" data-bs-toggle="tab" href="#" role="tab">
                                            <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                            <h3 class="d-none d-sm-block" style="color:#528EAF">委託者管理</h3>
                                        </p>
                                        <ul class="nav nav-tabs nav-tabs-custom nav-justified" role="tablist">
                                            <li  class="nav-item">
                                                <a id="btnmytasking" onclick="clickdiv(mytasking, mytasked, taskfromotherno, taskingfromother, taskedfromother)"
                                                class="nav-link active" data-bs-toggle="tab" href="#" role="tab">

                                                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                                    <span class="d-none d-sm-block" style="color:#528EAF">送出的委託(進行中)</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a id="btnmytasked" onclick="clickdiv( mytasked,mytasking, taskfromotherno, taskingfromother, taskedfromother)"
                                                    class="nav-link active" data-bs-toggle="tab" href="#" role="tab">

                                                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                                    <span class="d-none d-sm-block" style="color:#528EAF">送出的委託(已完成)</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="text-center col-6">
                                        <p id="btnToShowForRatings" class="nav-link active" data-bs-toggle="tab" href="#" role="tab">
                                            <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                            <h3 class="d-none d-sm-block" style="color:#528EAF">接案者管理</h3>
                                        </p>
                                        <ul class="nav nav-tabs nav-tabs-custom nav-justified" role="tablist">
                                            <li class="nav-item">
                                                <a id="btntaskfromotherno" onclick="clickdiv(taskfromotherno,mytasking, mytasked,  taskingfromother, taskedfromother)"
                                                    class="nav-link active" data-bs-toggle="tab" href="#" role="tab">

                                                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                                    <span class="d-none d-sm-block" style="color:#528EAF">收到的委託(還未回覆)</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a id="btntaskingfromother" onclick="clickdiv(taskingfromother,mytasking, mytasked, taskfromotherno,  taskedfromother)"
                                                    class="nav-link active" data-bs-toggle="tab" href="#" role="tab">

                                                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                                    <span class="d-none d-sm-block" style="color:#528EAF">收到的委託(進行中)</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a id="btntaskedfromother" onclick="clickdiv(taskedfromother,  mytasking, mytasked, taskfromotherno, taskingfromother)"
                                                    class="nav-link active" data-bs-toggle="tab" href="#" role="tab">

                                                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                                    <span class="d-none d-sm-block" style="color:#528EAF">收到的委託(已完成)</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                  
                                </ul>
                            </div>
                            <!--標籤-->
                            
                        </div>
                    </div>
<!--LIST開頭-->
                    <!--發送委託-->
                    <div class="card-body" id="mytasking">
                        <table id="formytasking" class="table table-hover table align-middle datatable dt-responsive table-check nowrap" style="border-collapse: collapse; border-spacing: 0 8px; width: 100%;">
                            <thead>
                                <tr>
                                    <th style="width: 50px;">序號</th>
                                    <th style="width: 100px;">委託人</th>
                                    <th style="width: 100px;">專家</th>
                                    @*  <th style="width: 50px;">案件編號(隱藏)</th> *@
                                    <th style="width: 200px;">委託內容</th>
                                    <th style="width: 100px;">委託期限-起</th>
                                    <th style="width: 100px;">委託期限-訖</th>
                                    <th style="width: 100px;">委託價格</th>
                                    <th style="width: 100px;">案件狀態</th>
                                    <th style="width: 100px;">修改</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                            @{if (Model.mytasking != null)
                                        {
                                            int countmytasking = 0;

                                        foreach (var item in Model.mytasking)
                                        {
                                            countmytasking++;

                                            DateTime today = DateTime.Now.Date;
                                            DateTime taskEndDate;
                                            bool dateParsed = DateTime.TryParse(item.taskdatestart, out taskEndDate);
                                            TimeSpan timeDiff = TimeSpan.Zero;
                                            string colorClass = "";
                                           
                                                        if (dateParsed)
                                            {
                                                timeDiff = today - taskEndDate;

                                                if (timeDiff.TotalDays < 3 && timeDiff.TotalDays >= 0)
                                                {
                                                    colorClass = "text-danger";
                                                }
                                            }
                                            <tr>
                                                    <td style="width: 50px;">@countmytasking</td>
                                                    <td style="width: 100px;">@Html.DisplayFor(modelItem => item.taskmember)</td>
                                                    <td style="width: 100px;">@Html.DisplayFor(modelItem => item.taskexpert)</td>
                                                    @*  <td style="width: 50px;">@Html.DisplayFor(modelItem => item.caseid)</td> *@
                                                    <td style="width: 200px;">
                                                    <button type="button" style="border:none; background-color:transparent;" data-bs-toggle="modal" data-bs-target="#mytaskingModal"
                                                            data-modal-type="search" data-id="@item.caseid" data-taskcontent="@item.taskcontent"
                                                            data-WorkPlace="@item.WorkPlace" data-Address="@item.Address">
                                                        @if (item.taskcontent.Length > 10)
                                                        {
                                                            @: @item.taskcontent.Substring(0, 10) ...
                                                        }
                                                        else
                                                        {
                                                            @item.taskcontent;                                                            ;

                                                        }
                                                     <i class="fa-solid fa-magnifying-glass">
                                                      </i>
                                                       </button>
                                                    </td>
                                                    if(){

                                                    }

                                                <td style="width: 100px; " class="@colorClass">@Html.DisplayFor(modelItem => item.taskdatestart)</td>
                                                <td style="width: 100px;" class="@colorClass">@Html.DisplayFor(modelItem => item.taskdateend)</td>
                                                     <td style="width: 100px;">$ @item.taskprice.GetValueOrDefault().ToString("#,##0") 元</td>
                                                    <td style="width: 100px;">@Html.DisplayFor(modelItem => item.CaseStatusname)</td>
                                                    @if (item.CaseStatusname == "專家尚未確認")
                                                {
                                                        <td style="width: 100px;">
                                                        <button type="button" style="border:none; background-color:transparent;"  data-bs-toggle="modal" data-bs-target="#mytaskingModal" data-modal-type="update" data-id="@item.caseid">
                                                            <i class="fa-solid fa-pen-to-square" style="color: #518eaf;"></i>
                                                        </button>
                                                        </td>
                                                }
                                                else
                                                {
                                                        <td style="width: 100px;"><i class="fa-solid fa-rectangle-xmark" style="color: #518eaf;"></i>進行中!</td>
                                                }

                                                </tr>
                                            
                                         }}
                                             }
                            <tbody>
                        </table>

                    </div>

                    <!--發送委託(已完成)-->
                    <div class="card-body" style="display:none" id="mytasked">
                        <table id="formytasked" class="table table-hover table align-middle datatable dt-responsive table-check nowrap" style="border-collapse: collapse; border-spacing: 0 8px; width: 100%;">
                            <thead>
                                <tr>
                                    <th style="width: 50px;">序號</th>
                                    <th style="width: 100px;">委託人</th>
                                    <th style="width: 100px;">專家</th>
                                    @*  <th style="width: 50px;">案件編號(隱藏)</th> *@
                                    <th style="width: 200px;">委託內容</th>
                                    <th style="width: 100px;">委託期限-起</th>
                                    <th style="width: 100px;">委託期限-訖</th>
                                    <th style="width: 100px;">委託價格</th>
                                    <th style="width: 100px;">案件狀態</th>
                                    <th style="width: 100px;">去評價</th>

                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (Model.mytasking != null)
                                    {
                                        int countmytasking = 0;

                                        foreach (var item in Model.mytasked)
                                        {
                                            countmytasking++;
                                            // int maxDisplayLength = 10; // 設定要顯示的最大字數

                                                <tr>
                                                    <td style="width: 50px;">@countmytasking</td>
                                                    <td style="width: 100px;">@Html.DisplayFor(modelItem => item.taskmember)</td>
                                                    <td style="width: 100px;">@Html.DisplayFor(modelItem => item.taskexpert)</td>
                                                    @*  <td style="width: 50px;">@Html.DisplayFor(modelItem => item.caseid)</td> *@
                                                    <td style="width: 200px;">@Html.DisplayFor(modelItem => item.taskcontent)</td>
                                                    <td style="width: 100px;">@Html.DisplayFor(modelItem => item.taskdatestart)</td>
                                                    <td style="width: 100px;">@Html.DisplayFor(modelItem => item.taskdateend)</td>
                                                    <td style="width: 100px;">@Html.DisplayFor(modelItem => item.taskprice)</td>
                                                    <td style="width: 100px;">@Html.DisplayFor(modelItem => item.CaseStatusname)</td>
                                                    @if (item.CaseStatusname == "專家案件已完成")
                                                {
                                                    
                                                        <td style="width: 100px;">
                                                            <a href="@Url.Action("CreateNew","Ratings",  new { id = item.caseid })"><i class="fa-solid fa-pen-to-square" style="color: #518eaf;"></i> </a>

                                                        </td>
                                                }
                                                else
                                                {
                                                        <td style="width: 100px;">
                                                        <i class="fa-solid fa-rectangle-xmark" style="color: #518eaf;"></i>
                                                        無法評價!
                                                        </td>
                                                }
                                                   

                                                </tr>

                                        }
                                    }
                                }
                            <tbody>

                        </table>

                    </div>

                    <!--接收的委託(未回覆)-->
                    <div class="card-body" style="display:none" id="taskfromotherno">
                        <table id="fortaskfromotherno" class="table table-hover table align-middle datatable dt-responsive table-check nowrap" style="border-collapse: collapse; border-spacing: 0 8px; width: 100%;">
                            <thead>
                            <tr>
                                    <th style="width: 50px;">序號</th>
                                    <th style="width: 100px;">委託人</th>
                                    <th style="width: 100px;">專家</th>
                                    @*  <th style="width: 50px;">案件編號(隱藏)</th> *@
                                <th style="width: 200px;">委託內容</th>
                                <th style="width: 100px;">委託期限-起</th>
                                <th style="width: 100px;">委託期限-訖</th>
                                <th style="width: 100px;">委託價格</th>
                                <th style="width: 100px;">案件狀態</th>
                                    <th style="width: 100px;">接受/拒絕</th>
                                

                            </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (Model.taskfromotherno != null)
                                    {
                                        int countmytasking = 0;

                                        foreach (var item in Model.taskfromotherno)
                                        {
                                            countmytasking++;
                                                <tr>
                                                    <td style="width: 50px;">@countmytasking</td>
                                                    <td style="width: 100px;">@Html.DisplayFor(modelItem => item.taskmember)</td>
                                                    <td style="width: 100px;">@Html.DisplayFor(modelItem => item.taskexpert)</td>
                                                    @*  <td style="width: 50px;">@Html.DisplayFor(modelItem => item.caseid)</td> *@
                                                    <td style="width: 200px;">@Html.DisplayFor(modelItem => item.taskcontent)</td>
                                                    <td style="width: 100px;">@Html.DisplayFor(modelItem => item.taskdatestart)</td>
                                                    <td style="width: 100px;">@Html.DisplayFor(modelItem => item.taskdateend)</td>
                                                    <td style="width: 100px;">@Html.DisplayFor(modelItem => item.taskprice)</td>
                                                    <td style="width: 100px;">@Html.DisplayFor(modelItem => item.CaseStatusname)</td>
                                                    <td style="width: 100px;">
                                                        <a href="@Url.Action(/* , */ /* new { id = item.CaseId } */)">
                                                     
                                                            <i class="fa-solid fa-square-check" style="color: #518eaf;"></i>
                                                            /
                                                            <i class="fa-solid fa-rectangle-xmark" style="color: #518eaf;"></i>
                                                        </a>

                                                    </td>

                                                </tr>

                                        }
                                    }
                                }
                            <tbody>

                        </table>

                    </div>

                    <!--接收的委託(進行中)-->
                    <div class="card-body" style="display:none" id="taskingfromother">
                        <table id="fortaskingfromother" class="table table-hover table align-middle datatable dt-responsive table-check nowrap" style="border-collapse: collapse; border-spacing: 0 8px; width: 100%;">
                            <thead>
                                <tr>
                                    <th style="width: 50px;">序號</th>
                                    <th style="width: 100px;">委託人</th>
                                    <th style="width: 100px;">專家</th>
                                    @*  <th style="width: 50px;">案件編號(隱藏)</th> *@
                                    <th style="width: 200px;">委託內容</th>
                                    <th style="width: 100px;">委託期限-起</th>
                                    <th style="width: 100px;">委託期限-訖</th>
                                    <th style="width: 100px;">委託價格</th>
                                    <th style="width: 100px;">案件狀態</th>
                                    <th style="width: 100px;">完成</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (Model.taskingfromother != null)
                                    {
                                        int countmytasking = 0;

                                        foreach (var item in Model.taskingfromother)
                                        {
                                            countmytasking++;
                                                <tr>
                                                    <td style="width: 50px;">@countmytasking</td>
                                                    <td style="width: 100px;">@Html.DisplayFor(modelItem => item.taskmember)</td>
                                                    <td style="width: 100px;">@Html.DisplayFor(modelItem => item.taskexpert)</td>
                                                    @*  <td style="width: 50px;">@Html.DisplayFor(modelItem => item.caseid)</td> *@
                                                    <td style="width: 200px;">@Html.DisplayFor(modelItem => item.taskcontent)</td>
                                                    <td style="width: 100px;">@Html.DisplayFor(modelItem => item.taskdatestart)</td>
                                                    <td style="width: 100px;">@Html.DisplayFor(modelItem => item.taskdateend)</td>
                                                    <td style="width: 100px;">@Html.DisplayFor(modelItem => item.taskprice)</td>
                                                    <td style="width: 100px;">@Html.DisplayFor(modelItem => item.CaseStatusname)</td>
                                                    <td style="width: 100px;">
                                                        <a href="@Url.Action(/* , */ /* new { id = item.CaseId } */)">
                                                            <i class="fa-solid fa-square-check" style="color: #518eaf;"></i>
                                                        </a>

                                                    </td>

                                                </tr>

                                        }
                                    }
                                }
                            <tbody>

                        </table>

                    </div>

                    <!--接收的委託(已完成)-->
                    <div class="card-body" style="display:none" id="taskedfromother">
                        <table id="fortaskedfromother" class="table table-hover table align-middle datatable dt-responsive table-check nowrap" style="border-collapse: collapse; border-spacing: 0 8px; width: 100%;">
                            <thead>
                                <tr>
                                    <th style="width: 50px;">序號</th>
                                    <th style="width: 100px;">委託人</th>
                                    <th style="width: 100px;">專家</th>
                                    @*  <th style="width: 50px;">案件編號(隱藏)</th> *@
                                    <th style="width: 200px;">委託內容</th>
                                    <th style="width: 100px;">委託期限-起</th>
                                    <th style="width: 100px;">委託期限-訖</th>
                                    <th style="width: 100px;">委託價格</th>
                                    <th style="width: 100px;">案件狀態</th>
                                    <th style="width: 100px;">去評價</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (Model.taskedfromother != null)
                                    {
                                        int countmytasking = 0;

                                        foreach (var item in Model.taskedfromother)
                                        {
                                            countmytasking++;
                                            // int maxDisplayLength = 10; // 設定要顯示的最大字數

                                                <tr>
                                                    <td style="width: 50px;">@countmytasking</td>
                                                    <td style="width: 100px;">@Html.DisplayFor(modelItem => item.taskmember)</td>
                                                    <td style="width: 100px;">@Html.DisplayFor(modelItem => item.taskexpert)</td>
                                                    @*  <td style="width: 50px;">@Html.DisplayFor(modelItem => item.caseid)</td> *@
                                                    <td style="width: 200px;">@Html.DisplayFor(modelItem => item.taskcontent)</td>
                                                    <td style="width: 100px;">@Html.DisplayFor(modelItem => item.taskdatestart)</td>
                                                    <td style="width: 100px;">@Html.DisplayFor(modelItem => item.taskdateend)</td>
                                                    <td style="width: 100px;">@Html.DisplayFor(modelItem => item.taskprice)</td>
                                                    <td style="width: 100px;">@Html.DisplayFor(modelItem => item.CaseStatusname)</td>
                                                    @if (item.CaseStatusname == "專家案件已完成")
                                                {

                                                        <td style="width: 100px;">
                                                            <a href="@Url.Content("~/Ratings/CreateNew")?id=@item.caseid"><i class="fa-solid fa-pen-to-square" style="color: #518eaf;"></i> </a>

                                                        </td>
                                                }
                                                else
                                                {
                                                        <td style="width: 100px;">
                                                            <i class="fa-solid fa-rectangle-xmark" style="color: #518eaf;"></i>
                                                            無法評價!
                                                        </td>
                                                }

                                                </tr>

                                        }
                                    }
                                }
                            <tbody>

                        </table>

                    </div>

                </div>
            </div>
        </div>


    </div>
    <!-- Modalsearch -->
    <div  class="modal fade" id="mytaskingModal" tabindex="-1" aria-labelledby="mytaskingModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    
                <div>
                        <h5 class="modal-title" id="mytaskingModalLabel"></h5>
                </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <hr />
                   
                </div>
                <div class="modal-body">
                    <div>
                       委託時間: <span id="Modaltaskdatestart"></span>~
                        <span id="Modaltaskdateend"></span>
                    </div>
                    <div>
                        委託內容:  <p id="Modaltaskcontent"></p>
                    </div>
                    <div>
                       委託價格: <span id="Modaltaskprice"></span>
                    </div>
                    <div>
                        <span id="ModalCaseWorkPlace"></span>
                        <span id="ModalCaseAddress"></span>
                    </div>
                    

                </div>
                <div class="modal-footer justify-content-between">
                    <div >
                        狀態: <p id="ModalCaseStatusname"></p>
                    </div>
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modalupdate -->
    <div class="modal fade" id="mytaskingModal" tabindex="-1" aria-labelledby="mytaskingupdateModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mytaskingupdateModalLabel"></h5>
                    <h5 class="modal-title" id="mytaskingupdateModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>





</div>

@section Styles{

    <link type="text/css" rel="stylesheet" href="~/Expert/css/expertstyle.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
    <style>
        // .modal-backdrop.show {
        //     opacity: 0;
        // }
    </style>
        }
@section Scripts{
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
    <script>

        
        // //這是按鈕部分

        var btnmytasking = document.querySelector('#btnmytasking');
        var btnmytasked = document.querySelector('#btnmytasked');
        var btntaskfromotherno = document.querySelector('#btntaskfromotherno');
        var btntaskingfromother = document.querySelector('#btntaskingfromother');
        var btntaskedfromother = document.querySelector('#btntaskedfromother');

        function clickdiv(id1, id2, id3, id4, id5) {
            id1.style.display = 'block';
            id2.style.display = 'none';
            id3.style.display = 'none';
            id4.style.display = 'none';
            id5.style.display = 'none';
            console.log(id1);
        };

        //開啟排序功能

        $('#formytasking').DataTable({
                "order": [],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/zh-HANT.json',
            },
            });
        $('#formytasked').DataTable({
            "order": [],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/zh-HANT.json',
            },
        });
        $('#fortaskfromotherno').DataTable({
            "order": [],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/zh-HANT.json',
            },
        });
        $('#fortaskingfromother').DataTable({
            "order": [],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/zh-HANT.json',
            },
        });
        $('#fortaskedfromother').DataTable({
            "order": [],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/zh-HANT.json',
            },
        });

        //===========點詳細功能:

        $(document).ready(function () {
            $('button[data-modal-type="search"]').click(function () {
                var caseId = $(this).data('id');
                var taskMember = $(this).closest('tr').find('td:nth-child(2)').text();
                var taskExpert = $(this).closest('tr').find('td:nth-child(3)').text();
                var taskcontent = $(this).data('taskcontent');
                var taskdatestart = $(this).closest('tr').find('td:nth-child(5)').text();
                var taskdateend = $(this).closest('tr').find('td:nth-child(6)').text();
                var taskprice = $(this).closest('tr').find('td:nth-child(7)').text();
                var CaseStatusname = $(this).closest('tr').find('td:nth-child(8)').text();
                var WorkPlace = $(this).data('WorkPlace');
                var Address = $(this).data('Address'); // Fixed the missing quote here

                $('#mytaskingModalLabel').html('委託人: ' + taskMember + '<br>專家: ' + taskExpert);
                $('#Modaltaskcontent').html(taskcontent);
                $('#Modaltaskdatestart').text(taskdatestart);
                $('#Modaltaskdateend').text(taskdateend);
                $('#Modaltaskprice').text(taskprice);
                $('#ModalCaseStatusname').text(CaseStatusname);
                $('#ModalCaseWorkPlace').text(WorkPlace);
                $('#ModalCaseAddress').text(Address);
            });
        });
        $(document).ready(function () {
            $('button[data-modal-type="update"]').click(function () {
              
            });
        });





        
    </script>
    <script src="~/Expert/js/expert.js"></script>
    <script src="~/Expert/js/bootstrap.bundle.js"></script>
    <script src="~/Expert/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}


<!-- glightbox js -->
<script src="~/backstage1/static/js/glightbox.min.js"></script>

<!-- lightbox init -->
<script src="~/backstage1/static/js/lightbox.init.js"></script>
