@model IEnumerable<prjCoreWebWantWant.Models.TaskList>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Member/LayoutForMem.cshtml";
}
<div class="">


<div class="row justify-content-end p-4 ">
    <h1 style="position:relative;left:20%; margin:10px;">歷史委託</h1>
    <!--搜尋 -->
    <div class="col-5 ">
        <div class="input-group">
            <input type="text" placeholder="請輸入要搜尋的內容" aria-label="" aria-describedby="btnsearch" style="width: 400px;">
            <button class="btn btn-secondary col-1 " type="button" id="btnsearch">搜尋</button>
        </div>


    </div>
    <!-- 下拉式選單 -->
    <div class="dropdown col-4 ">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle fs-2 " type="button" id="dropdownMenu2"
                    data-bs-toggle="dropdown" aria-expanded="false">
                請選擇
            </button>
            <ul class="dropdown-menu fs-3" aria-labelledby="dropdownMenu2">
                <li class="dropexpert-header"><p class="fs-3 ">草稿匣▼<hr class="mx-0 px-0"></p></li>
                <li>
                    <button class="dropexpert-item " type="button"
                            onclick="clickdropexpert(nonpublic,membering,membered,experting,experted)">
                        草稿
                    </button>
                </li>
                <li class="dropexpert-header"><p class="fs-3 "><hr class="mx-0 px-0"></p></li>
                <li class="dropexpert-header"><p class="fs-3 ">委託者管理▼<hr class="mx-0 px-0"></p></li>
                <li>
                    <button class="dropexpert-item" type="button" onclick="clickdropexpert(membering,nonpublic,membered,experting,experted)">
                        發送委託(進行中)
                    </button>
                </li>
                <li>
                    <button class="dropexpert-item" type="button" onclick="clickdropexpert(membered,nonpublic,membering,experting,experted)">
                        發送委託(已完成)
                    </button>
                </li>
                <li class="dropexpert-header"><p class="fs-3 "><hr class="mx-0 px-0"></p></li>
                <li class="dropexpert-header"><p class="fs-3 ">接案者管理▼<hr class="mx-0 px-0"></p></li>
                <li>
                    <button class="dropexpert-item " type="button" onclick="clickdropexpert(experting,nonpublic,membering,membered,experted)">
                        接收的委託(進行中)
                    </button>
                </li>
                <li>
                    <button class="dropexpert-item" type="button" onclick="clickdropexpert(experted,nonpublic,membering,membered,experting)">
                        接收的委託(已完成)
                    </button>
                </li>
            </ul>

        </div>

    </div>

</div>
<!-- 下拉式選單 -->
<div class="container">
    <div>
    </div>
    <form style="overflow-y: auto; height:65vh ">
        <!-- 草稿 -->
        <div>
            <div class="tab_content" id="nonpublic">
                <h2>草稿</h2>
                <hr>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>修改</td>
                            <td>委託對象</td>
                            <td>案件編號(隱藏)</td>
                            <td class="w-auto">委託內容</td>
                            <td>委託截止日</td>
                            <td>委託期限-起</td>
                            <td>委託期限-訖</td>
                            <td>委託價格</td>
                            <td>工作地點</td>
                            <td>付款方式</td>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="width:100px; padding:0;padding-block-start:5px">
                                    @Html.ActionLink("修改/送出", "Edit", "ExpertTask", null, new {@class="btn btn-outline-secondary" })
                                </td>
                                <td> @Html.DisplayFor(modelItem => item.AccountId)</td>

                                <td> @Html.DisplayFor(modelItem => item.TaskNameId)</td>
                                <td>@Html.DisplayFor(modelItem => item.TaskDetail)</td>
                                <td>委託截止日</td>
                                <td>@Html.DisplayFor(modelItem => item.TaskStartDate)</td>
                                <td>@Html.DisplayFor(modelItem => item.TaskEndDate)</td>
                                <td>@Html.DisplayFor(modelItem => item.PayFrom)</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TaskPlace)
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td> @Html.DisplayFor(modelItem => item.Payment.PaymentId)</td>


                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- 發出委託(進行中) -->
        <div>
            <div class="tab_content displayno" id="membering">
                <h2>發送委託(進行中)</h2>
                <hr>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>修改/送出</td>
                            <td>委託對象</td>
                            <td>案件編號(隱藏)</td>
                            <td>案件狀態</td>

                            <td>委託內容</td>
                            <td>委託截止日</td>
                            <td>委託期限-起</td>
                            <td>委託期限-訖</td>
                            <td>委託價格</td>
                            <td>工作地點</td>
                            <td>付款方式</td>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {


                            <tr>

                                <td style="width:100px; padding:0;padding-block-start:5px">
                                    @Html.ActionLink("修改/送出", "Edit", "ExpertTask", null, new {@class="btn btn-outline-secondary" })
                                </td>
                                <td> @Html.DisplayFor(modelItem => item.AccountId)</td>

                                <td> @Html.DisplayFor(modelItem => item.TaskNameId)</td>
                                @if (item.CaseStatusId != null)
                                {
                                    if ((int)item.CaseStatusId == 17)
                                    {

                                        <td style="width:100px; padding:0;padding-block-start:5px">
                                            @Html.ActionLink("專家案件進行中", "DetailsReceive", "ExpertTask", null, new {@class="btn btn-outline-secondary" })
                                        </td>
                                    }
                                    else if ((int)item.CaseStatusId == 18)
                                    {
                                        <td style="width:100px; padding:0;padding-block-start:5px">
                                            @Html.ActionLink("沒有回應", "DetailsReceive", "ExpertTask", null, new {@class="btn btn-outline-secondary" })
                                        </td>
                                    }
                                    else
                                    {
                                        <td style="width:100px; padding:0;padding-block-start:5px">
                                            @Html.ActionLink("沒有回應", "DetailsReceive", "ExpertTask", null, new {@class="btn btn-outline-secondary" })
                                        </td>
                                    }
                                }
                                else
                                {
                                    <td style="width:100px; padding:0;padding-block-start:5px">
                                        @Html.ActionLink("沒有回應", "DetailsReceive", "ExpertTask", null, new {@class="btn btn-outline-secondary" })
                                    </td>
                                }

                                <td>@Html.DisplayFor(modelItem => item.TaskDetail)</td>
                                <td>委託截止日</td>
                                <td>@Html.DisplayFor(modelItem => item.TaskStartDate)</td>
                                <td>@Html.DisplayFor(modelItem => item.TaskEndDate)</td>
                                <td>@Html.DisplayFor(modelItem => item.PayFrom)</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TaskPlace)
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td> @Html.DisplayFor(modelItem => item.Payment.PaymentId)</td>


                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
        <!-- 已完成的委託 -->
        <div>
            <div class="tab_content displayno" id="membered">
                <h2>發送委託(已完成)</h2>
                <hr>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>檢視</td>
                            <td>委託對象</td>
                            <td>已完成</td>
                            <td>案件編號(隱藏)</td>
                            <td>委託內容</td>
                            <td>委託截止日</td>
                            <td>委託期限-起</td>
                            <td>委託期限-訖</td>
                            <td>委託價格</td>
                            <td>工作地點</td>
                            <td>付款方式</td>
                            <td>評價</td>
                            <td>評價分數</td>
                            <td>評價內容</td>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="width:100px; padding:0;padding-block-start:5px">
                                    @Html.ActionLink("檢視","DetailsView","ExpertTask", null, new {@class="btn btn-outline-secondary" })
                                </td>

                                <td> @Html.DisplayFor(modelItem => item.AccountId)</td>
                                <td>已完成</td>
                                <td> @Html.DisplayFor(modelItem => item.TaskNameId)</td>
                                <td>@Html.DisplayFor(modelItem => item.TaskDetail)</td>
                                <td>委託截止日</td>
                                <td>@Html.DisplayFor(modelItem => item.TaskStartDate)</td>
                                <td>@Html.DisplayFor(modelItem => item.TaskEndDate)</td>
                                <td>@Html.DisplayFor(modelItem => item.PayFrom)</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TaskPlace)
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td> @Html.DisplayFor(modelItem => item.Payment.PaymentId)</td>
                                <td style="width:100px; padding:0;padding-block-start:5px">
                                    @Html.ActionLink("評價","Create","Ratings", null, new {@class="btn btn-outline-secondary" })
                                </td>
                                <td>尚未評價</td>
                                <td>尚未評價內容</td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- 進行中(收到的委託) -->
        <div>
            <div class="tab_content displayno" id="experting">
                <h2>接收的委託(進行中)</h2>
                <hr>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>查看詳細內容</td>
                            <td>接受</td>
                            <td>拒絕</td>
                            <td>完成</td>
                            <td>委託對象</td>
                            <td>案件編號(隱藏)</td>
                            <td>委託內容</td>
                            <td>委託截止日</td>
                            <td>委託期限-起</td>
                            <td>委託期限-訖</td>
                            <td>委託價格</td>
                            <td>工作地點</td>
                            <td>付款方式</td>

                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td> @Html.ActionLink("查看詳細內容","DetailsResponse","ExpertTask",null )</td>
                                <td> @Html.ActionLink("接受","","ExpertTask",null )</td>

                                <td> @Html.ActionLink("拒絕","","ExpertTask",null )</td>


                                <td> @Html.ActionLink("完成","","ExpertTask",null )</td>
                                <td> @Html.DisplayFor(modelItem => item.AccountId)</td>
                                <td> @Html.DisplayFor(modelItem => item.TaskNameId)</td>
                                <td>@Html.DisplayFor(modelItem => item.TaskDetail)</td>
                                <td>委託截止日</td>
                                <td>@Html.DisplayFor(modelItem => item.TaskStartDate)</td>
                                <td>@Html.DisplayFor(modelItem => item.TaskEndDate)</td>
                                <td>@Html.DisplayFor(modelItem => item.PayFrom)</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TaskPlace)
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td> @Html.DisplayFor(modelItem => item.Payment.PaymentId)</td>


                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- 已完成(收到的委託) -->
        <div>
            <div class="tab_content displayno" id="experted">
                <h2>接收的委託(已完成)</h2>
                <hr>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>委託對象</td>
                            <td>已完成</td>
                            <td>案件編號(隱藏)</td>
                            <td>委託內容</td>
                            <td>委託截止日</td>
                            <td>委託期限-起</td>
                            <td>委託期限-訖</td>
                            <td>委託價格</td>
                            <td>工作地點</td>
                            <td>付款方式</td>
                            <td>評價</td>
                            <td>評價分數</td>
                            <td>評價內容</td>

                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td> @Html.DisplayFor(modelItem => item.AccountId)</td>
                                <td style="width:100px; padding:0;padding-block-start:5px">
                                    @Html.ActionLink("檢視","DetailsView","ExpertTask", null, new {@class="btn btn-outline-secondary" })
                                </td>
                                <td> @Html.DisplayFor(modelItem => item.TaskNameId)</td>
                                <td>@Html.DisplayFor(modelItem => item.TaskDetail)</td>
                                <td>委託截止日</td>
                                <td>@Html.DisplayFor(modelItem => item.TaskStartDate)</td>
                                <td>@Html.DisplayFor(modelItem => item.TaskEndDate)</td>
                                <td>@Html.DisplayFor(modelItem => item.PayFrom)</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TaskPlace)
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td> @Html.DisplayFor(modelItem => item.Payment.PaymentId)</td>
                                <td style="width:100px; padding:0;padding-block-start:5px">
                                    @Html.ActionLink("評價","Create","Ratings", null, new {@class="btn btn-outline-secondary" })
                                </td>
                                <td>尚未評價</td>
                                <td>尚未評價內容</td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- 下拉式選單 -->
    </form>
    <div class="p-5"></div>
</div>
</div>
@section Styles{

    <link type="text/css" rel="stylesheet" href="~/Expert/css/expertstyle.css">
        }
@section Scripts{
    <script src="~/Expert/js/expert.js"></script>
    <script src="~/Expert/js/bootstrap.bundle.js"></script>
    <script src="~/Expert/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
        }
