@model IEnumerable<prjCoreWebWantWant.ViewModels.CServiceContactViewModel>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_LayoutForBackstage.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="mb-2">訊息列表</h1>
                    @using (Html.BeginForm())
                    {
                        @:關鍵字 @Html.TextBox("txtKeyword")
                        <input type="submit" value="查詢" />
                    }
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">網站後台管理</a></li>
                        <li class="breadcrumb-item active">訊息列表</li>
                    </ol>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                序
                            </th>
                            <th>
                                會員名稱
                            </th>
                            <th>
                                會員帳號
                            </th>
                            <th>
                                會員電話
                            </th>
                            <th>
                                會員訊息標題
                            </th>
                            <th>
                                會員訊息內容
                            </th>
                            <th>
                                處理狀態
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @{
                            int count = 0;
                            foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <td>
                                        @count
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PhoneNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.serviceContact.ComplaintTitle)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.serviceContact.ComplaintContent)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.serviceContact.ProcessStatus)
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>