@*@model IEnumerable<WantTask.Models.ApplicationList>*@
@model IEnumerable<WantTask.ViewModels.CApproveViewModel>





@{
    ViewData["Title"] = "approve";
    // Layout = "~/Views/Shared/_BackstageLayout.cshtml";
    Layout = "~/Views/Member/LayoutForMem.cshtml";
}


<!doctype html>
<html lang="en">



<head>

    <link href="~/backstage1/static/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">

    <!-- preloader css -->
    <link rel="stylesheet" href="~/backstage1/static/css/preloader.min.css" type="text/css">

    <!-- Bootstrap Css -->
    @* <link href="~/backstage1/static/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css"> *@

    <!-- Icons Css -->
    <link href="~/backstage1/static/css/icons.min.css" rel="stylesheet" type="text/css">

    <!-- App Css-->
    <link href="~/backstage1/static/css/app.min.css" id="app-style" rel="stylesheet" type="text/css">

    <!-- JobdetailBackstage css -->
    <!-- glightbox css -->
    <link rel="stylesheet" href="~/backstage1/static/css/glightbox.min.css">
   

    <style>

        .table-hover tbody tr:hover {
            background-color: #f5f5f5; /* 或者你想要的其他背景顏色 */
        }

    /*     .btn-outline-secondary {
            /*  background-color: #528EAF; /* 更改滑鼠滑過的背景顏色 */
            /* border-color: #528EAF; /* 更改滑鼠滑過的邊框顏色 */
            color: #528EAF; /* 更改滑鼠滑過的文字顏色 */
            text-decoration-color: #528EAF;
        } */

        .btn-outline-secondary:hover {
            background-color: #528EAF; /* 更改滑鼠滑過的背景顏色 */
            border-color: #528EAF; /* 更改滑鼠滑過的邊框顏色 */
            color: #fff; /* 更改滑鼠滑過的文字顏色 */
        }

        

      /*   #btnAccept{
            color: #528EAF
        }

            #btnAccept:hover {
                color: #fff;
        }

        #btnRefuse {
            color: #528EAF
        } */

        .badge-soft-primary {
            background-color: #528EAF;
            color: #fff;
        }

    </style>
</head>

<body>

    <!-- <body data-layout="horizontal"> -->
    <!-- Begin page -->
    <div id="layout-wrapper">


        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        @* <div class="main-content"> *@

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                       
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
                    <!--未處理 已錄取 未錄取 任務類型 關鍵字-->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="card-body col-4">
                                            <!-- Nav tabs -->
                                            <!--未處理 已錄取 未錄取-->
                                            <ul class="nav nav-tabs nav-tabs-custom nav-justified" role="tablist">
                                                <li class="nav-item" onclick="showAllResume();">
                                                    <a class="nav-link active" data-bs-toggle="tab" href="#AllResume" role="tab" style="color:#528EAF">
                                                        <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                                        <span class="d-none d-sm-block" style="color:#528EAF">未處理</span>
                                                    </a>
                                                </li>
                                                <li class="nav-item" onclick="showApprove();">
                                                    <a class="nav-link" data-bs-toggle="tab" href="#Approve" role="tab">
                                                        <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                                                        <span class="d-none d-sm-block" style="color:#528EAF">已錄取</span>
                                                    </a>
                                                </li>
                                                <li class="nav-item" onclick="showReject();">
                                                    <a class="nav-link" data-bs-toggle="tab" href="#Reject" role="tab">
                                                        <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                                                        <span class="d-none d-sm-block" style="color:#528EAF">未錄取</span>
                                                    </a>
                                                </li>
                                            </ul>                                      
                                        </div>
                                        <!-- end card-body -->

                                        <!--選擇任務類型-->

                                        <div class="col-4 mb-3">
                                            <form class="app-search d-none d-lg-block">
                                                <!-- <label class="form-label">Select</label> -->
                                                <select class="form-select">
                                                    <option>請選擇任務類型</option>
                                                    <option>跑腿</option>
                                                    <option>活動支援</option>
                                                    <option>其他</option>
                                                </select>
                                            </form>
                                        </div>
                                 
                                        <!-- App Search--> <!--關鍵字搜尋-->
                                        <div class="col-4">
                                            <form class="app-search d-none d-lg-block">
                                                <div class="position-relative">
                                                    <input type="text" class="form-control" placeholder="請輸入關鍵字">
                                                    <button class="btn btn-primary" type="button" style="background-color:#528EAF"><i class="bx bx-search-alt align-middle"></i></button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                    <!-- <h4 class="card-title">Table Edit</h4> -->
                                    <!-- <p class="card-title-desc">Table Edits is a lightweight jQuery plugin for making table rows editable.</p> -->
                                </div>
                                <div class="card-body" id="AllResume">
                                    
                                    
                                    <!--正在用的舊表格-->
                                <!--未處理-->

                                    <div class="table-responsive mb-4">
                                        <table class="table table-hover table align-middle datatable dt-responsive table-check nowrap" style="border-collapse: collapse; border-spacing: 0 8px; width: 100%;">
                                            <thead>
                                                <tr>
                                                <th style="width: 50px;">序號</th>
                                                <th style="width: 100px;">投遞任務</th>
                                                <th style="width: 50px;">申請人名稱</th>
                                                <th style="width: 100px;">履歷內容</th>
                                                <th style="width: 50px;">語言</th>
                                                <th style="width: 50px;">證照</th>
                                                <th style="width: 50px;">技能</th>
                                                <th style="width: 50px;">查看</th>
                                                <th style="width: 50px;">是否錄取</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                            @{
                                                int count=0;
                                           
                                                foreach (var item in Model)
                                                {                           
                                                   int maxDisplayLength = 10; // 設定要顯示的最大字數
                                                    string autobiography = item.Autobiography;

                                                    if (autobiography.Length > maxDisplayLength)
                                                    {
                                                        autobiography = autobiography.Substring(0, maxDisplayLength) + " ..."; // 截斷字串
                                                    }
                                                    count++;
                                                    <tr data-id="1">
                                                        <td data-field="id" style="width: 80px">@count</td>
                                                        <td data-field="name"> @Html.DisplayFor(modelItem => item.TaskTitle)</td>
                                                        <td data-field="name"> @Html.DisplayFor(modelItem => item.Name)</td>
                                                        <td data-field="age">@Html.DisplayFor(modelItem => autobiography)</td>
                                                        <td data-field="gender">@*@Html.DisplayFor(modelItem => taskDetail)*@</td>
                                                        <td>
                                                            <div class="d-flex gap-2">
                                                                <a href="#" class="badge badge-soft-primary">@Html.DisplayFor(modelItem => item.CertificateName)</a>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex gap-2">                                                               
                                                                <a href="#" class="badge badge-soft-primary">@Html.DisplayFor(modelItem => item.SkillName)</a>
                                                            </div>
                                                        </td>
                                                        <td style="width: 100px">
                                                        <a class="btn btn-outline-secondary btn-sm edit" title="Edit" href="@Url.Content("~/backstage/ResumeUneditable")">
                                                                <i class="fas fa-pencil-alt"></i>
                                                            </a>
                                                        </td>
                                                        <th>
                                                            <div class="d-flex flex-wrap gap-3 my-3">
                                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                                    @*<button type="button" class="btn btn-outline-secondary" id="yes">錄取</button>
                                                                    <button type="button" class="btn btn-outline-secondary" id="no">婉拒</button>*@
                                                                @Html.ActionLink("錄取", "Accept","BackstageTask", new {id=item.CaseId}, new { @class = "btn btn-outline-secondary" ,style="color:#528EAF"})
                                                                @Html.ActionLink("婉拒", "Refuse","BackstageTask", new {id=item.CaseId}, new { @class = "btn btn-outline-secondary" ,style="color:#528EAF"})
                                                                    </div>
                                                            </div>
                                                        </th>
                                                    </tr>                                              
                                                }                                                
                                                }
                                                </tbody>
                                        </table>
                                    </div>
                                </div>


                            <!--已錄取-->
                                <div class="card-body" style="display:none" id="Approve">
                                    <div class="table-responsive mb-4">
                                        <table class="table table-hover table align-middle datatable dt-responsive table-check nowrap" style="border-collapse: collapse; border-spacing: 0 8px; width: 100%;">
                                            <thead>
                                                <tr>

                                                <th style="width: 50px;">序號</th>
                                                <th style="width: 100px;">投遞任務</th>
                                                <th style="width: 50px;">申請人名稱</th>
                                                <th style="width: 100px;">履歷內容</th>
                                                <th style="width: 50px;">語言</th>
                                                <th style="width: 50px;">證照</th>
                                                <th style="width: 50px;">技能</th>
                                            <th style="width: 50px;">查看</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                            @{

                                                NewIspanProjectContext _context = new NewIspanProjectContext();

                                                //var q = from app in _context.ApplicationLists.AsEnumerable()
                                                //        where app.CaseStatusId == 1
                                                //        select app;

                                                var query =( from app in _context.ApplicationLists                                                         

                                                            join task in _context.TaskLists on app.CaseId equals task.CaseId
                                                            join resume in _context.Resumes on app.ResumeId equals resume.ResumeId
                                                            join member in _context.MemberAccounts on resume.AccountId equals member.AccountId
                                                            join resumeskill in _context.ResumeSkills on resume.ResumeId equals resumeskill.ResumeId
                                                            join skill in _context.Skills on resumeskill.SkillId equals skill.SkillId
                                                            join resumecer in _context.ResumeCertificates on resume.ResumeId equals resumecer.ResumeId
                                                            join cer in _context.Certificates on resumecer.CertificateId equals cer.CertificateId                                                 

                                                            where app.CaseStatusId == 1

                                                            select new 
                                                            {
                                                                CaseId = task.CaseId,
                                                                ResumeId = resume.ResumeId,
                                                                TaskNameId = task.TaskNameId,
                                                                CaseStatusId = app.CaseStatusId,
                                                                Name = member.Name,
                                                                SkillName = skill.SkillName,
                                                                CertificateName = cer.CertificateName,
                                                                Autobiography = resume.Autobiography,
                                                                PublishStart = task.PublishStart,
                                                                TaskStart = task.TaskStartDate,
                                                                TaskTitle = task.TaskTitle,
                                                                TaskDetail = task.TaskDetail
                                                            }).Distinct();

                                                int count1=0;

                                                foreach (var item in query)
                                                {
                                                     int maxDisplayLength = 10; // 設定要顯示的最大字數
                                                    string autobiography = item.Autobiography;

                                                    if (autobiography.Length > maxDisplayLength)
                                                    {
                                                        autobiography = autobiography.Substring(0, maxDisplayLength) + " ..."; // 截斷字串
                                                    }
                                                    count1++;

                                                <tr data-id="1">
                                                    <td data-field="id" style="width: 80px">@count1</td>
                                                        <td data-field="name"> @Html.DisplayFor(modelItem => item.TaskTitle)</td>
                                                        <td data-field="name"> @Html.DisplayFor(modelItem => item.Name)</td>
                                                        <td data-field="age">@Html.DisplayFor(modelItem => item.Autobiography)</td>
                                                        <td data-field="gender">@*@Html.DisplayFor(modelItem => taskDetail)*@</td>
                                                        <td>
                                                            <div class="d-flex gap-2">
                                                                <a href="#" class="badge badge-soft-primary">@Html.DisplayFor(modelItem => item.CertificateName)</a>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex gap-2">
                                                                <a href="#" class="badge badge-soft-primary">@Html.DisplayFor(modelItem => item.SkillName)</a>
                                                            </div>
                                                        </td>
                                                        <td style="width: 100px">
                                                        <a class="btn btn-outline-secondary btn-sm edit" title="Edit" href="@Url.Content("~/backstage/ResumeUneditable")">
                                                                <i class="fas fa-pencil-alt"></i>
                                                            </a>
                                                        </td>
                                                </tr>
                                            }
                                            }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                            <!--已婉拒-->
                                <div class="card-body" style="display:none" id="Reject">
                              <div class="table-responsive mb-4">
                                            <table class="table table-hover table align-middle datatable dt-responsive table-check nowrap" style="border-collapse: collapse; border-spacing: 0 8px; width: 100%;"> 
                                            <thead>
                                                <tr>                                                   

                                                <th style="width: 50px;">序號</th>
                                                <th style="width: 100px;">投遞任務</th>
                                                <th style="width: 50px;">申請人名稱</th>
                                                <th style="width: 100px;">履歷內容</th>
                                                <th style="width: 50px;">語言</th>
                                                <th style="width: 50px;">證照</th>
                                                <th style="width: 50px;">技能</th>
                                                <th style="width: 50px;">查看</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                 @{

                                                NewIspanProjectContext _context2 = new NewIspanProjectContext();

                                                     var query2 =( from app in _context.ApplicationLists                                                         

                                                            join task in _context.TaskLists on app.CaseId equals task.CaseId
                                                            join resume in _context.Resumes on app.ResumeId equals resume.ResumeId
                                                            join member in _context.MemberAccounts on resume.AccountId equals member.AccountId
                                                            join resumeskill in _context.ResumeSkills on resume.ResumeId equals resumeskill.ResumeId
                                                            join skill in _context.Skills on resumeskill.SkillId equals skill.SkillId
                                                            join resumecer in _context.ResumeCertificates on resume.ResumeId equals resumecer.ResumeId
                                                            join cer in _context.Certificates on resumecer.CertificateId equals cer.CertificateId

                                                            where app.CaseStatusId == 2

                                                            select new 
                                                            {
                                                                CaseId = task.CaseId,
                                                                ResumeId = resume.ResumeId,
                                                                TaskNameId = task.TaskNameId,
                                                                CaseStatusId = app.CaseStatusId,
                                                                Name = member.Name,
                                                                SkillName = skill.SkillName,
                                                                CertificateName = cer.CertificateName,
                                                                Autobiography = resume.Autobiography,
                                                                PublishStart = task.PublishStart,
                                                                TaskStart = task.TaskStartDate,
                                                                TaskTitle = task.TaskTitle,
                                                                TaskDetail = task.TaskDetail
                                                            }).Distinct();

                                                int count2=0;

                                                foreach (var item in query)
                                                {
                                                     int maxDisplayLength = 10; // 設定要顯示的最大字數
                                                    string autobiography = item.Autobiography;

                                                    if (autobiography.Length > maxDisplayLength)
                                                    {
                                                        autobiography = autobiography.Substring(0, maxDisplayLength) + " ..."; // 截斷字串
                                                    }
                                                    count2++;

                                                <tr data-id="1">
                                                    <td data-field="id" style="width: 80px">@count2</td>
                                                    <td data-field="name">@Html.DisplayFor(modelItem => item.TaskTitle)</td>
                                                    <td data-field="name">@Html.DisplayFor(modelItem => item.Name)</td>
                                                    <td data-field="age">@Html.DisplayFor(modelItem => item.Autobiography)</td>
                                                    <td data-field="gender">@*@Html.DisplayFor(modelItem => taskDetail)*@</td>
                                                    <td>
                                                        <div class="d-flex gap-2">
                                                            <a href="#" class="badge badge-soft-primary">@Html.DisplayFor(modelItem => item.CertificateName)</a>                                                            
                                                        </div>
                                                    </td>
                                                    <td>
                                                            <div class="d-flex gap-2">                                                              
                                                                <a href="#" class="badge badge-soft-primary">@Html.DisplayFor(modelItem => item.SkillName)</a>
                                                            </div>
                                                    </td>
                                                    <td style="width: 100px">
                                                        <a class="btn btn-outline-secondary btn-sm edit" title="Edit" href="@Url.Content("~/backstage/ResumeUneditable")">
                                                            <i class="fas fa-pencil-alt"></i>
                                                        </a>
                                                    </td>

                                                </tr>
                                              }
                                              }
                                            </tbody>
                                        </table>
                                    </div>

                                </div>

                                <script>
                                    function showAllResume() {
                                        //先取得要操作的標籤
                                        let AllResume = document.querySelector("#AllResume");
                                        let Approve = document.querySelector("#Approve");
                                        let Reject = document.querySelector("#Reject");

                                        //再對標籤做操作
                                        AllResume.style.display = "block";
                                        Approve.style.display = "none";
                                        Reject.style.display = "none";
                                    }

                                    function showApprove() {
                                        //先取得要操作的標籤
                                        let AllResume = document.querySelector("#AllResume");
                                        let Approve = document.querySelector("#Approve");
                                        let Reject = document.querySelector("#Reject");

                                        //再對標籤做操作
                                        AllResume.style.display = "none";
                                        Approve.style.display = "block";
                                        Reject.style.display = "none";

                                    }

                                    function showReject() {
                                        //先取得要操作的標籤
                                        let AllResume = document.querySelector("#AllResume");
                                        let Approve = document.querySelector("#Approve");
                                        let Reject = document.querySelector("#Reject");

                                        //再對標籤做操作
                                        AllResume.style.display = "none";
                                        Approve.style.display = "none";
                                        Reject.style.display = "block";

                                    }
                                </script>

                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->

                </div> <!-- container-fluid -->
            </div>
     

  


    @section Scripts{
        <script>
            const seltaskName = document.querySelector('#selTaskName');
            const optaskName = document.querySelector('#taskname');

            async function loadTaskName() {
                const response = await fetch('@Url.Content("/Backstage/TaskName")')
                const datas = await response.json()
                const taskname = datas.map(taskname => `<option value="${taskname}">${taskname}</option>`);
                document.querySelector('#selTaskName').innerHTML = taskname.join("");
            }

            loadTaskName();

            const jobdetailBackstage = document.querySelector('#jobdetail');

            jobdetailBackstage.addEventListener('click', () => {
                location.href = '@Url.Content("/Backstage/JobdetailBackstage")';
            })


            const formData = new FormData(document.querySelector('#AllResume'));
            fetch('@Url.Content("~/Api/Approve")', {
                body: formData,
                method: 'POST'
            })
                .then(response => {
                    if (response.ok) {
                        alert("新增成功")
                        location.href = '@Url.Content("~/Form")'
                    } else {
                        alert("有錯誤!!")
                    }
                })



            $('#yes').click(function () {
                $('#Approve').load('@Url.Content("~/Backstage/yes")')
            })


        </script>
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>



    <!--Approve js-->
    <!--JAVASCRIPT-- >
       <script src="~/backstage1/static/js/jquery.min.js" ></script>
       <script src="~/backstage1/static/js/bootstrap.bundle.min.js"></script>
       <script src="~/backstage1/static/js/metisMenu.min.js"></script>
       <script src="~/backstage1/static/js/simplebar.min.js"></script>
       <script src="~/backstage1/static/js/waves.min.js"></script>
       <script src="~/backstage1/static/js/feather.min.js"></script>

    @*   <!-- pace js -->
       <script src="~/backstage/static/js/pace.min.js"></script>*@

       <!-- Required datatable js -->
    <script src="~/backstage1/static/js/jquery.dataTables.min.js"></script>

    <!-- Responsive examples -->
    <script src="~/backstage1/static/js/dataTables.responsive.min.js"></script>
    <script src="~/backstage1/static/js/responsive.bootstrap4.min.js"></script>

    <!-- init js show 10 頁   previous next -->
    <script src="~/backstage1/static/js/datatable-pages.init.js"></script>
    <script src="~/backstage1/static/js/dataTables.bootstrap4.min.js"></script>


    <!-- Table Editable plugin -->
    <script src="~/backstage1/static/js/table-edits.min.js"></script>

    <script src="~/backstage1/static/js/table-editable.int.js"></script>

    <script src="~/backstage1/static/js/app.js"></script>

    <!-- JobdetailBackstage js -->
    <!-- glightbox js -->
    <script src="~/backstage1/static/js/glightbox.min.js"></script>

    <!-- lightbox init -->
    <script src="~/backstage1/static/js/lightbox.init.js"></script>
   
</body>

</html>
   
                