@using System.Text.Json;
@*@model IEnumerable<WantTask.Models.ApplicationList>*@
@model IEnumerable<WantTask.ViewModels.CApproveViewModel>



@{
    ViewData["Title"] = "approve";
    // Layout = "~/Views/Shared/_BackstageLayout.cshtml";
    Layout = "~/Views/Member/LayoutForMem.cshtml";
}



<head>

    <link href="~/backstage1/static/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">

    <!-- preloader css -->
    <link rel="stylesheet" href="~/backstage1/static/css/preloader.min.css" type="text/css">

    <!-- Bootstrap Css -->
    @* <link href="~/backstage1/static/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css"> *@

    <!-- Icons Css -->
    <link href="~/backstage1/static/css/icons.min.css" rel="stylesheet" type="text/css">

    <!-- App Css-->
    <link href="~/backstage1/static/css/app.min.css" id="app-style" rel="stylesheet" type="text/css">

    <!-- JobdetailBackstage css -->
    <!-- glightbox css -->
    <link rel="stylesheet" href="~/backstage1/static/css/glightbox.min.css">
   

    <style>

        .table-hover tbody tr:hover {
            background-color: #f5f5f5; /* 或者你想要的其他背景顏色 */
        }

    /*     .btn-outline-secondary {
            /*  background-color: #528EAF; /* 更改滑鼠滑過的背景顏色 */
            /* border-color: #528EAF; /* 更改滑鼠滑過的邊框顏色 */
            color: #528EAF; /* 更改滑鼠滑過的文字顏色 */
            text-decoration-color: #528EAF;
        } */

        .btn-outline-secondary:hover {
            background-color: #528EAF; /* 更改滑鼠滑過的背景顏色 */
            border-color: #528EAF; /* 更改滑鼠滑過的邊框顏色 */
            color: #fff; /* 更改滑鼠滑過的文字顏色 */
        }

        

      /*   #btnAccept{
            color: #528EAF
        }

            #btnAccept:hover {
                color: #fff;
        }

        #btnRefuse {
            color: #528EAF
        } */

        .badge-soft-primary {
            background-color: #528EAF;
            color: #fff;
        }

    </style>
</head>





<body>

    <div id="layout-wrapper">


        @* <div class="main-content"> *@

           @* <div class="page-content">*@
                <div class="container-fluid">
        
           
                    <!--未處理 已錄取 未錄取 任務類型 關鍵字-->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                 @using (Html.BeginForm())
                        {                       
                                <div class="card-header">
                                    <div class="row">
                                        <div class="card-body col-6">
                                        @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
                                        @{
                                            string userDataJson = HttpContextAccessor.HttpContext.Session.GetString(CDictionary.SK_LOGINED_USER);
                                            CLoginUser loggedInUser = JsonSerializer.Deserialize<CLoginUser>(userDataJson); //loggedInUser的資料型態為MemberAccount這個資料表                                                                                   // 现在 loggedInUser 对象包含了从会话中取出的用户信息
                                            int id = loggedInUser.AccountId; //抓登入者的id

                                            NewIspanProjectContext _contexta = new NewIspanProjectContext();
                                            int accountId = id; // 替換為實際的帳號ID，這裡假設帳號ID是123

                                            var count21 = _contexta.ApplicationLists.Count(a => a.CaseStatusId == 21 && a.Resume.AccountId != id );
                                            var count1 = _contexta.ApplicationLists.Count(a => a.CaseStatusId == 1 && a.Resume.AccountId != id );
                                            var count2 = _contexta.ApplicationLists.Count(a => a.CaseStatusId == 2 && a.Resume.AccountId != id );


                                            <!--未處理 已錄取 未錄取 tab-->
                                            <ul class="nav nav-tabs nav-tabs-custom nav-justified" role="tablist">
                                                <li class="nav-item" onclick="showAllResume();">
                                                <a class="nav-link active" data-bs-toggle="tab" href="#tabAllResume" role="tab" style="color:white ; background-color:#528EAF ; font-size:20px;" id="tabAll">
                                                        @*<span class="d-block d-sm-none"><i class="fas fa-home"></i></span>*@
                                                        <span class="d-none d-sm-block">未處理(@count21)</span>
                                                    </a>
                                                </li>
                                                <li class="nav-item" onclick="showAccept();">
                                                <a class="nav-link" data-bs-toggle="tab" href="#tabAccept" role="tab" style="color:#528EAF" id="tabAccept">
                                                        <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                                                        <span class="d-none d-sm-block">已錄取(@count1)</span>
                                                    </a>
                                                </li>
                                                <li class="nav-item" onclick="showRefuse();">
                                                <a class="nav-link" data-bs-toggle="tab" href="#tabRefuse" role="tab" style="color:#528EAF" id="tabRefuse">
                                                        <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                                                        <span class="d-none d-sm-block">未錄取(@count2)</span>
                                                    </a>
                                                </li>
                                            </ul>                                      

                                            }
                                            </div>
             
                                            <!--選擇任務類型  未處理的標籤-->

                                    <div class="col-3 mb-3">
                                        <form class="app-search d-none d-lg-block">                                        
                                                    @{
                                                        NewIspanProjectContext _context1 = new NewIspanProjectContext();
                                                        var q = from p in _context1.TaskNameLists
                                                                select p.TaskName;
                                                    }

                                            <select class="form-select" id="selAll">
                                                        <option value="">請選擇任務類型</option>
                                                        @foreach (var item in q)
                                                        {
                                                            <option name="category">@item</option>
                                                        }
                                                    </select>
                                           @*     </form>*@
                                      @*      </div>*@

                                            <!--選擇任務類型  已錄取的標籤-->
                               @*     <div class="col-3 mb-3">*@
                                            @*   <form class="app-search d-none d-lg-block">*@
                                                    @{
                                                        NewIspanProjectContext _context2 = new NewIspanProjectContext();
                                                        var q2 = from p in _context2.TaskNameLists
                                                                select p.TaskName;
                                                    }

                                            <select class="form-select" id="selAccept" style="display:none">
                                                        <option value="">請選擇任務類型</option>
                                                        @foreach (var item in q2)
                                                        {
                                                            <option name="category">@item</option>
                                                        }
                                                    </select>
                                           @*     </form>*@
                                      @*      </div>*@

                                             <!--選擇任務類型  已婉拒的標籤-->
                        @*            <div class="col-3 mb-3" >*@
                                              @*  <form class="app-search d-none d-lg-block">*@
                                                    @{
                                                        NewIspanProjectContext _context3 = new NewIspanProjectContext();
                                                        var q3 = from p in _context3.TaskNameLists
                                                                select p.TaskName;
                                                    }

                                            <select class="form-select" id="selRefuse" style="display:none">
                                                <option value="">請選擇任務類型</option>
                                                        @foreach (var item in q3)
                                                        {
                                                    <option name="category">@item</option>
                                                        }
                                                    </select>
                                       
                                                  </form>
                                           </div>
                                  

                                        <!-- App Search--> 

                                        <!--未處理   關鍵字搜尋-->
                                       <div class="col-3" id="KeywordAllResume">
                                            <form class="app-search d-none d-lg-block">
                                                <div class="position-relative">
                                                <input type="text" class="form-control" placeholder="請輸入關鍵字" name="txtKeyword" id="txtKeywordAllResume">
                                                <button class="btn btn-primary" type="button" style="background-color:#528EAF ;" id="btnSearchAllResume"><i class="bx bx-search-alt align-middle"></i></button>
                                                </div>
                                            </form>
                                        </div>

                                    <!--已錄取   關鍵字搜尋-->
                                    <div class="col-3" id="KeywordAccept" style="display:none">
                                        <form class="app-search d-none d-lg-block">
                                            <div class="position-relative">
                                                <input type="text" class="form-control" placeholder="請輸入關鍵字" name="txtKeyword" id="txtKeywordAccept">
                                                <button class="btn btn-primary" type="button" style="background-color:#528EAF" id="btnSearchAccept"><i class="bx bx-search-alt align-middle"></i></button>
                                            </div>
                                        </form>
                                    </div>

                                    <!--已婉拒   關鍵字搜尋-->
                                    <div class="col-3" id="KeywordRefuse" style="display:none">
                                <form class="app-search d-none d-lg-block">
                                    <div class="position-relative">
                                                <input type="text" class="form-control" placeholder="請輸入關鍵字" name="txtKeyword" id="txtKeywordRefuse">
                                                <button class="btn btn-primary" type="button" style="background-color:#528EAF" id="btnSearchRefuse"><i class="bx bx-search-alt align-middle"></i></button>
                                    </div>
                                </form>
                            </div>


                                   </div>
                               </div>
                             }
                                    
                                    
                                    <!--正在用的舊表格-->
                                <!--未處理-->
                                   <div class="card-body" id="AllResume">
                                </div>


                            <!--已錄取-->
                                <div class="card-body" style="display:none" id="Accept">                                    
                                </div>


                            <!--已婉拒-->
                                <div class="card-body" style="display:none" id="Refuse">                            
                                </div>

                                <script>
                                    function showAllResume() {
                                        //先取得要操作的標籤，表格
                                        let AllResume = document.querySelector("#AllResume");
                                        let Accept = document.querySelector("#Accept");
                                        let Refuse = document.querySelector("#Refuse");

                                        //先取得要操作的標籤，select
                                        let selAll=document.querySelector("#selAll");
                                        let selAccept=document.querySelector("#selAccept");
                                        let selRefuse=document.querySelector("#selRefuse");                          

                                        //先取得要操作的標籤，txtKeyword
                                let KeywordAllResume = document.querySelector("#KeywordAllResume");
                                let KeywordAccept = document.querySelector("#KeywordAccept");
                                let KeywordRefuse = document.querySelector("#KeywordRefuse");

                                //未處理、已錄取、已婉拒的tab
                                const tabAll = document.querySelector('#tabAll');
                                const tabAccept = document.querySelector('#tabAccept');
                                const tabRefuse = document.querySelector('#tabRefuse');


                                //再對標籤做操作，表格
                                        AllResume.style.display = "block";
                                        Accept.style.display = "none";
                                        Refuse.style.display = "none";

                                        //再對標籤做操作，select
                                        selAll.style.display = "block";
                                        selAccept.style.display = "none";
                                        selRefuse.style.display = "none";

                                        //再對標籤做操作，txtKeyword
                                        KeywordAllResume.style.display = "block";
                                        KeywordAccept.style.display = "none";
                                        KeywordRefuse.style.display = "none";

                                //再對標籤做操作，tab
                                tabAll.style.color = 'white';
                                tabAll.style.backgroundColor = '#528EAF';
                                tabAll.style.fontSize = '20px';

                                tabAccept.style.color = '#528EAF'; // 將已錄取標籤的顏色還原
                                tabAccept.style.backgroundColor = '';
                                tabAccept.style.fontSize = '16px';

                                tabRefuse.style.color = '#528EAF'; // 將已錄取標籤的顏色還原
                                tabRefuse.style.backgroundColor = '';
                                tabRefuse.style.fontSize = '16px';

                                    }

                                    function showAccept() {
                                        //先取得要操作的標籤
                                        let AllResume = document.querySelector("#AllResume");
                                        let Accept = document.querySelector("#Accept");
                                        let Refuse = document.querySelector("#Refuse");

                                         //先取得要操作的標籤，select
                                        let selAll=document.querySelector("#selAll");
                                        let selAccept=document.querySelector("#selAccept");
                                        let selRefuse=document.querySelector("#selRefuse");

                                        //先取得要操作的標籤，txtKeyword
                                let KeywordAllResume = document.querySelector("#KeywordAllResume");
                                let KeywordAccept = document.querySelector("#KeywordAccept");
                                let KeywordRefuse = document.querySelector("#KeywordRefuse");

                                      //未處理、已錄取、已婉拒的tab
                                const tabAll = document.querySelector('#tabAll');
                                const tabAccept = document.querySelector('#tabAccept');
                                const tabRefuse = document.querySelector('#tabRefuse');                                

                                        //再對標籤做操作，表格
                                        AllResume.style.display = "none";
                                        Accept.style.display = "block";
                                        Refuse.style.display = "none";

                                        //再對標籤做操作，select
                                        selAll.style.display = "none";
                                        selAccept.style.display = "block";
                                        selRefuse.style.display = "none";

                                        //再對標籤做操作，txtKeyword
                                        KeywordAllResume.style.display = "none";
                                        KeywordAccept.style.display = "block";
                                        KeywordRefuse.style.display = "none";

                                //再對標籤做操作，tab
                                tabAccept.style.color = 'white';
                                tabAccept.style.backgroundColor = '#528EAF';
                                tabAccept.style.fontSize = '20px';

                                tabAll.style.color = '#528EAF'; // 將已錄取標籤的顏色還原
                                tabAll.style.backgroundColor = '';
                                tabAll.style.fontSize = '16px';

                                tabRefuse.style.color = '#528EAF'; // 將已錄取標籤的顏色還原
                                tabRefuse.style.backgroundColor = '';
                                tabRefuse.style.fontSize = '16px';

                                    }

                                    function showRefuse() {
                                        //先取得要操作的標籤
                                        let AllResume = document.querySelector("#AllResume");
                                        let Accept = document.querySelector("#Accept");
                                        let Refuse = document.querySelector("#Refuse");

                                         //先取得要操作的標籤，select
                                        let selAll=document.querySelector("#selAll");
                                        let selAccept=document.querySelector("#selAccept");
                                        let selRefuse=document.querySelector("#selRefuse");

                                        //先取得要操作的標籤，txtKeyword
                                let KeywordAllResume = document.querySelector("#KeywordAllResume");
                                let KeywordAccept = document.querySelector("#KeywordAccept");
                                let KeywordRefuse = document.querySelector("#KeywordRefuse");

                                //未處理、已錄取、已婉拒的tab
                                const tabAll = document.querySelector('#tabAll');
                                const tabAccept = document.querySelector('#tabAccept');
                                const tabRefuse = document.querySelector('#tabRefuse');

                                //再對標籤做操作，表格
                                        AllResume.style.display = "none";
                                        Accept.style.display = "none";
                                        Refuse.style.display = "block";

                                        //再對標籤做操作，select
                                        selAll.style.display = "none";
                                        selAccept.style.display = "none";
                                        selRefuse.style.display = "block";

                                        //再對標籤做操作，txtKeyword
                                        KeywordAllResume.style.display = "none";
                                        KeywordAccept.style.display = "none";
                                        KeywordRefuse.style.display = "block";

                                //再對標籤做操作，tab
                                tabRefuse.style.color = 'white';
                                tabRefuse.style.backgroundColor = '#528EAF';
                                tabRefuse.style.fontSize = '20px';

                                tabAll.style.color = '#528EAF'; // 將已錄取標籤的顏色還原
                                tabAll.style.backgroundColor = '';
                                tabAll.style.fontSize = '16px';

                                tabAccept.style.color = '#528EAF'; // 將已錄取標籤的顏色還原
                                tabAccept.style.backgroundColor = '';
                                tabAccept.style.fontSize = '16px';

                               }

                                </script>

                            </div>
                        </div> 
                    </div>
    </div>
            <!-- container-fluid -->
                @*</div> *@
            </div>
     

  


    @section Scripts{
        <script>

            //未處理的表格
            $('#selAll').change(function () {
                var selectedCategory = $(this).val();  // 獲取選擇的任務類型
                $.ajax({
                    url: '@Url.Action("ApproveAllResumePartialView", "BackstageTask")',  // 替換為你的 Controller 名稱
                    type: 'GET',
                    data: { category: selectedCategory },  // 傳遞選擇的任務類型
                    success: function (data) {
                        $('#AllResume').html(data);  // 將部分視圖內容插入到指定容器中

                        //DataTables
                        $('#selAllTable').DataTable({
                            language: {
                                url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/zh-HANT.json',
                            },
                        });
                    }
                });
            });

            $(document).ready(function () {
                // $('#selAll').change(function () {
                var selectedCategory = $(this).val();  // 獲取選擇的任務類型
                $.ajax({
                   url: '@Url.Action("ApproveAllResumePartialView", "BackstageTask")',  // 替換為你的 Controller 名稱
                    type: 'GET',
                    data: { category: selectedCategory },  // 傳遞選擇的任務類型
                    success: function (data) {
                            $('#AllResume').html(data);  // 將部分視圖內容插入到指定容器中

                            //DataTables
                            $('#selAllTable').DataTable({
                                language: {
                                    url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/zh-HANT.json',
                                },
                            });
                    }
                });
            // });
        });

            //未處理的keyword和search
            const txtKeywordAllResume = document.querySelector('#txtKeywordAllResume');
            const btnSearchAllResume = document.querySelector('#btnSearchAllResume');

            txtKeywordAllResume.addEventListener('input', () => {
                const xhr = new XMLHttpRequest();
                xhr.open('POST', '@Url.Content("~/BackstageTask/ApproveAllResumePartialView")');
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.send(`txtKeyword=${txtKeywordAllResume.value}&category=${selAll.value}`);
                xhr.addEventListener('load', () => {
                    const AllResume = document.querySelector('#AllResume')
                    AllResume.innerHTML = xhr.responseText;
                })
            })



            //已錄取的表格
            $('#selAccept').change(function () {
                var selectedCategory = $(this).val();  // 獲取選擇的任務類型
                $.ajax({
                    url: '@Url.Action("ApproveAcceptPartialView", "BackstageTask")',  // 替換為你的 Controller 名稱
                    type: 'GET',
                    data: { category: selectedCategory },  // 傳遞選擇的任務類型
                    success: function (data) {
                        $('#Accept').html(data);  // 將部分視圖內容插入到指定容器中

                        //DataTables
                        $('#selAcceptTable').DataTable({
                            language: {
                                url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/zh-HANT.json',
                            },
                        });
                    }
                });
            });

            $(document).ready(function () {
             // $('#selAccept').change(function () {
                var selectedCategory = $(this).val();  // 獲取選擇的任務類型
                $.ajax({
                    url: '@Url.Action("ApproveAcceptPartialView", "BackstageTask")',  // 替換為你的 Controller 名稱
                    type: 'GET',
                    data: { category: selectedCategory },  // 傳遞選擇的任務類型
                    success: function (data) {
                            $('#Accept').html(data);  // 將部分視圖內容插入到指定容器中

                            //DataTables
                            $('#selAcceptTable').DataTable({
                                language: {
                                    url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/zh-HANT.json',
                                },
                            });
                    }
                });
            // });
        });


            //已婉拒的表格
            $('#selRefuse').change(function () {
                var selectedCategory = $(this).val();  // 獲取選擇的任務類型
                $.ajax({
                    url: '@Url.Action("ApproveRefusePartialView", "BackstageTask")',  // 替換為你的 Controller 名稱
                    type: 'GET',
                    data: { category: selectedCategory },  // 傳遞選擇的任務類型
                    success: function (data) {
                        $('#Refuse').html(data);  // 將部分視圖內容插入到指定容器中

                        //DataTables
                        $('#selRefuseTable').DataTable({
                            language: {
                                url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/zh-HANT.json',
                            },
                        });
                    }
                });
            });

            $(document).ready(function () {
                // $('#selRefuse').change(function () {
                    var selectedCategory = $(this).val();  // 獲取選擇的任務類型
                    $.ajax({
                        url: '@Url.Action("ApproveRefusePartialView", "BackstageTask")',  // 替換為你的 Controller 名稱
                        type: 'GET',
                        data: { category: selectedCategory },  // 傳遞選擇的任務類型
                        success: function (data) {
                            $('#Refuse').html(data);  // 將部分視圖內容插入到指定容器中

                            //DataTables
                            $('#selRefuseTable').DataTable({
                                language: {
                                    url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/zh-HANT.json',
                                },
                            });
                        }
                    });
                // });
            });

        </script>
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>



    <!--Approve js-->
    <!--JAVASCRIPT-- >
       <script src="~/backstage1/static/js/jquery.min.js" ></script>
       <script src="~/backstage1/static/js/bootstrap.bundle.min.js"></script>
       <script src="~/backstage1/static/js/metisMenu.min.js"></script>
       <script src="~/backstage1/static/js/simplebar.min.js"></script>
       <script src="~/backstage1/static/js/waves.min.js"></script>
       <script src="~/backstage1/static/js/feather.min.js"></script>

       <!-- Required datatable js -->
    <script src="~/backstage1/static/js/jquery.dataTables.min.js"></script>

    <!-- Responsive examples -->
    <script src="~/backstage1/static/js/dataTables.responsive.min.js"></script>
    <script src="~/backstage1/static/js/responsive.bootstrap4.min.js"></script>

    <!-- init js show 10 頁   previous next -->
    <script src="~/backstage1/static/js/datatable-pages.init.js"></script>
    <script src="~/backstage1/static/js/dataTables.bootstrap4.min.js"></script>


    <!-- Table Editable plugin -->
    <script src="~/backstage1/static/js/table-edits.min.js"></script>

    <script src="~/backstage1/static/js/table-editable.int.js"></script>

    <script src="~/backstage1/static/js/app.js"></script>

    <!-- JobdetailBackstage js -->
    <!-- glightbox js -->
    <script src="~/backstage1/static/js/glightbox.min.js"></script>

    <!-- lightbox init -->
    <script src="~/backstage1/static/js/lightbox.init.js"></script>
   
</body>

</html>
   
@section subTitle{


    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">會員專區</li>
            <li class="breadcrumb-item">找人才</li>
            <li class="breadcrumb-item " aria-current="page">錄取紀錄</li>
        </ol>
    </nav>
}