@model IEnumerable<prjCoreWebWantWant.Models.TaskList>


<head>

    <link href="~/backstage1/static/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">

    <!-- preloader css -->
    <link rel="stylesheet" href="~/backstage1/static/css/preloader.min.css" type="text/css">

    <!-- Bootstrap Css -->
    @* <link href="~/backstage1/static/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css"> *@

    <!-- Icons Css -->
    <link href="~/backstage1/static/css/icons.min.css" rel="stylesheet" type="text/css">

    <!-- App Css-->
   <link href="~/backstage1/static/css/app.min.css" id="app-style" rel="stylesheet" type="text/css">

    <!-- JobdetailBackstage css -->
    <!-- glightbox css -->
   <link rel="stylesheet" href="~/backstage1/static/css/glightbox.min.css">

    <style>

     .table-hover tbody tr:hover {
            background-color: #f5f5f5; /* 或者你想要的其他背景顏色 */
        }

        .btn-outline-secondary:hover {
            background-color: #528EAF; /* 更改滑鼠滑過的背景顏色 */
            border-color: #528EAF; /* 更改滑鼠滑過的邊框顏色 */
            color: #fff; /* 更改滑鼠滑過的文字顏色 */
        }

        .btn-outline-info {
            border-color: #528EAF; /* 更改滑鼠滑過的邊框顏色 */
            color: #528EAF; /* 更改滑鼠滑過的文字顏色 */
        }
      
    </style>
</head>


<body>
    <div class="table-responsive mb-4" id="publishedTasks">
    <table class="table table-hover table align-middle datatable dt-responsive table-check nowrap" style="border-collapse: collapse; border-spacing: 0 8px; width: 100%;"> 
        
        <thead>
            <tr>
                <th style="width: 30px;">序號</th>
                <th style="width: 150px;">任務名稱</th>
                <th style="width: 150px;">任務內容</th>
                <th style="width: 100px;">任務日期</th>
                <th style="width: 50px;">詳細內容</th>
                <th style="width: 50px;">下架任務</th>
                <th style="width: 50px;">修改</th>
            </tr>
        </thead>

        <tbody>

            @{
                int count = 0;
                               
                foreach (var item in Model)
                    {
                    int maxDisplayLength = 10; // 設定要顯示的最大字數
                    string taskDetail = item.TaskDetail;

                        if (taskDetail !=null && taskDetail.Length > maxDisplayLength)
                    {
                        taskDetail = taskDetail.Substring(0, maxDisplayLength) + " ..."; // 截斷字串
                    }

                    count++;
                    <tr data-id="1">
                        <td data-field="id" style="width: 80px">@count</td>
                        <td data-field="name">@Html.DisplayFor(modelItem => item.TaskTitle)</td>
                        <td data-field="age">@Html.DisplayFor(modelItem => taskDetail)</td>
                        <td data-field="gender">@Html.DisplayFor(modelItem => item.TaskStartDate)</td>
                        <td>
                        <a href="@Url.Content("~/BackstageTask/JobDetail")?id=@item.CaseId">
                                    <img src="~/backstage1/img/magnifying.png" alt="查看" style="height: 25px; width: 25px;">
                        </a>
                        </td>
                        @*<td>@Html.ActionLink("下架", "NoPublish","BackstageTask", new {id=item.CaseId}, new { @class ="btn btn-outline-secondary" ,style="color:#528EAF"})</td>*@
                            <td>
                                <a href="@Url.Action("NoPublish", "BackstageTask", new { id = item.CaseId })">
                                    <img src="~/backstage1/img/switch-off.png" alt="下架" style="height: 38px; width: 38px;">
                                </a>
                            </td>

                      <td style="width: 100px">
                           @* 舊的<a class="btn btn-outline-secondary btn-sm edit" title="Edit" href="@Url.Content("~/backstagetask/Edit")" id="jobdetail">*@
                          @* @Html.ActionLink("修改","Edit",new {id = item.CaseId})*@
                                @*<a class="btn btn-outline-secondary btn-sm edit" title="Edit" href="#" data-bs-toggle="modal" data-bs-target="#myModal_@item.CaseId">*@
                                  @*  <i class="fas fa-pencil-alt"></i>
                            </a>  舊的*@                         
                              
                                <a href="@Url.Content("~/BackstageTask/Edit")?id=@item.CaseId">
                                    @*<i class="fas fa-pencil-alt"></i>*@
                                 <img src="~/backstage1/img/edit.png" alt="修改" style="height: 25px; width: 25px;">
                               </a>     



                        </td>
                    </tr>

                        <div class="modal" tabindex="-1" id="myModal_@item.CaseId" style="display:none">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">修改任務內容</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        <input type="hidden" id="modalCaseId" value="@item.CaseId" />
                                    </div>
                                    <div class="modal-body">
                                        @*修改任務內容*@
                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="exampleFormControlInput1" class="form-label">任務標題</label>
                                                <input type="text" class="form-control" id="TaskTitle" value="@Html.DisplayFor(modelItem => item.TaskTitle)">
                                            </div>
                                            <p class="card-text">
                                                <div class="mb-3">
                                                    <label for="exampleFormControlTextarea1" class="form-label">任務內容</label>
                                                    <textarea class="form-control" id="TaskDetail" rows="3">@Html.DisplayFor(modelItem => item.TaskDetail)</textarea>
                                                </div>

                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                                                    <label class="form-check-label" for="flexCheckDefault">
                                                        下架此任務
                                                    </label>
                                                </div>

                                            </p>

                                            <div class="card-footer text-center">
                                                <form action="@Url.Content("~/BackstageTask/TablesEditable")" method="post" style="justify-content: center ; align-items: center ">
                                                    <input onclick="Alert()"
                                                           id="saveBtn"
                                                           class="btn btn-primary"
                                                           style="background-color: #528EAF"
                                                           type="submit"
                                                           value="送出"
                                                           a href="@Url.Content("~/BackstageTask/UpdateTask")" />
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                }
            }
        </tbody>

    </table>
</div>


    

@*</div>*@

 
<!--JAVASCRIPT-- >
   <script src="~/backstage1/static/js/jquery.min.js" ></script>
   <script src="~/backstage1/static/js/bootstrap.bundle.min.js"></script>
   <script src="~/backstage1/static/js/metisMenu.min.js"></script>
   <script src="~/backstage1/static/js/simplebar.min.js"></script>
   <script src="~/backstage1/static/js/waves.min.js"></script>
   <script src="~/backstage1/static/js/feather.min.js"></script>



   <!-- Required datatable js -->
<script src="~/backstage1/static/js/jquery.dataTables.min.js"></script>

<!-- Responsive examples -->
<script src="~/backstage1/static/js/dataTables.responsive.min.js"></script>
<script src="~/backstage1/static/js/responsive.bootstrap4.min.js"></script>

<!-- init js show 10 頁   previous next -->
<script src="~/backstage1/static/js/datatable-pages.init.js"></script>
<script src="~/backstage1/static/js/dataTables.bootstrap4.min.js"></script>


<!-- Table Editable plugin -->
<script src="~/backstage1/static/js/table-edits.min.js"></script>
<script src="~/backstage1/static/js/table-editable.int.js"></script>
<script src="~/backstage1/static/js/app.js"></script>

<!-- JobdetailBackstage js -->
<!-- glightbox js -->
<script src="~/backstage1/static/js/glightbox.min.js"></script>

<!-- lightbox init -->
<script src="~/backstage1/static/js/lightbox.init.js"></script>

</body>


@section Scripts{

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/SweetAlert.js"></script>

    <script>
       
        const publish = document.querySelector('#publish');
        const Nopublish = document.querySelector('#Nopublish');

        function showPublish() {
            publish.style.color = 'White';
            publish.style.backgroundColor = '#528EAF';
            Nopublish.style.color = '#528EAF';
            Nopublish.backgroundColor = '';// 將未上架標籤的顏色還原
        }

        function showNoPublish() {
            publish.style.color = '#528EAF';
            publish.backgroundColor = '';// 將已上架標籤的顏色還原
            Nopublish.style.color = 'White';
            Nopublish.style.backgroundColor = '#528EAF';
        }


</script>

}