@{
    ViewData["Title"] = "Card";
    Layout = "~/Views/Shared/_LayoutForBackstage.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">後台首頁</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <div class="container">
      @*  第一列*@
        <div class="row">
            <!-- 較小的卡片，總共4個 -->
            <div class="col-lg-3">
                <div class="card mb-3" style="border-left: 4px solid cadetblue;">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="avatar flex-shrink-0">
                                <i style="font-size:30px" class='bx bxs-user'></i>
                              
                            </div>
                            <div class="ms-3">

                                <h5 class="card-title" style="font-weight: bold;">會員總數</h5>
                                <p  class="card-text">@ViewBag.MemberCount 人</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card mb-3" style="border-left: 4px solid cadetblue;">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="avatar flex-shrink-0">
                                <i style="font-size:30px; color:#e86e07" class='bx bx-task'></i>          
                            </div>
                            <div class="ms-3">
                                <h5 class="card-title" style="font-weight: bold;">上架中的任務案件數</h5>
                                <p class="card-text">@ViewBag.TaskCount 件</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card mb-3" style="border-left: 4px solid cadetblue;">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="avatar flex-shrink-0">
                                <i style="font-size:40px; color:saddlebrown" class='bx bxs-user-check'></i>
                               
                            </div>
                            <div class="ms-3">
                                <h5 class="card-title" style="font-weight: bold;">專家數</h5>
                                <p class="card-text">@ViewBag.ExpertCount 人</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card mb-3" style="border-left: 4px solid cadetblue;">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="avatar flex-shrink-0">
                                <i style="font-size:30px; color:royalblue" class='bx bxs-message-square-dots'></i>
                                
                            </div>
                            <div class="ms-3">
                                <h5 class="card-title" style="font-weight: bold;">討論版文章數</h5>
                                <p class="card-text">@ViewBag.ForumCount 筆</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*  第二列*@
        <div class="row">
            <!-- 較小的卡片，總共4個 -->
            <div class="col-lg-3">
                <div class="card mb-3" style="border-left: 4px solid cadetblue;">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="avatar flex-shrink-0">
                                <i style="font-size:30px; color:cadetblue" class='bx bxs-purchase-tag'></i>
                                               </div>
                            <div class="ms-3">
                                <h5 class="card-title" style="font-weight: bold;">訂單數量</h5>
                                <p id="orderCount" class="card-text">@ViewBag.OrderCount 筆</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                 <div class="col-lg-3">
                <div class="card mb-3" style="border-left: 4px solid cadetblue;">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="avatar flex-shrink-0">
                                <i style="font-size:30px; color :gold " class='bx bx-dollar'></i>
                            </div>
                            <div class="ms-3">
                                <h5 class="card-title" style="font-weight: bold;">訂單總金額</h5>
                                <p id="totalAmount" class="card-text">$@string.Format("{0:N0}", ViewBag.TotalAmount)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card mb-3" style="border-left: 4px solid cadetblue;">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="avatar flex-shrink-0">
                                <i style="font-size:30px; color:firebrick" class='bx bxs-shopping-bag-alt'></i>
                            </div>
                            <div class="ms-3">
                                <h5 class="card-title" style="font-weight: bold;">上架中的商品數</h5>
                                <p class="card-text">@ViewBag.ProductCount 個</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card mb-3" style="border-left: 4px solid cadetblue;">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="avatar flex-shrink-0">
                                <i style="font-size:30px; color:darkcyan" class='bx bx-line-chart'></i>
                               
                            </div>
                            <div class="ms-3">
                                <h5 class="card-title" style="font-weight: bold;">年營收成長率</h5>
                                <p class="card-text">102%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 重複較小的卡片，總共3個 -->
        </div>
    </div>
    <hr />
</div> <!-- /.content-wrapper -->

@section Styles
{
    <!--box icons-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
        /* 添加悬停效果 */
        .card:hover {
            transform: translateY(-5px); /* 上移5像素 */
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* 添加阴影效果 */
        }

        .card-text {
        font-weight:bold;
        }
    </style>

}