@model IEnumerable<prjCoreWebWantWant.Models.Order>


@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_LayoutForBackstage.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">訂單管理</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="container mt-4">

        <div class="d-flex justify-content-center">
            <div class="card me-3" style="width: 15rem; border-left: 4px solid cadetblue;">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="avatar flex-shrink-0">
                            <i style="font-size:30px; color:cadetblue" class='bx bxs-purchase-tag'></i>
                        </div>
                        <div class="ms-3">
                            <h5 class="card-title" style="font-weight: bold;">訂單數量</h5>
                            <p id="orderCount" class="card-text">@ViewBag.OrderCount 筆</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card me-3" style="width: 15rem; border-left: 4px solid cadetblue;">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="avatar flex-shrink-0">
                            <i style="font-size:30px; color :gold  " class='bx bx-dollar'></i>
                        </div>
                        <div class="ms-3">
                            <h5 class="card-title" style="font-weight: bold;">訂單金額</h5>
                            <p id="totalAmount" class="card-text">$@string.Format("{0:N0}", ViewBag.TotalAmount)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <form id="searchForm" method="get" enctype="multipart/form-data">

            <div class="row align-items-center">

            
                <div class="col-md-2">
                    <label for="productName">訂單編號：</label>
                    <input class="form-control form-control-sm" type="text" id="orderId">
                </div>
                <div class="col-md-2">
                    <label for="productName">會員名稱：</label>
                    <input class="form-control form-control-sm" type="text" id="name">
                </div>
                <div class="col-md-2">
                    <label for="productName">訂單類別：</label>
                    <select name="category" id="category" class="form-control">
                        <option value="">請選擇</option>
                        <option value="1">專家曝光</option>
                        <option value="2">任務曝光</option>
                    </select>

                </div>
                <div class="col-md-4">
                    <label for="createdDate">訂單日期：</label>
                    <div class="d-flex align-items-center">
                        <input type="date" class="form-control" name="startDate" id="startDate">
                        <span class="mx-2">~</span>
                        <input type="date" class="form-control" name="endDate" id="endDate">
                    </div>
                </div>
                <div class="col-md-2">
                    <label for="purchaseTime">訂單時間升/降冪：</label>
                    <select name="purchaseTime" id="purchaseTime" class="form-control">
                        <option value="">請選擇</option>
                        <option value="asc">升冪</option>
                        <option value="desc">降冪</option>
                    </select>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary" id="searchButton">查詢</button>
                    <button type="reset" class="btn btn btn-secondary">清除</button>
                    <button type="button" class="btn btn btn-danger" id="exportButton">匯出訂單</button>
                    <button type="button" class="btn btn btn-warning" id="exportDetails">匯出訂單明細</button>
                    <a asp-action="ShoppingCharts" class="btn btn-success">訂單分析圖表</a>

                </div>

            </div>
        </form>

        <table id="table" class="table table-striped mt-5">
            <thead align="center">

                <tr>
                    <th></th>
                    <th>訂單編號</th>
                    <th>訂單類別</th>
                    <th>案件</th>
                    <th>購買時間</th>
                    <th>會員</th>
                    <th>付款狀態</th>
                    <th>商品金額</th>
                    <th>使用紅利</th>
                    <th>訂單金額</th>


                </tr>
            </thead>
            <tbody align="center">


                @foreach (var order in Model)
                {

                    <tr>
                        <td>
                            <a data-bs-toggle="collapse" data-bs-target="#orderDetails@(order.OrderId)" class="accordion-toggle">
                                <i class="bx bxs-show"></i>
                            </a>
                        </td>
                        <td>@order.OrderId</td>
                        <td>@order.Category.CategoryName</td>
                        <td>
                            @if (order.OrderDetails.Any())
                            {
                                var firstOrderDetail = order.OrderDetails.First();
                                @if (firstOrderDetail.CaseId != null)
                                {
                                    <span>@firstOrderDetail.Case.TaskTitle</span>
                                }
                                else if (firstOrderDetail.ResumeId != null)
                                {
                                    <span>@firstOrderDetail.Resume.ResumeTitle</span>
                                }
                            }
                        </td>

                        <td>@order.CreateTime</td>
                        <td>@order.Account.Name</td>
                        <td>@order.Status</td>
                        <td>@order.OrderPrice 元</td>
                        <td>@order.OrderUsePoint 點</td>
                        <td>@order.PaidAmount 元</td>
                    </tr>
                    <!-- 可展開/收起的內容 -->
                    <tr>
                        <td colspan="12" class="hiddenRow">
                            <div class="collapse" id="orderDetails@(order.OrderId)" data-bs-parent="#table">
                                <!-- 在這裡填入訂單明細內容 -->
                                <table class="table table-bordered" id="table3">
                                    <thead class="table-dark">
                                        <tr>
                                            <th></th>
                                            <th>商品名稱</th>
                                            <th>數量</th>
                                            <th>單價</th>
                                            <th>小計</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var detail in order.OrderDetails)
                                        {
                                            <tr>
                                                <td><img src="@Url.Content("~/shopimg/")@detail.Product.CoverPhoto" width="60" height="60" /></td>
                                                <td>@detail.Product.ProductName</td>
                                                <td>@detail.Quantity</td>
                                                <td>@detail.UnitPrice 元</td>
                                                <td>@(detail.UnitPrice * detail.Quantity) 元</td>

                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>

    </div>


</div> <!-- /.content-wrapper -->
@section Styles
    {
    <!--box icons-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
        .card.me-3:hover {
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            /* 添加陰影效果 */
            transform: scale(1.05);
            /* 略微放大 */
        }
        /* 將外層容器設置為相對定位 */
        .header-container {
            position: relative;
        }

        .bx.bxs-show {
            font-size: 1.5rem;
        }

        #table td {
            text-align: center;
            vertical-align: middle
        }

    </style>
}
@section Scripts
    {
    <script>
        $(document).ready(function () {
            $('#searchForm').submit(function (e) {
                e.preventDefault();

                var category = $('#category').val();
                var startDate = $('#startDate').val();
                var endDate = $('#endDate').val();
                var orderId = $('#orderId').val();
                var name = $('#name').val();
                var purchaseTime = $('#purchaseTime').val(); // 获取升/降冪的值

                $.ajax({
                    url: '@Url.Action("List", "Order")',
                    type: 'GET',
                    data: {
                        categorys: category,
                        startDate: startDate,
                        endDate: endDate,
                        orderId: orderId,
                        name: name,
                        purchaseTime: purchaseTime // 将排序方式传递到服务器端
                    },
                    success: function (result) {
                        $('#table tbody').html($(result).find('#table tbody').html());

                        // 更新訂單數量和總金額
                        var orderCount = $(result).find('#orderCount').text();
                        var totalAmount = $(result).find('#totalAmount').text();
                        $('#orderCount').text(orderCount);
                        $('#totalAmount').text(totalAmount);
                    },
                    error: function () {
                        alert('失敗。');
                    }
                });
            });
        });

        //匯出訂單
        document.getElementById('exportButton').addEventListener('click', function () {
            var rows = document.querySelectorAll('#table tbody tr:not(.hiddenRow)'); // Exclude detail rows
            var data = [['訂單編號', '訂單類別', '加值項目', '購買時間', '會員', '付款狀態', '商品金額', '使用紅利', '訂單金額']];

            rows.forEach(function (row) {
                // Check if the row contains a collapse element
                var collapseElement = row.querySelector('.collapse');
                if (collapseElement === null || collapseElement.classList.contains('show')) {
                    var rowData = [];
                    var cells = row.getElementsByTagName('td');

                    //
                    var cellCount = cells.length;
                    if (cellCount >= 10) {
                        for (var i = 1; i < 10; i++) { // 從第2列到第10列
                            var cellContent = cells[i].textContent;
                            rowData.push(cellContent ? cellContent.trim() : '');
                        }
                        data.push(rowData);
                    }
                }
            });

            // 設定當前字串時間
            var currentDate = new Date();

            // 設定台灣時間
            currentDate.setUTCHours(currentDate.getUTCHours() + 8);

            var dateTimeString = currentDate.toISOString().replace(/[-T:.Z]/g, '').substring(0, 14);


            var fileName = '訂單列表_' + dateTimeString + '.xlsx';

            var wb = XLSX.utils.book_new();
            var ws = XLSX.utils.aoa_to_sheet(data);


            // 調整欄寬
            var wscols = [
                { wch: 15 },
                { wch: 15 },
                { wch: 20 },
                { wch: 20 },
                { wch: 15 },
                { wch: 15 },
                { wch: 15 }
            ];

            ws['!cols'] = wscols;

            XLSX.utils.book_append_sheet(wb, ws, 'Orders');
            XLSX.writeFile(wb, fileName);
        });

        // 匯出訂單明細
        $('#exportDetails').click(function () {
            // 1. 抓畫面上篩選條件的值
            var categorys = $('#category').val();
            var startDate = $('#startDate').val();
            var endDate = $('#endDate').val();
            var orderId = $('#orderId').val();
            var name = $('#name').val();
            var purchaseTime = $('#purchaseTime').val();

            // 2. 這些值作為參數傳遞到後端
            var url = '@Url.Action("exportExcel", "Order")' +
                '?categorys=' + categorys +
                '&startDate=' + startDate +
                '&endDate=' + endDate +
                '&orderId=' + orderId +
                '&name=' + name +
                '&purchaseTime=' + purchaseTime;

            window.location.href = url;
        });

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.2/xlsx.full.min.js"></script>

    }