@model prjCoreWantMember.ViewModels.CExpertInfoViewModel

@{
    ViewData["Title"] = "Details";
    var money =(int) Model.expertResume.CommonPrice;
    string modelmoney = money.ToString("#,###");
}
@section subTitle{


    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">找專家</li>
            <li class="breadcrumb-item " aria-current="page">專家履歷</li>
        </ol>
    </nav>
}

<body class="bg-white">
    

        <div class="container container-fluid">
           
          <div class="row">

            <div id="title" class="d-md-flex flex-md-equal w-100 mb-md-3 ps-md-3 bg-expertdetail " style="height: 80vh;">
                    @*左側大頭貼圖片*@
                    <div class=" me-md-3 ps-3 pt-md-5 ps-md-4 text-center overflow-hidden my-3 py-3">
                    <img id="myself" src=@Url.Action("GetImage","ExpertResumes")  class="img-fluid" style="height:85%; min-height:20%">
                    </div>
                    @*右側自我介紹*@
                    <div class="bg-expertdetail me-md-3 p-3 p-md-5text-center overflow-hidden">
                        <div class="m-3 p-4 ">
                             <h2 class="display-5">@Html.DisplayFor(model =>model.memberAccount.Name)
                            <a >
                                <i class="fa-solid fa-comment-dots" style="color: #62779d;"></i>
                                <span class="lead pt-3">聯繫專家</span>
                            </a>
                             </h2>
                      
                        
                              <p id="star"></p>
                        <span class="lead pt-3">主要工作地點：</span>
                               <span class="lead me-md-3">@Html.DisplayFor(model =>model.cityName) @Html.DisplayFor(model =>model.townName)</span>
                        <p class="lead pt-3">專長:</p>
                               <p class="lead me-md-3">@Html.DisplayFor(model =>model.skillType.SkillTypeName)
                                  - @Html.DisplayFor(model =>model.skill.SkillName)</p>
                        <p class="lead pt-3">證照:</p>
                        <p class="lead me-md-3">@Html.DisplayFor(model =>model.certificatetype.CertificateTypeName)
                            - @Html.DisplayFor(model =>model.certificate.CertificateName)
                            </p>
                          <div >
                            <p class="lead pt-3">基本報價：</p>
                            <span class="lead py-3">@modelmoney  元</span>
                          </div>

                        
                        <div class=" pt-3" style="position:absolute;bottom:0px;right:120px;">
                            <span> 點閱次數：5 @Html.DisplayFor(model => model.expertResume.HistoricalViews)</span>

                        </div>
                        </div>
                       
                    </div>

                </div>


            <div id="details" class="d-md-flex flex-md-equal w-100 my-md-5 ps-md-3 bg-expertdetail ">
                <div >
                        <div class="bg-expertdetail me-md-3 p-3 p-md-5text-center overflow-hidden">
                            <div class="m-3 p-4 ">
                                <h2>詳細介紹</h2>
                        <p class="lead pt-3">介紹：</p>
                        <p class="lead pt-3 container-fluid">
                                @Html.DisplayFor(model => model.expertResume.Introduction)
                            瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜
                            瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜
                            瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜
                            瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜
                            瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜
                            瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜瓜
                        </p>

                                <span class="lead me-md-3">收費方式:</span>
                                <span class="lead">@Html.DisplayFor(model => model.expertResume.PaymentMethod)</span>
                                <p class="lead pt-3">服務內容:</p>
                                <p class="lead pt-3 container-fluid">

                                    @Html.DisplayFor(model =>model.expertResume.ServiceMethod)

                                </p>
                                <p class="lead pt-3">聯絡方式:</p>
                                <p class="lead pt-3 container-fluid">
                                    @Html.DisplayFor(model => model.expertResume.ContactMethod)
                                </p>
                                <p class="lead pt-3">相關問題：</p>
                                <p class="lead pt-3 container-fluid">
                                    @Html.DisplayFor(model => model.expertResume.Problem)
                                </p>
                                <div>
                                    <p class="lead  pt-3">相關網址：</p>
                                    <p class="lead  pt-3">@Html.DisplayFor(model => model.expertResume.WorksUrl)</p>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <!--作品集-->

            <div id="workbox" class="workbox d-md-flex flex-md-equal w-100 mb-md-3 ps-md-3 bg-expertdetail " style="height:85vh;">
            @Html.Partial("_ExpertResumesWorklistPartial")

            </div>



              
            <!-- 評論 -->


            <div id="ratinghere" class="d-md-flex flex-md-equal w-100 my-md-5 ps-md-3 bg-expertdetail " style="height:90vh">
                    <div class="bg-expertdetail me-md-3 p-3 p-md-5text-center overflow-hidden">
                        <div class="m-3 p-4 ">
                       
                                <h2>專家評論</h2>
                           

                        </div>

                    </div>
            </div>
            <div style="position:sticky;bottom:30px;right:0px">
                <!--按鈕-->
                <div class="d-flex justify-content-evenly  h-50" style="position:relative;">
                    <a class="btn btnResume btn-outline-primary bg-white fs-2" href="#details"
                       data-loading-text="Loading..." id="A"><span>詳細介紹</span></a>
                    <b class="btn btnResume btn-outline-primary bg-white fs-2" href="#workbox"
                       data-loading-text="Loading...">作品集</b>
                    <a class="btn btnResume btn-outline-primary bg-white fs-2" href="#ratinghere"
                       data-loading-text="Loading..." ><span>評價</span></a>
                    @Html.ActionLink("去委託","Create","ExpertTask",null/* new { id=Model.resume.AccountId} */,new{ @class="btn labelResume btn-outline-primary bg-white fs-2"} )
                   
                    
                   
                    <a class="btn btnResume btn-outline-primary bg-white fs-2" style="width:180px" href="#title"
                       data-loading-text="Loading...">
                        <span>
                            TOP
                            <i class="fa-solid fa-up-long" style="color: #528EAF;"></i>
                        </span>
                    </a>

                </div>


            </div>





            </div>
        </div>


</body>


@section Styles{
        
    <link type="text/css" rel="stylesheet" href="~/Expert/css/expertstyle.css">
        }
@section Scripts{
    <script src="~/Expert/js/expert.js"></script>
    <script src="~/Expert/js/bootstrap.bundle.js"></script>
    <script src="~/Expert/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
            <script>

                //星星評價=====================================
                 let score=0 ;
                let count = 0;
        fetch(`@Url.Content("~/ExpertResumesApi/StarRatingAPI")`)
                    .then(response => response.json())
                    .then(
                        data => {
                        const datadiv = "";
                        data.forEach(item => {
                            datadiv = ` <p class="lead pt-3">${item.評論}</p>`;
                            score += item.分數;
                            count = item.筆數;
                             console.log(score);
                        });


                        document.querySelector("#ratinghere").innerHTML = datadiv;
                    }
                    );

        var starfill = '<i class="bi bi-star-fill lablestar"></i>';
        var starhelf = '<i class="bi bi-star-half lablestar" > </i>';
        var starnull = '<i class="bi bi-star "></i>';
                        
                let arr= [ ];
                for(let i=1;i<=5;i++){
                   
                   if (score >= i) {
                arr.push(starfill
                          );
                     } // 實心星星
                    else if (score > i - 1 && score < i) {
                arr.push(starhelf);
            }// 半實心星星
                     else {
                arr.push(starnull); // 空心星星
                    }
                }
        console.log(arr);
        document.querySelector("#star").innerHTML = `(${score}分)  ` + arr.join("") +` --${count}筆評論  `;
       

          //================================================作品集
        function load() {
            const workbox = document.querySelector('#workbox');
            const worklist = document.querySelector('#worklist');
            const btnpre = document.querySelector('#btnpre');
            const btnnext = document.querySelector('#btnnext');

            const totalWidth = (6 * 200) + (2 * 24);
            let left = 0; // 初始化為 0
            let interval = 2000;
            let moveposition = 362;

            let timer;
            //自動跑馬燈
            function Moving() {
                clearInterval(timer);
                timer = setInterval(() => {
                    left -= moveposition;
                  
                    if (left <= -(totalWidth)) {
                        left = 0;
                        worklist.style.transition = 'none';
                    }
                    worklist.style.left = left + 'px';

                }, interval);
            }
             Moving();
             //自己按按鈕
            btnpre.addEventListener('click', () => {
                left += moveposition;

                if (left > 0) {
                    left = -(totalWidth - moveposition); // 在顯示第一張圖片時進行循環
                }
                worklist.style.transition = 'none';
                worklist.style.left = left + 'px';

            });

            btnnext.addEventListener('click', () => {
               
                left -= moveposition;

                if (left < -(totalWidth)) {
                    left = 0; // 在顯示最後一張圖片時進行循環
                }
                worklist.style.transition = 'none';
                worklist.style.left = left + 'px';
            });

            workbox.onmouseover = function () {
                clearInterval(timer);
            };

            workbox.onmouseleave = function () {
                worklist.style.transition = 'transform 0.2s ease-in-out';
                 Moving();
            };
        }
        document.addEventListener('DOMContentLoaded', load);

        //作品集=============================
        const worklist = document.querySelector('#worklist');
        fetch(`@Url.Content("~/ExpertResumesApi/WorkAPI")?resumesid=${@Model.resume.ResumeId}`)
       
            .then(response => response.json())
            .then(data => {
                let picturebox = "";
                for (let i = 0; i < data.length; i++) {
                    const picturename = data[i].作品名;
                    const picturedate = data[i].作品日期;
                    const imageData = data[i].作品照片;
                    const blob = new Blob([imageData], { type: 'image/jpeg' });
                    const img = new Image();
                    img.src = URL.createObjectURL(blob); // 使用 Blob 的 URL
                    img.classList.add("img-fluid");
               

                    picturebox +=
                        `<div style="display:block; position:absolute;" class="py-2">
                                    <button type="button" class="bg-expertdetail" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="border:none; height:100%">
                                        <p style="position:relative;top:0px;right:1px; height:30px">點圖放大<i class="fa-solid fa-up-right-and-down-left-from-center fa-beat-fade"></i></p>
                                                <img src="${URL.createObjectURL(blob)}" class="card-img-top px-3 m-auto" style="border-radius:10px; display:block; height:350px;width:350px" alt="...">
                                        <div style="display:block;">
                                            <h2 class="text-center m-4">${picturename}</h2>
                                            <h4 class="text-center m-4">${picturedate}</h4>
                                        </div>
                                    </button>
                                </div>`

                };
             

               // worklist.innerHTML = picturebox;

            });
        //================================================作品集原本跑馬燈
        // function load() {
        //     const workbox = document.querySelector('#workbox');
        //     const worklist = document.querySelector('#worklist');
        //     const totalWidth = (6 * 200) + (2 * 24);
        //     let left = 0; // 初始化為 0

        //     let timer;
        //     function Moving() {
        //         clearInterval(timer);
        //         timer = setInterval(() => {
        //             left -= 2;
        //             console.log(left);
        //             if (left <= -(totalWidth)) {
        //                 left = 0;
        //                 worklist.style.transition = 'none';
        //             }
        //             worklist.style.left = left + 'px';

        //         }, 20);
        //     }
        //     Moving();


        //     workbox.onmouseover = function () {
        //         clearInterval(timer);
        //     };

        //     workbox.onmouseleave = function () {
        //         worklist.style.transition = 'transform 0.2s ease-in-out';
        //         Moving();
        //     };
        // }
        // document.addEventListener('DOMContentLoaded', load);
    </script>
        }