@model prjCoreWebWantWant.ViewModels.CExpertResumesViewModel

@{
    ViewData["Title"] = "新增履歷";
    Layout = "~/Views/Member/LayoutForMem.cshtml";
}
@section subTitle{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">會員專區</li>
            <li class="breadcrumb-item">找專家</li>
            <li class="breadcrumb-item">專家履歷管理</li>

            <li class="breadcrumb-item " aria-current="page">新增專家履歷</li>

        </ol>
    </nav>
}
<form asp-action="Insert" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">

                    <!--履歷照片-->
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <h5 class="mb-4" style="color:#528EAF">履歷照片</h5>
                            <div class="form-group">
                                 @*<label asp-for="Photo" class="control-label"></label>*@
                        <input id="photoInput" name="履歷照片" asp-for="履歷照片" class="form-control" type="file" />
                        <span asp-validation-for="履歷照片" class="text-danger"></span>
                        <span asp-validation-for="履歷照片" class="text-danger"></span> @*+*@
                                  <span id="photoError" class="text-danger"></span>
                                 <div id="photoPreview"></div>
                            </div>
                        </div>
                    </div>

            <input type="hidden" id="hiddenPhotoInput"  />

                    <!--任務地點-->
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                    <h5 class="mb-4" style="color:#528EAF;display:inline;">服務地區</h5><span style="color:tomato;">      *必填</span>
                            <div class="form-floating mb-3">
                        <select  class="form-select" id="selCity">
                                    <!-- <option selected>請選擇縣市</option> -->
                                    <option></option>
                                </select>
                                <label for="floatingSelectCity">請選擇縣市</label>
                            </div>
                            <div class="form-floating mb-3">
                        <select asp-for="服務地區" class="form-select" id="selTown">
                                   <option></option>
                                </select>
                                <label for="floatingSelectTown">請選擇區域</label>
                            </div>

                    <input type="hidden"  id="hiddenTownIdInput" name="selectedTownId" />
                                                      
                        </div>
                   </div>

                    <!--技能-->
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <h5 class="mb-4" style="color:#528EAF">履歷專長</h5>
                            <div class="form-floating mb-3">
                        <select asp-for="專長大項1" class="form-select" id="SelSkillBigOne">
                                </select>
                                <label for="floatingSelectCity">請選擇技能分類1</label>
                            </div>

                            <div class="form-floating mb-3">
                        <select asp-for="專長細項1" class="form-select" id="SelSkillSmallOne">

                                </select>
                                <label for="floatingSelectCity">請選擇技能1</label>
                            </div>

                            <div class="form-floating mb-3">
                        <select asp-for="專長大項2" class="form-select" id="SelSkillBigTwo">
                                </select>
                                <label for="floatingSelectCity">請選擇技能分類2</label>
                            </div>

                            <div class="form-floating mb-3">
                        <select asp-for="專長細項2" class="form-select" id="SelSkillSmallTwo">
                                </select>
                                <label for="floatingSelectCity">請選擇技能2</label>
                            </div>

                            <div class="form-floating mb-3">
                        <select asp-for="專長大項3" class="form-select" id="SelSkillBigThree">
                                </select>
                                <label for="floatingSelectCity">請選擇技能分類3</label>
                            </div>

                            <div class="form-floating mb-3">
                        <select asp-for="專長細項3" class="form-select" id="SelSkillSmallThree">
                                </select>
                                <label for="floatingSelectCity">請選擇技能3</label>
                            </div>

                    <input type="hidden" id="hiddenSkillIdInput1" name="selectedSkillId1"  />
                    <input type="hidden" id="hiddenSkillIdInput2" name="selectedSkillId2"  />
                    <input type="hidden" id="hiddenSkillIdInput3" name="selectedSkillId3"  />

                        </div>
                    </div>

                    <!--證照-->
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                        <h5 class="mb-4" style="color:#528EAF">履歷證照</h5>
                            <div class="form-floating mb-3">
                        <select asp-for="證照大項1" class="form-select" id="SelCerBigOne">
                            @* <option value='0'>請先選擇證照大項</option> *@
                                </select>
                                <label for="floatingSelectCity">請選擇證照分類1</label>
                            </div>

                            <div class="form-floating mb-3">
                        <select asp-for="證照細項1" class="form-select" id="SelCerSmallOne">
                            @* <option value='0'>請先選擇證照細項</option> *@
                                </select>
                                <label for="floatingSelectCity">請選擇證照1</label>
                            </div>

                            <div class="form-floating mb-3">
                        <select asp-for="證照大項2" class="form-select" id="SelCerBigTwo">
                            @* <option value='0'>請先選擇證照大項</option> *@
                                </select>
                                <label for="floatingSelectCity">請選擇證照分類2</label>
                            </div>

                            <div class="form-floating mb-3">
                        <select asp-for="證照細項2" class="form-select" id="SelCerSmallTwo">
                            @* <option value='0'>請先選擇證照細項</option> *@
                                </select>
                                <label for="floatingSelectCity">請選擇證照2</label>
                            </div>

                            <div class="form-floating mb-3">
                        <select asp-for="證照大項3" class="form-select" id="SelCerBigThree">
                            @* <option value='0'>請先選擇證照大項</option> *@
                                </select>
                                <label for="floatingSelectCity">請選擇證照分類3</label>
                            </div>

                            <div class="form-floating mb-3">
                        <select asp-for="證照細項3" class="form-select" id="SelCerSmallThree">
                            @* <option value='0'>請先選擇證照細項</option> *@
                                </select>
                                <label for="floatingSelectCity">請選擇證照3</label>
                            </div>
                        </div>
                    </div>

                    <!--自傳-->
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                    <h5 class="mb-4" style="color:#528EAF;display:inline;">履歷自傳</h5><span style="color:tomato;">      *必填</span>
                    <div class="form-group">
                        <label asp-for="履歷標題" class="control-label"></label>
                        <input asp-for="履歷標題" class="form-control" id="ResumeTitle"/>
                        <span asp-validation-for="履歷標題" class="text-danger"></span>
                    </div>
                            <div class="form-group">
                        <label asp-for="專家介紹" class="control-label"></label>
                        <textarea asp-for="專家介紹" class="form-control" style="height:300px;resize:none"id="Introduction"> </textarea>
                        <span asp-validation-for="專家介紹" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

            <!--專家詳細介紹-->
            <div class="col-sm-12 col-xl-6">
                <div class="bg-light rounded h-100 p-4">
                    <h5 class="mb-4" style="color:#528EAF;display:inline;">履歷自傳</h5><span style="color:tomato;">      *必填</span>
                   
                    <div class="form-group mb-3">
                        <label asp-for="提供服務" class="control-label"></label>
                        <textarea asp-for="提供服務" class="form-control" style="height:400px;resize:none" id="Service"> </textarea>
                        <span asp-validation-for="提供服務" class="text-danger"></span>
                    </div>
                                      
                </div>
            </div>

            <!--作品QA-->
            <div class="col-sm-12 col-xl-6">
                <div class="bg-light rounded h-100 p-4">
                    <h5 class="mb-4" style="color:#528EAF;display:inline;">Q&A介紹</h5><span style="color:tomato;">      *必填</span>
                    <div class="form-group mb-3">
                        
                            <label asp-for="常見問題" class="control-label"></label>
                            <textarea asp-for="常見問題" class="form-control" style="height:300px;resize:none"id="QA"> </textarea>
                            <span asp-validation-for="常見問題" class="text-danger"></span>
                   

                    </div>
                    
                </div>
            </div>

            <!--專家詳細補充介紹-->
            <div class="col-sm-12 col-xl-6">
                <div class="bg-light rounded h-100 p-4">
                    <h5 class="mb-4" style="color:#528EAF;display:inline;">履歷自傳補充</h5><span style="color:tomato;">      *必填</span>

                    <div class="form-group mb-3">
                        <div class="form-floating mb-3">
                            <select asp-for="收款方式" class="form-select" id="pay">
                                <option>現金支付</option>
                                <option>匯款支付</option>
                            </select>
                            <label for="pay">收款方式</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="基本價格" class="control-label"></label>
                        <input asp-for="基本價格" class="form-control" id="price"/>
                        <span asp-validation-for="基本價格" class="text-danger"></span><span>元</span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="個人網站" class="control-label"></label>
                        <input asp-for="個人網站" class="form-control" />
                        <span asp-validation-for="個人網站" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="form-floating mb-3">
                            <select asp-for="聯絡方式" class="form-select" id="comtact">
                                <option>手機連絡</option>
                                <option>E-Mail連絡</option>
                            </select>
                            <label for="comtact">聯絡方式</label>
                        </div>


                    </div>
                </div>
            </div>


            <!--作品照片-->
            <div class="col-sm-12 col-xl-6">
                <div class="bg-light rounded h-100 p-4">
                    <h5 class="mb-4" style="color:#528EAF">作品照片</h5>

                    <div class="form-group mb-3">
                        <label for="workphoto" class="control-label">作品照片</label>
                        <input id="workphoto" name="作品圖片" class="form-control" type="file" multiple />
                        <p class="text-info">你可以選擇多個圖片。</p>
                        <span asp-validation-for="作品圖片" class="text-danger"></span>
                        <span id="workError" class="text-danger"></span>
                        <div id="workPreview" style="border: 1px solid #ccc; padding: 10px;"></div>
                    </div>
                </div>
            </div>

            <input type="hidden" id="hiddenPhotoInput" name="selectedPhoto" />


                    <!--送出+取消並返回-->
           
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                    <div class="bg-light rounded h-100 p-4  d-flex justify-content-center align-items-center">
                                <div class="form-group">
                            <input type="submit" value="送出並新增" class="btn btn-outline-success"/>
                            <a asp-action="ExpertMemberPage" asp-controller="Expert" class="btn btn-outline-warning">取消並返回</a>
                            <a class="btn btn-outline-primary" onclick="Demo()">Demo</a>
                                </div>
                           </div>
                        </div>
                    </div>



            </div>
            </div>
</form>
          
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        const selCity = document.querySelector('#selCity');
        const selTown = document.querySelector('#selTown');
        const hiddenTownIdInput = document.querySelector('#hiddenTownIdInput');

        //select的城市
        async function loadCity() {
            const response = await fetch('@Url.Content("~/BackstageTask/Cities")')
            const datas = await response.json()
            // datas.sort();
            const cities = datas.map(City => `<option value="${City}">${City}</option>`);
            document.querySelector('#selCity').innerHTML = cities.join("");

            loadDistrict();
        }
        loadCity();
        //select的區域
        async function loadDistrict() {
            const response = await fetch(`@Url.Content("~/BackstageTask/Districts")?City=${selCity.value}`);
            const datas = await response.json()
            // datas.sort();
            const districts = datas.map(Town => `<option value='${Town}'>${Town}</option>`);
            selTown.innerHTML = districts.join("");
            getTownId();
        }
        async function getTownId() {
            const response = await fetch(`@Url.Content("~/Backstage/GetTownId")?City=${selCity.value}&District=${selTown.value}`);
            const data = await response.json();
            const selectedTownId = data[0]; // 由於後端程式碼回傳的是 IEnumerable<TownId>，這裡選取第一個元素
            hiddenTownIdInput.value = selectedTownId;
        }
        // loadDistrict();
        selCity.addEventListener('change', () => {
            loadDistrict();
        });
        selTown.addEventListener('change', () => {
            getTownId();
        });
        const SelSkillBigOne = document.querySelector('#SelSkillBigOne');
        const SelSkillSmallOne = document.querySelector('#SelSkillSmallOne');
        //select的技能分類
        async function loadSelSkillBigOne() {
            const response = await fetch('@Url.Content("~/BackstageTask/SkillBig")')
            const datas = await response.json()
            let skillBig = ` <option value='0'>請先選擇專長大項</option> `
            skillBig += datas.map(SkillTypeName => `<option value="${SkillTypeName}">${SkillTypeName}</option>`).join("");
            document.querySelector('#SelSkillBigOne').innerHTML = skillBig;

            loadSelSkillSmallOne();
        }
        loadSelSkillBigOne();
        //select的技能小項
        async function loadSelSkillSmallOne() {
            const response = await fetch(`@Url.Content("~/BackstageTask/SkillSmall")?SkillBig=${SelSkillBigOne.value}`);
            const datas = await response.json()
            let skillSmall = `<option value='0'>請先選擇專長細項</option>`;
            skillSmall += datas.map(SkillName => `<option value='${SkillName}'>${SkillName}</option>`).join("");
            SelSkillSmallOne.innerHTML = skillSmall;
            getSkillIdOne();
        }   
        SelSkillBigOne.addEventListener('change', () => {
            loadSelSkillSmallOne();
        });
        SelSkillSmallOne.addEventListener('change', () => {
            getSkillIdOne();
        });
        const SelSkillBigTwo = document.querySelector('#SelSkillBigTwo');
        const SelSkillSmallTwo = document.querySelector('#SelSkillSmallTwo');
        //select的技能分類
        async function loadSelSkillBigTwo() {
            const response = await fetch('@Url.Content("~/BackstageTask/SkillBig")')
            const datas = await response.json()
            let skillBig = ` <option value='0'>請先選擇專長大項</option> `
            skillBig += datas.map(SkillTypeName => `<option value="${SkillTypeName}">${SkillTypeName}</option>`).join("");
            document.querySelector('#SelSkillBigTwo').innerHTML = skillBig;

            loadSelSkillSmallTwo();
        }
        loadSelSkillBigTwo();
        //select的技能小項
        async function loadSelSkillSmallTwo() {
            const response = await fetch(`@Url.Content("~/BackstageTask/SkillSmall")?SkillBig=${SelSkillBigTwo.value}`);
            const datas = await response.json()
            let skillSmall = `<option value='0'>請先選擇專長細項</option>`;
            skillSmall += datas.map(SkillName => `<option value='${SkillName}'>${SkillName}</option>`).join("");
            SelSkillSmallTwo.innerHTML = skillSmall;
            getSkillIdTwo();
        }
        SelSkillBigTwo.addEventListener('change', () => {
            loadSelSkillSmallTwo();
        });
        SelSkillSmallTwo.addEventListener('change', () => {
            getSkillIdTwo();
        });
        const SelSkillBigThree = document.querySelector('#SelSkillBigThree');
        const SelSkillSmallThree = document.querySelector('#SelSkillSmallThree');
        //select的技能分類
        async function loadSelSkillBigThree() {
            const response = await fetch('@Url.Content("~/BackstageTask/SkillBig")')
            const datas = await response.json()
            let skillBig = ` <option value='0'>請先選擇專長大項</option> `
            skillBig += datas.map(SkillTypeName => `<option value="${SkillTypeName}">${SkillTypeName}</option>`).join("");
            document.querySelector('#SelSkillBigThree').innerHTML = skillBig;

            loadSelSkillSmallThree();
        }
        loadSelSkillBigThree();
        //select的技能小項
        async function loadSelSkillSmallThree() {
            const response = await fetch(`@Url.Content("~/BackstageTask/SkillSmall")?SkillBig=${SelSkillBigThree.value}`);
            const datas = await response.json()
            let skillSmall = `<option value='0'>請先選擇專長細項</option>`;
            skillSmall += datas.map(SkillName => `<option value='${SkillName}'>${SkillName}</option>`).join("");
            SelSkillSmallThree.innerHTML = skillSmall;
            getSkillIdThree();
        }
        SelSkillBigThree.addEventListener('change', () => {
            loadSelSkillSmallThree();
        });
        SelSkillSmallThree.addEventListener('change', () => {
            getSkillIdThree();
        });
        //證照的標籤
        const SelCerBigOne = document.querySelector('#SelCerBigOne');
        const SelCerSmallOne = document.querySelector('#SelCerSmallOne');
        //select的證照分類
        async function loadSelCerBigOne() {
            const response = await fetch('@Url.Content("~/BackstageTask/CerBig")')
            const datas = await response.json()
            let CerBig = `<option value='0'>請先選擇證照大項</option>`;
            CerBig += datas.map(CertificateTypeName => `<option value="${CertificateTypeName}">${CertificateTypeName}</option>`).join("");
            document.querySelector('#SelCerBigOne').innerHTML = CerBig;

            loadSelCerSmallOne();
        }
        loadSelCerBigOne();
        //select的證照小項
        async function loadSelCerSmallOne() {
            const response = await fetch(`@Url.Content("~/BackstageTask/CerSmall")?CerBig=${SelCerBigOne.value}`);
            const datas = await response.json()
            let CerSmall = `<option value='0'>請先選擇證照細項</option>`;
            CerSmall += datas.map(CertificateName => `<option value='${CertificateName}'>${CertificateName}</option>`).join("");
            SelCerSmallOne.innerHTML = CerSmall;
        }
        loadSelCerSmallOne();
        SelCerBigOne.addEventListener('change', () => {
            loadSelCerSmallOne();
        });
        //證照的標籤
        const SelCerBigTwo = document.querySelector('#SelCerBigTwo');
        const SelCerSmallTwo = document.querySelector('#SelCerSmallTwo');
        //select的證照分類
        async function loadSelCerBigTwo() {
            const response = await fetch('@Url.Content("~/BackstageTask/CerBig")')
            const datas = await response.json()
            let CerBig = `<option value='0'>請先選擇證照大項</option>`;
            CerBig += datas.map(CertificateTypeName => `<option value="${CertificateTypeName}">${CertificateTypeName}</option>`).join("");
            document.querySelector('#SelCerBigTwo').innerHTML = CerBig;

            loadSelCerSmallTwo();
        }
        loadSelCerBigTwo();
        //select的證照小項
        async function loadSelCerSmallTwo() {
            const response = await fetch(`@Url.Content("~/BackstageTask/CerSmall")?CerBig=${SelCerBigTwo.value}`);
            const datas = await response.json()
            let CerSmall = `<option value='0'>請先選擇證照細項</option>`;
            CerSmall += datas.map(CertificateName => `<option value='${CertificateName}'>${CertificateName}</option>`).join("");
            SelCerSmallTwo.innerHTML = CerSmall;
        }
        loadSelCerSmallTwo();
        SelCerBigTwo.addEventListener('change', () => {
            loadSelCerSmallTwo();
        });
        //證照的標籤
        const SelCerBigThree = document.querySelector('#SelCerBigThree');
        const SelCerSmallThree = document.querySelector('#SelCerSmallThree');
        //select的證照分類
        async function loadSelCerBigThree() {
            const response = await fetch('@Url.Content("~/BackstageTask/CerBig")')
            const datas = await response.json()
            let CerBig = `<option value='0'>請先選擇證照大項</option>`;
            CerBig += datas.map(CertificateTypeName => `<option value="${CertificateTypeName}">${CertificateTypeName}</option>`).join("");
            document.querySelector('#SelCerBigThree').innerHTML = CerBig;
            loadSelCerSmallThree();
        }
        loadSelCerBigThree();
        //select的證照小項
        async function loadSelCerSmallThree() {
            const response = await fetch(`@Url.Content("~/BackstageTask/CerSmall")?CerBig=${SelCerBigThree.value}`);
            const datas = await response.json()
            let CerSmall = `<option value='0'>請先選擇證照細項</option>`;
            CerSmall += datas.map(CertificateName => `<option value='${CertificateName}'>${CertificateName}</option>`).join("");
            SelCerSmallThree.innerHTML = CerSmall;
        }
        loadSelCerSmallThree();
        SelCerBigThree.addEventListener('change', () => {
            loadSelCerSmallThree();
        });
        const hiddenSkillIdInput1 = document.querySelector('#hiddenSkillIdInput1');
        const hiddenSkillIdInput2 = document.querySelector('#hiddenSkillIdInput2');
        const hiddenSkillIdInput3 = document.querySelector('#hiddenSkillIdInput3');
        async function getSkillIdOne() {
            const response = await fetch(`@Url.Content("~/Backstage/GetSkillId")?skillType=${SelSkillBigOne.value}&skillName=${SelSkillSmallOne.value}`);
            const data = await response.json();
            const selectedSkillId1 = data[0]; // 由於後端程式碼回傳的是 IEnumerable<TownId>，這裡選取第一個元素
            hiddenSkillIdInput1.value = selectedSkillId1;
            console.log(hiddenSkillIdInput1.value);
        }
        async function getSkillIdTwo() {
            const response = await fetch(`@Url.Content("~/Backstage/GetSkillId")?skillType=${SelSkillBigTwo.value}&skillName=${SelSkillSmallTwo.value}`);
            const data = await response.json();
            const selectedSkillId2 = data[0]; // 由於後端程式碼回傳的是 IEnumerable<TownId>，這裡選取第一個元素
            hiddenSkillIdInput2.value = selectedSkillId2;
            console.log(hiddenSkillIdInput2.value);
        }
        async function getSkillIdThree() {
            const response = await fetch(`@Url.Content("~/Backstage/GetSkillId")?skillType=${SelSkillBigThree.value}&skillName=${SelSkillSmallThree.value}`);
            const data = await response.json();
            const selectedSkillId3 = data[0]; // 由於後端程式碼回傳的是 IEnumerable<TownId>，這裡選取第一個元素
            hiddenSkillIdInput3.value = selectedSkillId3;
            console.log(hiddenSkillIdInput3.value);
        }
        //履歷圖片:
        function readFileAsDataURL(file) {
            return new Promise((resolve, reject) => {
                const reader = new FileReader();

                reader.onload = (event) => {
                    resolve(event.target.result);
                };

                reader.onerror = (error) => {
                    reject(error);
                };

                reader.readAsDataURL(file);
            });
        }
        const photoInput = document.getElementById('photoInput');
        const photoPreview = document.getElementById('photoPreview');
        // 當使用者選擇檔案時觸發事件
        photoInput.addEventListener('change', async function () { // 注意這裡加了async
            const selectedFile = photoInput.files[0];

            if (selectedFile) {
                // 檢查是否是圖片類型
                if (selectedFile.type.startsWith('image/')) {
                    try {
                        const base64Data = await readFileAsDataURL(selectedFile);
                        const img = document.createElement('img');
                        img.src = base64Data;
                        img.width = 360;
                        img.height = 360;
                        photoPreview.innerHTML = '';
                        photoPreview.appendChild(img);

                        hiddenPhotoInput.value = base64Data;//重點
                        console.log(hiddenPhotoInput.value);
                        const photoError = document.getElementById('photoError');
                        photoError.textContent = '';
                    } catch (error) {
                        console.error("Error reading the file:", error);
                    }
                } else {
                    const photoError = document.getElementById('photoError');
                    photoError.textContent = '請選擇有效的圖片檔案。';
                    photoPreview.innerHTML = '';
                }
            } else {
                photoPreview.innerHTML = '';
                const photoError = document.getElementById('photoError');
                photoError.textContent = '';
            }
        });
        //作品集

        // 當使用者選擇檔案時觸發事件
        const workphoto = document.querySelector("#workphoto");
        const workPreview = document.querySelector("#workPreview");
        const workError = document.querySelector("#workError");
        workphoto.addEventListener('change', function () {
            workPreview.innerHTML = ''; 
            workError.textContent = '';
            const selectedFiles = workphoto.files;

            for (let i = 0; i < selectedFiles.length; i++) {
                const selectedFile = selectedFiles[i];
              
                const workNameInput = document.createElement('input');
                workNameInput.type = 'text';
                workNameInput.name = '作品集';
                workNameInput.placeholder = '請輸入作品名';
                workNameInput.className = 'form-control mb-3 ';
                // 檢查是否是圖片類型
                if (selectedFile.type.startsWith('image/')) {
                    // 創建一個圖片元素，設置其 src 屬性為選擇的圖片
                    const img = document.createElement('img');
                    img.src = URL.createObjectURL(selectedFile);
                    img.width = 360;
                    img.height = 360;
                    workPreview.appendChild(img);
                    workPreview.appendChild(workNameInput);
                } else {
                    // 如果選擇的檔案不是圖片，顯示錯誤訊息
                    workError.textContent = '請選擇有效的圖片檔案。';
                    workPreview.innerHTML = '';

                }
            } 
        });
        //======================
        function readFileAsDataURL(file) {
            return new Promise((resolve, reject) => {
                const reader = new FileReader();

                reader.onload = (event) => {
                    resolve(event.target.result);
                };

                reader.onerror = (error) => {
                    reject(error);
                };

                reader.readAsDataURL(file);
            });
        }
        photoInput.addEventListener('change', async function () {
            const selectedFile = photoInput.files[0];

            if (selectedFile) {
                // 檢查是否是圖片類型
                if (selectedFile.type.startsWith('image/')) {
                    try {
                        const base64Data = await readFileAsDataURL(selectedFile);
                        // 在此，base64Data 是圖片的 Base64 編碼
                        // 如果您需要二進位，可以直接使用此資料

                        const img = document.createElement('img');
                        img.src = base64Data;

                        img.width = 360;
                        img.height = 360;

                        photoPreview.innerHTML = '';
                        photoPreview.appendChild(img);

                        const photoError = document.getElementById('photoError');
                        photoError.textContent = '';
                    } catch (error) {
                        console.error("Error reading the file:", error);
                    }
                } else {
                    const photoError = document.getElementById('photoError');
                    photoError.textContent = '請選擇有效的圖片檔案。';
                    photoPreview.innerHTML = '';
                }
            } else {
                photoPreview.innerHTML = '';
                const photoError = document.getElementById('photoError');
                photoError.textContent = '';
            }
        });
        //Demo按鍵
        function Demo() {
            var selTown = document.getElementById("selTown");
            var selCity = document.getElementById("selCity");
            var SelSkillBigOne = document.getElementById("SelSkillBigOne");
            var SelSkillSmallOne = document.getElementById("SelSkillSmallOne");
            var SelSkillBigTwo = document.getElementById("SelSkillBigTwo");
            var SelSkillSmallTwo = document.getElementById("SelSkillSmallTwo");
            var SelSkillBigThree = document.getElementById("SelSkillBigThree");
            var SelSkillSmallThree = document.getElementById("SelSkillSmallThree");
            var SelCerBigOne = document.getElementById("SelCerBigOne");
            var SelCerSmallOne = document.getElementById("SelCerSmallOne");
            var SelCerBigTwo = document.getElementById("SelCerBigTwo");
            var SelCerSmallTwo = document.getElementById("SelCerSmallTwo");
            var SelCerBigThree = document.getElementById("SelCerBigThree");
            var SelCerSmallThree = document.getElementById("SelCerSmallThree");
            var ResumeTitle = document.getElementById("ResumeTitle");
            var Introduction = document.getElementById("Introduction");
            var Service = document.getElementById("Service");
            var QA = document.getElementById("QA");
            var pay = document.getElementById("pay");
            var price = document.getElementById("price");
            var comtact = document.getElementById("comtact");
            var Name = document.getElementById("selTown");
            var Name = document.getElementById("selTown");
        }
    </script>

}
