@model prjCoreWebWantWant.Models.Rating

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rating</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RatingStar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RatingStar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RatingContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RatingContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RatingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RatingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourceRoleId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourceRoleId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourceAccountId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourceAccountId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetRoleId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetRoleId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetAccountId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetAccountId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RatingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
