@model IEnumerable<prjCoreWebWantWant.ViewModels.CBackstageManagementViewModel>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_LayoutForBackstage.cshtml";
}

<style>
    .pagination {
        margin-bottom: 0;
        padding-bottom: 15px;
    }
</style>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="mb-2">會員狀態列表</h1>
                    @using (Html.BeginForm())
                    {
                        @:關鍵字 @Html.TextBox("txtKeyword")
                        <input type="submit" value="查詢" />
                    }
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">網站後台管理</a></li>
                        <li class="breadcrumb-item active">會員狀態列表</li>
                    </ol>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                序
                            </th>
                            <th>
                                會員名稱
                            </th>
                            <th>
                                會員帳號
                            </th>
                            <th>
                                會員電話
                            </th>
                            <th>
                                會員建立時間
                            </th>
                            <th>
                                帳號狀態
                            </th>
                            <th>
                                登入時間
                            </th>
                            <th>
                                客服人員
                            </th>
                            <th>
                                客服更新時間
                            </th>
                            <th>
                                停權原因
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @{
                            int count = 0;
                            foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <td>
                                        @count
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PhoneNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreateTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AccountStatus)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.loginHistory.LoginTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.memberStatusList.UpdateUser)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.memberStatusList.UpdateTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.memberStatusList.StatusChangeReason)
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item disabled">
                <a class="page-link">上一頁</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">下一頁</a>
            </li>
        </ul>
    </nav>

</div>