@model IEnumerable<prjCoreWebWantWant.Models.ForumCategory>

@{
    ViewData["Title"] = "CategoryList";
}



<div class="m-auto container">
    <h2 class="text-center mt-5">
        <span style="color:#9eb9d3">●</span>
        <span style="color:#c0d3e6">●</span>
        <span style="color:#e5edf6">●</span>
        WantWant討論版
        <span style="color:#e5edf6">●</span>
        <span style="color:#c0d3e6">●</span>
        <span style="color:#9eb9d3">●</span>
    </h2>

    <div class="m-auto mt-5 flex-wrap d-inline-flex gap-4 justify-content-center mb-5">
        @foreach (var item in Model)
        {
            <a href="@Url.Action("PostList", "Forum", new { categoryId = item.CategoryId})" class="link-underline link-underline-opacity-0">
                <div class="mx-3 col-3  rounded-4 bg-white shadow ca-card" style="width:380px;min-height:200px">
                     <div>
                         <div class="rounded-4 text-center pt-3">
                             <div class="h4 fw-bold text-dark-emphasis link-underline link-underline-opacity-0">@Html.DisplayFor(modelItem => item.Title)</div>
                             <hr class="my-3" style="height:1px">
                             <div class="card-fontcolor px-4 rounded-bottom-3 link-underline link-underline-opacity-0" style="font-size:16px">@Html.DisplayFor(modelItem => item.Depiction)</div>
                         </div>
                     </div>
                </div>
            </a>
        }
    </div>
</div>

@*<div class="d-inline-flex column-gap-3 flex-wrap row justify-content-center align-items-center m-auto mt-5">
    @foreach (var item in Model)
    {
        <div class="col-3">
            <a href="@Url.Action("PostList", "Forum", new { categoryId = item.CategoryId})" class="link-underline link-underline-opacity-0">
                <table class="table table-borderless table-hover">
                    <tr>
                        <td class="rounded-4 text-center table-borderless"
                            style="background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%); width:auto ;height: 10vh;">
                            <div class="h4 fw-bold text-dark-emphasis link-underline link-underline-opacity-0">@Html.DisplayFor(modelItem => item.Title)</div>
                            <div class="text-secondary-emphasis bg-white bg-opacity-75 p-1 border rounded-bottom-3 link-underline link-underline-opacity-0" style="height:130px">@Html.DisplayFor(modelItem => item.Depiction)</div>
                        </td>

                    </tr>
                </table>
            </a>
        </div>
    }
</div>*@

@section Styles{
    <style>
        hr {
            border: 0;
            height: 1px;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
        }

        .shadow {
            /* box-shadow: 5px 5px 10px -1px rgba(10, 10, 10, 0.09); */
            box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
        }

        .border {
            border-color: #e9e9ef;
        }

        .ca-card{
            background-color: #f8fafc;

        }

        h2{
            color: #757575;
        }

        .card-fontcolor{
            color: #757575;
        }


    </style>
}