@model prjCoreWantMember.ViewModels.ForumPostViewModel
@using System.Web;
@{
    ViewData["Title"] = "討論區";
    int categoryId = Model.MainPost.ForumPostCategories.FirstOrDefault().CategoryId;
    string categoryTitle = Model.MainPost.ForumPostCategories.FirstOrDefault().Category.Title;

}


<!--最外層-->
<div class="container col-9 ">
<!--麵包屑-->
    <nav class="breadcrumb  mt-4" style="font-size:32px">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Content("~/Forum/CategoryList")">討論區</a></li>
            <li class="breadcrumb-item">@Html.ActionLink(@categoryTitle, "PostList", "Forum", new { categoryId = categoryId }, null)</li>
            <li class="breadcrumb-item active">@Model.MainPost.Title</ li >
        </ol>
    </nav>
<!--回覆文章按鈕-->
    <a class="btn go-right" href="#goreply">回應此文章</a>
<!--主樓Model.MainPost-->
    <!--樓主的部分-->
    <div class="mybg-color rounded-3 end-float">　
        <div class="bg-body rounded-3 border mx-3 p-3">
            <h2 class="border-bottom" style="font-weight:bold">
                <i class="fa-solid fa-square fa-2xs" style="color: #94a0b3;"></i>                
                <i class="fa-solid fa-square fa-2xs" style="color: #a9b8d0;"></i>
                <i class="fa-solid fa-square fa-2xs" style="color: #c1d2f0;"></i>
                @Model.MainPost.Title
                <i class="fa-solid fa-square fa-2xs" style="color: #c1d2f0;"></i>
                <i class="fa-solid fa-square fa-2xs" style="color: #a9b8d0;"></i>
                <i class="fa-solid fa-square fa-2xs" style="color: #94a0b3;"></i>
            </h2>
        <div class="p-3">
            <div class="border-bottom row pb-2">
                    <span class="col-8"><span class="badge bg-light badge-pill">樓主</span>  @Model.MainPost.Account.UserName</span>
                <span class="col-4 text-end">
                    <span class="small text-body-tertiary">@Model.MainPost.Created</span>
                    <span class="small small text-body-tertiary">觀看次數: @Html.DisplayFor(model => model.MainPost.ViewCount)</span>
                        <span class="badge rounded-pill bg-danger bg-opacity-25 bi bi-heart-fill text-danger text-opacity-75"> like</span>
                </span>
            </div>
            <div class="col-11 m-auto pt-3">
                @Html.Raw(HttpUtility.HtmlDecode(Model.MainPost.PostContent))

            </div>
        </div>
        @{
            if (Model.MainPost.Updated != null)
            {
                <div class="small text-body text-opacity-50 text-end">最後更新時間：@Model.MainPost.Updated</div>
            }
        }
        <hr />
        @*主樓留言*@
        <div class="row justify-content-end me-1 small">
        <div class="bg-light col-11" id="firstFloorComm">
            @{
                int firstCommFloorCount = 0;
                foreach (var comment in Model.MainComments)
                {
                            firstCommFloorCount++;
                                    <div class="flex-column mb-1">
                                    <span class="text-info">@comment.Account.UserName</span>
                                    <span class="ml-auto">-@comment.Comment</span>
                                    <div class="small  my-lightgrey">B@(firstCommFloorCount) @comment.Created</div>
                                    </div>
                        }
                    }
                    <!--留言框框-->
                    <button class="btn float-end btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#leaveAComment" aria-expanded="false">
                        留言 <i class="fa-solid fa-reply fa-2xs" style="color: #949494;"></i>
                    </button>
                    <div class="end-float"></div>
                    <div class="collapse" id="leaveAComment">
                        @if (Model.Member != null)
                        {
                            <div class="card card-body">

                                <form class="form-group" name="firstFloorComment" class="end-float">
                                    <input type="text" class="form-control" name="Comment" autocomplete="off" id="commentInput">
                                    <input type="hidden" name="PostId" value="@Model.MainPost.PostId">
                                    <input type="hidden" name="AccountId" value="@Model.Member.AccountId">
                                    <button class="btn btn-sm float-end small" id="submitBtn">確定發出</button>
                                </form>
                            </div>
                        }
                        else
                        {
                            <p class="text-end small">
                                登入後才能留言喔
                                <a class="" href="@Url.Action("Login", "Member", new { BackToAction = "PostView", BackToController = "Forum", BackToId = Model.MainPost.PostId })"><i class="bi bi-box-arrow-in-right"></i>登入</a>
                            </p>
                        }
                        <!--留言end-->
                </div>
            </div>
        </div>
    </div>　
    </div>
    @*#2之後的部分*@
    @{
        int allFloorCount = 0;
        foreach (var item in Model.Replies)
        {
            allFloorCount++;
            if (item.Status == 3)//處理已刪除回文的顯示
        {
                <div class="mybg-color bg-opacity-10 rounded-3 my-3">　
                    <div class="bg-body rounded-3 border mx-3 p-3">
                           <div class="px-3">
                      <div class="border-bottom row pb-2">
                                    </div>
                        <div class="col-11 m-auto text-body d-inline-flex align-middle">
                     <span class="badge bg-light badge-pill">@(allFloorCount)樓</span>
                        <i class="bi bi-trash-fill text-danger text-opacity-50 ms-3"></i>此文章已刪除
                      <span class="text-body text-opacity-50 ms-3">原作者:@item.Account.UserName</span>
            @{
                                if (item.Updated != null)
                                {
                   <span class="small text-body text-opacity-50 ms-3">刪除時間：@item.Updated</span>
                                }
                        }
            </div>
                  </div>
                    <hr class="m-0" />
                          </div>　
        </div>
        }
        else{//正常回文的顯示
                          <div class="mybg-color bg-opacity-10 rounded-3 my-3">　　
                             <div class="bg-body rounded-3 border mx-3 p-3">
                             <div class="p-3">
                                    <div class="border-bottom row pb-2">
                                        <span class="col-8"><span class="badge bg-light badge-pill">@(allFloorCount)樓</span> @item.Account.UserName</span>
                             <span class="col-4 text-end">
                             <span class="small text-body-tertiary">@item.Created</span>
                             <span class="badge rounded-pill bg-danger bg-opacity-25 bi bi-heart-fill text-danger text-opacity-75"> like</span>
                             </span>
                             </div>
                             <div class="col-11 m-auto pt-3">
                             @Html.Raw(HttpUtility.HtmlDecode(item.PostContent))
                             </div>
                             </div>
                             @{
                    if (item.Updated != null)
                    {
                                     <div class="small text-body text-opacity-50 text-end">最後更新時間：@item.Updated</div>
                    }
                             }
                                              <hr />
                       @*2樓以後留言*@
                               <div class="row justify-content-end me-1 small">
                               <div class="bg-light col-11">
                               @{
                                 int count2 = 0;
                                 var secondCommentsList = Model.SecondCommentsList[allFloorCount-1]; // 取得對應的 SecondCommentsList

                                       @foreach (var comment in secondCommentsList) // 迴圈處理單個回覆的留言
                                {
                                    count2++;
                                                    <div class="flex-column  mb-1">
                                                    <span class="text-info">@comment.Account.UserName</span>
                                                    <span class="ml-auto">-@comment.Comment</span>
                                                    <div class="small  my-lightgrey">B@(count2) @comment.Created</div>
                                                    </div>
                                }
                                                    }
                                 <!--留言框框-->
                                        <button class="btn float-end btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#leaveAComment@(allFloorCount)" aria-expanded="false">
                                        留言 <i class="fa-solid fa-reply fa-2xs" style="color: #949494;"></i>
                                            </button>
                                        <div class="end-float"></div>
                                        <div class="collapse" id="leaveAComment@(allFloorCount)">
                                            @if (Model.Member != null)
                                        {
                                                <div class="card card-body">

                                                    <form class="form-group" name="secondFloorComment@(allFloorCount)" class="end-float">
                                                    <input type="text" class="form-control" name="Comment" id="commentInput@(allFloorCount)" autocomplete="off">

                                                    <input type="hidden" name="PostId" value="@item.PostId">
                                                    <input type="hidden" name="AccountId" value="@Model.Member.AccountId">
                                                    <button class="btn btn-sm float-end small" id="submitBtn@(allFloorCount)">確定發出</button>
                                                    </form>
                                                </div>
                                    }
                                    else
                                    {
                                                <p class="text-end small">
                                                    登入後才能留言喔
                                                    <a class="" href="@Url.Action("Login", "Member", new { BackToAction = "PostView", BackToController = "Forum", BackToId = Model.MainPost.PostId })"><i class="bi bi-box-arrow-in-right"></i>登入</a>
                                                </p>
                                    }
                                            <!--留言end-->

                                            
                                        </div>
                                    </div>
                                    </div>
                                    </div>　
                                    </div>
                //--------------------------------------------發文底下留言開始--------------------------------------------
                        <script>
                        const submitBtn@(allFloorCount) = document.querySelector('#submitBtn@(allFloorCount)');
                            const commentInput@(allFloorCount) = document.querySelector('#commentInput@(allFloorCount)');

                            submitBtn@(allFloorCount).addEventListener('click', event => {
                                event.preventDefault();
                                const formData = new FormData(document.secondFloorComment@(allFloorCount));
                                fetch('@Url.Content("~/ForumApi/PostCommit")', {
                                    body: formData,
                                    method: "post"
                                }).then(response => {
                                if (response.ok) {
                                    // $('#這邊要放要更新的東西').load('@Url.Content("~/Forum/Replied")讓他重讀XXX' + '?id=' +等等要加上重讀的ID是誰)
                                    commentInput@(allFloorCount).value = "";//清空他
                                Swal.fire({
                                    icon: 'success',
                                    title: '留言成功成功',
                                    text: '即將重新整理頁面，請稍後。',
                                    showConfirmButton: false,
                                    timer: 1000,
                                    timerProgressBar: true,
                                }).then(() => {
                                    // $('#firstFloorComm').load('@Url.Content("~/ForumApi/PostComment")' + '?id=' + @Model.MainPost.PostId)要思考之後能不能用partialview更新
                                    location.reload();
                                })
                                } else {
                                    alert('新增失敗,請確認資料')
                                }
                                })
                            });
                        </script>
                //--------------------------------------------發文底下留言結束--------------------------------------------

        }

    }
}



    <h4 class="text-center text-body  mt-5 h3" style="font-weight:bold">回覆此篇文章...</h4>
    <hr class="hr">
        <div class="col-md-10 m-auto">
        <form class="form-group" id="goreply" name="replyForm">
            @if (Model.Member!=null)
            {
                <textarea id="PostContent" name="PostContent" type="text"></textarea>
                <input id="isLogin" type="hidden" name="AccountId" value="@Model.Member.AccountId" />
                <input type="hidden" name="ParentId" id="ParentId" value="@Model.MainPost.PostId" />
                <input type="submit" value="確定發出" class="btn btn-primary opacity-50 go-right mt-2" id="submitReply" />
            }
            else
            {
                <p class="alert alert-primary text-center">
                    請先登入以進行回覆
                    <a class="" href="@Url.Action("Login", "Member", new { BackToAction = "PostView", BackToController = "Forum", BackToId = Model.MainPost.PostId })"><i class="bi bi-box-arrow-in-right"></i>登入</a>
                </p>
            }
        </form>
        </div>




    

    <p class="text-center my-5">
    @Html.ActionLink("回上一頁", "PostList", "Forum", new { categoryId = categoryId }, null)
</p>
</div>


@section Styles{
    <style>
        a:link {
            color: #46576b;
        }

        a:visited {
            color: #434b53;
        }

        a:hover {
            color: #5c6570;
        }

        a:active {
            color: #445971;
        }

        .mybg-color{
            background: #eaf0f6;
        }

        .go-right{
            float:right;
        }

        .end-float{
            clear: both;
        }

        .hr {
            border: 0;
            height: 1px;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
        }

        .my-lightgrey{
            color: #d1d1d1;
        }

    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">


}

@section Scripts{
    <script>
        //--------------------------------------------這邊是主文章回覆--------------------------------------------
        var isLogin = $('#isLogin').val();//判斷@Model.Member是否有傳值進來
        if (isLogin) 
        {
            const btnSubmit = document.querySelector('#submitReply')
            const replyContent = document.querySelector('#PostContent')

            btnSubmit.addEventListener('click', event => {
                event.preventDefault();
                Swal.fire({
                    title: '是否要送出回覆？',
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: '確定',
                    cancelButtonText: '取消'
                }).then((result) => {
                    if (result.isConfirmed) {
                        tinyMCE.triggerSave();//當您使用ajax提交表單時，Tinymce不會更新隱藏文本區域輸入字段的html內容。在提交表單之前，您需要手動更新 textarea輸入字段的content/html tinyMCE.triggerSave()
                        const formData = new FormData(document.replyForm);
                        fetch('@Url.Content("~/ForumApi/PostReply")', {
                            body: formData,
                            method: "POST"
                        }).then(response => {
                            if (response.ok) {
                                Swal.fire({
                                    icon: 'success',
                                    title: '回覆成功',
                                    text: '即將重新整理頁面，請稍後。',
                                    showConfirmButton: false,
                                    timer: 2000,
                                    timerProgressBar: true,
                                }).then(() => {
                                    // 成功訊息顯示後，重新整理頁面
                                    location.reload();
                                });
                            }
                            else {
                                Swal.fire({
                                    icon: 'error',
                                    title: '回覆失敗，請確認資料。',
                                    showConfirmButton: false,
                                    timer: 2000
                                })
                            }
                        });
                    }
                });
            });
        }
        //--------------------------------------------主文章回覆結束--------------------------------------------

        //--------------------------------------------主樓底下留言開始--------------------------------------------
            const submitBtn = document.querySelector('#submitBtn');
            const commentInput = document.querySelector('#commentInput');

            submitBtn.addEventListener('click', event => {
            event.preventDefault();
            const formData = new FormData(document.firstFloorComment);
            fetch('@Url.Content("~/ForumApi/PostCommit")', {
                body: formData,
                method: "post"
            }).then(response => {
                if (response.ok) {
                    commentInput.value = "";//清空他
                    Swal.fire({
                        icon: 'success',
                        title: '留言成功成功',
                        text: '即將重新整理頁面，請稍後。',
                        showConfirmButton: false,
                        timer: 1000,
                        timerProgressBar: true,
                    }).then(() => {
                        // $('#firstFloorComm').load('@Url.Content("~/ForumApi/PostComment")' + '?id=' + @Model.MainPost.PostId)要思考之後能不能用partialview更新
                        location.reload();
                    })

                } else {
                    alert('新增失敗,請確認資料')
                }
            })
        });
                        //--------------------------------------------主樓底下留言結束--------------------------------------------


    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
}

<script src="~/lib/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: 'textarea#PostContent',
        menubar: false,
        plugins: [
            'a11ychecker', 'advlist', 'advcode', 'advtable', 'autolink', 'checklist', 'export',
            'lists', 'link', 'image', 'charmap', 'preview', 'anchor', 'searchreplace', 'visualblocks',
            'powerpaste', 'fullscreen', 'formatpainter', 'insertdatetime', 'media', 'table', 'help', 'wordcount', 'image'
        ],
        toolbar: 'undo redo | a11ycheck casechange blocks | bold italic forecolor backcolor | alignleft aligncenter alignright alignjustify |' +
            'bullist numlist checklist outdent indent | image | table help',
    })
</script>
