@model prjCoreWantMember.ViewModels.ForumPostViewModel
@using System.Web;
@{
    ViewData["Title"] = "PostView";
    int categoryId = Model.MainPost.ForumPostCategories.FirstOrDefault().CategoryId;
    string categoryTitle = Model.MainPost.ForumPostCategories.FirstOrDefault().Category.Title;
}

<div class="container col-9">
    <nav class="breadcrumb  mt-4">
    <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Content("~/Forum/CategoryList")">討論區</a></li>
        <li class="breadcrumb-item">@Html.ActionLink(@categoryTitle, "PostList", "Forum", new { categoryId = categoryId }, null)</li>
        <li class="breadcrumb-item active">@Model.MainPost.Title</ li >

    </ol>
    </nav>

<!--回覆文章按鈕-->
    <a class="btn go-right" href="#goreply">回應此文章</a>

    <!--#1的部分-->
    <div class="mybg-color rounded-3 end-float">　
        <div class="bg-body rounded-3 border mx-3 p-3">
        <h4 class="border-bottom"><i class="bi bi-chat-right-heart-fill text-danger text-opacity-50"></i> @Model.MainPost.Title</h4>
        <div class="p-3">
            <div class="border-bottom row">
                    <span class="col-8"><span class="badge bg-light badge-pill">樓主</span>  @Model.MainPost.Account.UserName</span>
                <span class="col-4 text-end">
                    <span class="small text-body-tertiary">@Model.MainPost.Created</span>
                    <span class="small small text-body-tertiary">觀看次數: @Html.DisplayFor(model => model.MainPost.ViewCount)</span>
                        <span class="badge rounded-pill bg-danger bg-opacity-25 bi bi-heart-fill text-danger text-opacity-75"> like</span>
                </span>
            </div>
            <div class="col-11 m-auto pt-3">
                @Html.Raw(HttpUtility.HtmlDecode(Model.MainPost.PostContent))

            </div>
        </div>
        @{
            if (Model.MainPost.Updated != null)
            {
                <div class="small text-body text-opacity-50 text-end">最後更新時間：@Model.MainPost.Updated</div>
            }
        }
        <hr />
        @*主樓留言*@
        <div class="row justify-content-end me-1 small">
        <div class="bg-light col-11">
            @{
                int count = 0;
                foreach (var comment in Model.MainComments)
                {
                    count++;
                        <div class="flex-column">
                            <span class="text-info">@comment.Account.UserName</span>
                            <span class="ml-auto">-@comment.Comment</span>
                                
                         <div class="small">B@(count) @comment.Created</div>
                            </div>
                        }
                    }
                    <!--留言-->
                    <button class="btn float-end btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#leaveAComment" aria-expanded="false" aria-controls="collapseExample">
                        留言
                    </button>
                    <div class="end-float"></div>
                    <div class="collapse" id="leaveAComment">
                        <div class="card card-body">
                            <textarea></textarea>
                            <button class="btn btn-sm">確定發出</button>
                        </div>
                    </div>
                    <!--留言end-->
                </div>
            </div>

        </div>　
    </div>

    @*#2之後的部分*@
    @{
        int floorCount = 0;
        foreach (var item in Model.Replies)
        {
            floorCount++;
            if (item.Status == 3)//處理已刪除回文的顯示
        {
            <br />
                <div class="mybg-color bg-opacity-10 rounded-3">　
                    <div class="bg-body rounded-3 border mx-3 p-3">
                    <div class="px-3">
                        <div class="border-bottom row">
                            
                        </div>

                        <div class="col-11 m-auto text-body d-inline-flex align-middle">
                                <span class="badge bg-light badge-pill">@(floorCount)樓</span>
                                <i class="bi bi-trash-fill text-danger text-opacity-50 ms-3"></i>此文章已刪除
                                <span class="text-body text-opacity-50 ms-3">原作者:@item.Account.UserName</span>
                            @{
                                if (item.Updated != null)
                                {
                                    <span class="small text-body text-opacity-50 ms-3">刪除時間：@item.Updated</span>
                                }
                            }
                        </div>
                    </div>
                    <hr class="m-0" />
                </div>　
            </div>
        }
        else{//正常回文的顯示
        <br />
        <div class="mybg-color bg-opacity-10 rounded-3">　　
            <div class="bg-body rounded-3 border mx-3 p-3">
                <div class="p-3">
                    <div class="border-bottom row">
                                <span class="col-8"><span class="badge bg-light badge-pill">@(floorCount)樓</span> @item.Account.UserName</span>
                        <span class="col-4 text-end">
                            <span class="small text-body-tertiary">@item.Created</span>
                                    <span class="badge rounded-pill bg-danger bg-opacity-25 bi bi-heart-fill text-danger text-opacity-75"> like</span>
                                </span>
                    </div>

                    <div class="col-11 m-auto pt-3">
                        @Html.Raw(HttpUtility.HtmlDecode(item.PostContent))
                    </div>



                </div>
                @{
                    if (item.Updated != null)
                    {
                        <div class="small text-body text-opacity-50 text-end">最後更新時間：@item.Updated</div>
                    }
                }
                <hr />
                        @*2樓以後留言*@
                        <div class="row justify-content-end me-1 small">
                            <div class="bg-light col-11">
                                @{
                                    int count2 = 0;
                                    foreach (var comment in Model.SecondComments)
                                    {
                                        count2++;
                                        <div class="flex-column">
                                            <span class="text-info">@comment.Account.UserName</span>
                                            <span class="ml-auto">-@comment.Comment</span>

                                            <div class="small">B@(count2) @comment.Created</div>
                                        </div>
                                    }
                                    <!--留言-->
                                    <button class="btn float-end btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#leaveAComment@(floorCount)" aria-expanded="false" aria-controls="collapseExample">
                                        留言
                                    </button>
                                    <div class="end-float"></div>
                                    <div class="collapse" id="leaveAComment@(floorCount)">
                                        <div class="card card-body">
                                            <textarea></textarea>
                                            <button class="btn btn-sm">確定發出</button>
                                        </div>
                                    </div>
                                    <!--留言end-->
                                }
                            </div>
                        </div>

            </div>　
        </div>
        }

    }
}


    <div class="form-group my-5" id="goreply">
        <h4 class="text-center text-body">Reply Here...</h4>
        <hr>
        <div class="col-md-10 m-auto">
            <textarea id="tiny" name="Reply"></textarea> @* todo *@
            <input type="submit" value="確定發出" class="btn btn-primary opacity-50 go-right mt-2" />
        </div>
    </div>



    <p class="text-center my-5">
    @Html.ActionLink("回上一頁", "PostList", "Forum", new { categoryId = categoryId }, null)
</p>
</div>


@section Styles{
    <style>
        a:link {
            color: #46576b;
        }

        a:visited {
            color: #434b53;
        }

        a:hover {
            color: #5c6570;
        }

        a:active {
            color: #445971;
        }

        .mybg-color{
            background: #eaf0f6;
        }

        .go-right{
            float:right;
        }

        .end-float{
            clear: both;
        }

        hr {
            border: 0;
            height: 1px;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
        }

    </style>


}

<script src="~/lib/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: 'textarea#tiny',
        menubar: false,
        plugins: [
            'a11ychecker', 'advlist', 'advcode', 'advtable', 'autolink', 'checklist', 'export',
            'lists', 'link', 'image', 'charmap', 'preview', 'anchor', 'searchreplace', 'visualblocks',
            'powerpaste', 'fullscreen', 'formatpainter', 'insertdatetime', 'media', 'table', 'help', 'wordcount'
        ],
        toolbar: 'undo redo | a11ycheck casechange blocks | bold italic forecolor backcolor | alignleft aligncenter alignright alignjustify |' +
            'bullist numlist checklist outdent indent | removeformat | code table help'
    })
</script>
}