@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;

@model prjCoreWantMember.ViewModels.ForumPostListModel

@{
    ViewData["Title"] = "討論區";
    int categoryId = ViewBag.CategoryId;
}

<div class="container" style="">

    <nav class="breadcrumb  mt-4">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Content("~/Forum/CategoryList")">討論區</a></li>
            <li class="breadcrumb-item active">@ViewBag.CategoryTitle</ li >
    </ol>
</nav>

<div class="d-inline-flex mb-3">
        <span class="btn-group  me-3 btn btn-round">
        <i class="bi bi-pencil-square me-2"></i> 
        @Html.ActionLink("發表文章", "CreatePost", new { categoryId = categoryId })
    </span>

@using (Html.BeginForm())
{
        <span class="input-group">
            <input type="text" placeholder="Search forums..." class="form-control" autocomplete="off" name="q" tabindex="101" value="@ViewBag.CurrentQ">
            <button tabindex="102" class="input-group-text" type="submit" value=""><i class="bi bi-search"></i></button>
    </span>
}
</div>

    <div class=" m-1 ">
        <table class="table text-start align-middle">
            <thead class="h5  table-color table-primary">
        <tr >
        <th class="col-4">
           <div class="my-1">文章標題</div>
        </th>
        <th class="text-center col-2">
                        <div class="my-1">回覆數/觀看次數</div>
        </th>
        <th class="text-center col-2">
                        <div class="my-1">
                            發文時間

            @Html.ActionLink(" ", "PostList", "Forum", new { categoryId = categoryId, OrderBy = "Date" ,q=ViewBag.CurrentQ}, new { @class = "bi bi-arrow-up-square link-underline link-underline-opacity-0" })

            @Html.ActionLink(" ", "PostList", "Forum", new { categoryId = categoryId, OrderBy = "Date_desc",q=ViewBag.CurrentQ }, new { @class = "bi bi-arrow-down-square link-underline link-underline-opacity-0" })
                        </div>
        </th>
        <th class="text-center col-2">
                        <div class="my-1">最後更新時間</div>
        </th>
        <th class="text-center col-2">
                        <div class="my-1">最新回覆</div>
        </th>
    </tr>
        </thead>
    @foreach (var item in Model.PagedPosts)
    {
        <tr class="myfont">
            <td>
                        <a href="@Url.Action("PostView", "Forum", new { postID = item.PostId })">
                            <div class="h5 fw-light m-1">@Html.DisplayFor(modelItem => item.Title)</div>
                            <div class="text-info text-opacity-75 m-1">@Html.DisplayFor(modelItem => item.Account.UserName)</div>
                        </a>
            </td>
                    <td class="text-center small">
                    @{
                        int postID = item.PostId;
                        int replyCount = Model.ReplyCounts.ContainsKey(postID) ? Model.ReplyCounts[postID] : 0;

                    }
                    @replyCount <i class="bi bi-reply-fill"></i> / @Html.DisplayFor(modelItem => item.ViewCount)  <i class="bi bi-eye-fill"></i>
            </td>
                    <td class="text-center small">
                @Html.DisplayFor(modelItem => item.Created)
            </td>
                    <td class="text-center small">
                @Html.DisplayFor(modelItem => item.Updated)
            </td>
            <td class="text-center small">
                    @Html.DisplayFor(modelItem => item.InverseParent.OrderByDescending(p=>p.Created).FirstOrDefault().Created)
                    <br>
                    @Html.DisplayFor(modelItem => item.InverseParent.OrderByDescending(p=>p.Created).FirstOrDefault().Account.UserName)
            </td>
        </tr>
    }

</table>
</div>

<div class="pagination justify-content-center my-5">


@Html.PagedListPager(Model.PagedPosts, page => Url.Action("PostList", new { page, OrderBy=ViewBag.CurrentSort, q=ViewBag.CurrentQ,categoryId=categoryId}),new PagedListRenderOptions {
    DisplayLinkToIndividualPages = true,
    DisplayPageCountAndCurrentLocation = false,
    MaximumPageNumbersToDisplay = 10,
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new string[] { "page-link" },
    UlElementClasses = new string[] { "pagination pagination-sm" }
})
</div>

</div>

@section Styles{
    <style>
        .myfont{
            font-family: 'Noto Sans TC', sans-serif;
            font-weight: 300;
        }

        table {
            border-collapse: separate;
            border-spacing: 0;
        }

        td {
            height: 90px;
            vertical-align:central;
        }

        .table-color{
            background-color: #d4e4ef;
        }
    </style>

}